/* CSS Reset */
*{ margin: 0; padding: 0; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
ul, li { margin: 0; padding: 0; list-style: none;}
img, div, iframe{ border: 0;}
body, html { width: 100%; height: 100%;}
h1{ display: none;}
p{ font-size: 1.125rem; color: #493824; font-weight: 600; text-align: center; line-height: 1.8;}
a{ text-decoration:none; transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
-moz-transition:all .5s ease; cursor: pointer;}
a:link, a:visited ,a:hover ,a:active {text-decoration: none;}
body, html {height: 100%;width: 100%; -webkit-text-size-adjust: 100%; background: #fbf0ef;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
font-family: Helvetica,Arial,Hiragino Sans GB,WenQuanYi Zen Hei,儷黑 Pro,LiHei Pro,微軟正黑體,sans-serif;}
h1{ display: none;}
button{ transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease;
-moz-transition: all .5s ease;}

/*----- custom -----*/
.wrap{}
#navigation-menu img, .header img, .kv img, .stitle img, .qa img, .cancer img, .toggle-nav img, .social-line img, .quiz_pic img, .influenza img
, .prevent img, .risk img, .info img, .more img, .icon img, .link img, .result img, .school_box img, .btn_float a img
{ max-width: 100%; height: auto; display: block;
image-rendering: -moz-crisp-edges; /*Firefox*/
image-rendering: -o-crisp-edges; /*Opera*/
image-rendering: -webkit-optimize-contrast; /*Webkit*/
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor; /*IE*/
}
.clear{ clear: both; }
.contain{ width: 1200px; margin: 0 auto; position: relative;}
.stitle{ width: 373px; margin: 0 auto 35px;}
.toggle-nav, span.logo{ display: none;}
.info_box, .info_v1, .info_v2, .school_d1, .school_d2, .school_d3, .school_d4, .school_d5{ visibility: hidden; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {width: 100% !important;}
.btn_float{ display:flex; background: url(../images/btn_float.png) no-repeat; width: 140px; height: 234px; position: fixed; background-size: 100%; bottom: 0; right: 20px; z-index: 99; }
.btn_float a{ width: 40px; position: absolute; }
.btn_float a.fb{  left: 25px; top: 80px;}
.btn_float a.line{  right: 25px; top:80px;}
.pc{ display: block; }
.m{ display: none; }
.mb_10{ margin-bottom: 10px !important;}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   display: none;
}

/*----- header -----*/
.header{ background: #fff8ec; padding: 7px 60px; width: 100%; margin: auto;position: fixed; z-index: 100; left: 0; right: 0; }
.logo{ float: left; width: 331px; }
#bt-kv{ display: block; }
.navigation{ float: right; }
.navigation li{ display: inline-block; padding: 12px 0; margin: 0 15px; }
.navigation li a{ font-size: 1.125rem; font-weight: bold; color: #493824;}
.navigation li a.blue{ color: #6ca99e;}
.navigation li a:hover{ color: #d84444; }

/*----- kv -----*/
.kv{ width: 100%; margin: 0 auto ; overflow: hidden; background: url(../images/bg_kv.jpg) center no-repeat; background-attachment: fixed; position: relative; min-height: 930px; padding-top: 70px;}
.k1{ width: 279px;position: absolute; top: 145px; left: 55px; }
.k2{ width: 358px; position: absolute; top: 55px; right: 0;}
.title{ margin: 40px auto; width: 825px; text-align: center;}
.sub{ font-size: 2rem; font-weight: bold;text-shadow: -2px -2px 0 #f8f2ce, 2px -2px 0 #f8f2ce, -2px 2px 0 #f8f2ce, 2px 2px 0 #f8f2ce; margin-bottom: 20px; letter-spacing: 3px; }
.title p{ text-align: center; margin: 35px 0 50px; line-height: 31px; letter-spacing: 1px; }
.people, .t1, .t2, .t3, .vaccine, .syringe{ position: absolute; }
.people{ bottom: 0; left: 0; right: 0;}
.p_contain{ width: 1400px; margin: 0 auto; position: relative;}
.people .p{width: 1366px; margin: 0 auto;}
.t1{ left: 225px; top: 20px; width: 177px; }
.t2{ left: 635px; top: 155px; width: 115px; }
.t3{ right: 155px; top: 25px; width: 195px; }
.vaccine{ width: 62px; top: -50px; right: 145px; }
.syringe{ width: 105px; top: -40px; left: 180px; }

/*----- quiz -----*/
.quiz, .info{ background: url(../images/bg_quiz.jpg) repeat; position: relative; padding: 80px 0;}
.quiz_c{ margin: 0 200px; }
.bgdot{ background: url(../images/bg_quiz_2.jpg) repeat; position: absolute; top: 0; width: 100%; height: 262px;}
.progress { height: 11px; border-radius: 999px; background-color: #fff9e1; display:-ms-flexbox; display:flex; overflow:hidden; font-size:.75rem; border: 2px #56412c solid; margin: 40px 0 20px;}
.progress .progress-bar { background: #d84444; display:-ms-flexbox; display:flex; -ms-flex-direction:column; flex-direction:column; -ms-flex-pack:center; justify-content:center; color:#fff; text-align:center; white-space:nowrap; transition:width .6s ease;}
@media screen and (prefers-reduced-motion:reduce){
  .progress-bar{ transition:none;}
}
.progress-bar-striped{ background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size:1rem 1rem;}
.progress-bar-animated{ -webkit-animation:progress-bar-stripes 1s linear infinite; animation:progress-bar-stripes 1s linear infinite;}
#qa #qa-start .question { width: 100%; color: #493824; font-size: 1.5rem; padding: 15px 0 0; font-weight: bold;}
.quiz_pic{ width: 440px; margin: 0 auto 20px;}
.quiz_option{ margin-top: 20px; }
.quiz_option a{ background: #493824; width: 46%; display: inline-block; color: #fff3df; font-size: 1.125rem; text-align: center; padding: 10px 0; border-radius: 999px; margin: 7px 13px;}
.quiz_option a:hover{ background: #d84444; }
.result_pic{ width: 721px; margin:0 auto;}

.result .title { text-align: center; font-size: 1.75rem; color: #eb6d81; margin: 40px 0 30px 0;}
.result .img { width: 100%; min-height: 280px; position: relative;}
.answer .a_title{ text-align: center; color: #d84444; font-size: 1.75rem;  margin-bottom: 20px;}
.answer .a_bt, .result .a_bt{ width: 40%;  margin: 0 auto; text-align: center; margin-top: 30px; }
.answer .a_bt a, .result .a_bt a{ background: #493824;display: block;color: #fff3df;padding: 12px 0; border-radius: 999px; font-size: 1.375rem; font-weight: bold; }
.answer .a_bt a:hover, .result .a_bt a:hover{ background: #d84444; }
.result_share{ text-align: center !important; margin: 20px 0 40px; }
.result_txt{ margin-top: 20px; }
.result_txt span{ color: #d84444; font-size: 1.5rem; font-weight: bold;}

/*----- school -----*/
.school{ background-image: url(../images/bg_school.jpg); background-repeat: no-repeat; background-position: center; background-position: top; background-color: #e49c7b; position: relative; padding: 80px 0;}
.school_box{ width: 100%; border: 3px #493824 solid; background: url(../images/bg_school_box.jpg) repeat; border-radius: 10px; margin: 80px 0; padding: 60px 100px 40px; position: relative; }
.school_d1, .school_d2, .school_d3, .school_d4, .school_d5{ position: absolute;z-index: 1; }
.school_d1{ width: 178px; right: -90px; top: 70px;}
.school_d2{ width: 248px; left: -200px; top: 1330px; }
.school_d3{ width: 221px; right: -140px; top: 990px; }
.school_d4{ width: 183px; right: -130px; top: 2210px;}
.school_d5{ width: 195px; left: -160px; top: 2840px;}
.school_box p{ margin-bottom: 40px; padding: 0 60px; }
.school_box .title{ background: #493824; font-size: 1.75rem; text-align: center; border-radius: 999px; padding: 10px 0; color: #fff3df; font-weight: bold; position: absolute; top: -70px; left: 0; right: 0;}
.school_box .title1{ width: 250px; }
.school_box .title2{ width: 530px; }
.school_box .title3{ width: 360px; }
.school_box .title4{ width: 450px; }
.influenza_c{ display: flex; }
.influenza_c{ padding: 0 35px; }
.influenza{ width: 50%; }
.influenza:first-child{ margin-right: 90px; }

.rwd_table, .table{ width: 100%; margin-bottom: 20px; display: inline-block; word-break: break-all; table-layout: fixed; border-spacing:inherit; line-height: 1.4; }
.rwd_table thead { display: none;}
.rwd_table tbody { display: table; width: 100%; margin-bottom: 10px; font-size: 1rem; background-color: #fffdf9;}
.rwd_table tbody:last-child { margin-bottom: 0;}
.rwd_table th, .rwd_table td, .table th, .table td { padding: 5px 10px;}
.rwd_table td{ color: #493824; font-weight: bold; border-bottom: 1px solid #F1EBE4;}
.rwd_table th{ color: #fff3df; background:url(../images/bg_table.jpg) repeat; text-align: left; width: 25%; font-size: 1rem; vertical-align: top;}
.rwd_table span{ color: #d84444; }
.long{ background: #d84444; color: #ffffff !important; border-radius: 999px; padding: 5px 12px 2px; margin-left: 5px;}
.icon{ width: 22px; display: inline-block; vertical-align: middle; margin-bottom: 4px; margin-right: 5px; }
.no_show{ text-indent: -999px; }
.compare{ background:#ffe6c1;}

.prevent{ width: 21%; margin-right: 45px; position: relative; display: inline-block; vertical-align: top;}
.prevent .number{ position: absolute; left: 20px; width: 40px; top:-15px;}
.prevent dt{ font-size: 1.375rem; color: #d84444; font-weight: bold; margin: 30px 0 20px; }
.prevent dd{ font-size: 1.125rem; color: #493824; font-weight: 500; }
.prevent:nth-child(2){ margin-top: 20px; }
.prevent:nth-child(3){ margin-top: 40px; }
.prevent:nth-child(4){ margin-top: 60px; margin-right: -5px; }
.risk_box{ padding: 60px 0 0; margin-bottom: 0;}
.risk{ width: 25.5%; margin: 20px 35px; display: inline-block; vertical-align: top;}
.risk_c{ margin: -20px 0 30px; padding: 0 100px;}
.risk dd{ font-size: 1.375rem; color: #d84444; font-weight: bold; text-align: center; margin-top: 25px; }
.risk dd span{ display: inline-block; background: #d84444; width: 25px; height: 25px; border-radius: 999px; color: #fff3df; margin-right: 5px;}
.risk p{ font-weight: 500; line-height: 1.4; margin: 15px 0 0 0; padding: 0; font-size: 1rem; }
.strong{ background-color: rgba(176,140,86,0.4); width: 100%; padding: 50px 170px; font-size: 1.125rem; font-weight: 600; color: #493824; line-height: 1.8; text-align: center;}
.strong p{ font-size: 1.375rem; font-weight: bold; margin: 20px 0 0; }
.strong p span{ color: #ca1d1d; }

/*----- info -----*/
.info{ position: relative; }
.info_r{ position: absolute; right: 0; top: 0;}
.info_l{ position: absolute; left: 0; bottom: 0;}
.info p{ width: 840px; margin: 0 auto 80px;}
.info p a, .info p span{ color: #6ca99e; text-decoration: underline;}
.info p a:hover, .source a:hover{ color: #d84444;}
.info_box{ width: 80%; border: 3px solid #493824; border-radius: 10px; display: flex; margin-bottom: 50px; position: relative;}
.info_box_1{ background: url(../images/bg_info_box1.jpg) repeat; }
.info_box_2{ background: url(../images/bg_info_box2.jpg) repeat; float: right; }
.info_box .order{ position: absolute; top: -20px; width: 40px; left: 40px; }
.info_pic{ width: 293px; margin-left: 2px; justify-items: center; align-items: center; display: flex; }
.info_txt{ width: 60%; margin: 30px 0 30px 60px;}
.info_title{ font-size: 1.5rem; color: #493824; position: relative; font-weight: bold; margin-bottom: 15px; }
.info_title .q, .info_content .a{ position: absolute; width: 30px; left: -40px; top: 3px; }
.info_content{ font-size: 1.125rem; color: #493824; font-weight: 500; position: relative;}
.info_content span{ color: #b00c0c; font-weight: bold; }
.info_v1{ position: absolute; width: 318px; right: -150px; top: 70px; }
.info_v2{ position: absolute; width: 263px; bottom: 0; left: -170px; }
.source{ text-align: right; display: block; margin-bottom: 30px; color: #493824;}
.source a{ text-decoration: underline; color: #493824;}
.info_share{ text-align: right; font-size: 1.375rem; font-weight: bold; color: #493824; vertical-align: middle; }
.info_share a{ width: 57px; display: inline-block; margin: 0 5px; }

/*----- more -----*/
.more{ padding: 80px 0; background: url(../images/bg_more.jpg) repeat; }
.more_c{ padding-top: 20px; }
.more_box{ display: flex; padding: 0 80px; }
.more_pic{ width: 522px; margin-right: 50px; }
.more_txt{ width: 44%;color: #493824; }
.more_txt dt{ font-size: 1.5rem; font-weight: bold; }
.more_txt dd{ font-size: 1.125rem; margin: 25px 0 60px; }
.more_btn{ background:#493824; color: #fff3df; padding: 17px 60px 15px; border-radius: 999px;font-size: 1.125rem; font-weight: bold; }
.more_btn:hover{ background: #d84444; }

/*----- link -----*/
.link{ background: url(../images/bg_quiz.jpg) repeat; padding: 80px 0; position: relative;  text-align: center;}
.link_c{ display: flex; width: 1000px ; margin: 0 auto;}
.link_box{ width: 50%; margin: 0 40px; }
.link_box .tit{ font-size: 1.625rem;font-weight: bold; color: #493824; margin:0 0 30px;}
.link_logo{ margin:20px 0 40px; width: 421px;}
.link p{ font-size: 1rem; font-weight: 500; margin-top: 70px; }
.link p span{ width: 25px; background: #493824; height: 1px; display: inline-block; vertical-align: middle;margin-bottom: 5px; }
.link p span.left{ margin-right: 15px;}
.link p span.right{ margin-left: 15px;}
.link p span.code{ width: inherit; background: inherit; display: block; font-size: 0.875rem; height: inherit;}

.page_result_c{ padding:100px 0 60px;background: url(../images/bg_quiz.jpg) repeat; }
.page_result a{ width: 29%; }

/*----- Responsive -----*/
/* table */ 
@media screen and (min-width: 768px) {
.rwd_table { display: table; border-radius: 10px;}
.rwd_table thead { display: table-header-group;}
.rwd_table thead tr { display: table-row;}
.rwd_table thead th { display: table-cell;}
.rwd_table tbody { display: table-row; border: none;}
.rwd_table tbody:nth-child(even) tr { background-color: #fffdf9;}
.rwd_table tbody:nth-child(odd) tr { background-color: #f0ebde;}
.rwd_table th { display: none; text-align: left; width: auto; font-size: 1.375rem;}
.rwd_table th:first-child{ border-radius: 10px 0 0 0;}
.rwd_table th:last-child{ border-radius: 0 10px 0 0;}
.rwd_table tr { display: table-cell; vertical-align: top;}
.rwd_table td { border: 0; display: inline-block; padding: 10px 20px; text-align: left; font-weight: bold;}
.rwd_table span{ color: #d84444; }
.rwd_table th, .rwd_table td, .table th, .table td{ padding: 10px 20px; }
.long{ background: #d84444; color: #ffffff !important; border-radius: 999px; padding: 5px 12px 2px; margin-left: 5px;}
.icon{ width: 22px; display: inline-block; vertical-align: middle; margin-bottom: 4px; margin-right: 5px; }
.compare{ background:inherit;}
}

@media screen and (max-width: 1500px){
.header{ padding: 7px 40px; }
.navigation li{ padding: 9px 0; }
.navigation li a{ font-size: 1rem; }	
.kv{ min-height: 880px;}
.title{ width: 700px; }
.k1{ left: -50px;}
.k2{ right: -100px}
.p_contain, .people .p{ width: 1280px; }
.t1{ left: 185px; }
.t2{ left: 570px; top: 135px;}
.t3{ right: 125px; }
.syringe{ left: 140px; }
.vaccine{ right: 115px; }
.school_d1{ right: -40px; }
.school_d2{ left: -120px; }
.school_d3{ right: -40px; width: 191px; top: 1080px;}
.school_d4{ right: -40px; }
.school_d5{ left: -70px; }
.info_v1{ width: 240px; right: -30px; top: 130px; }
.info_v2{ width: 203px; bottom: 0; left: 10px; }
}

@media screen and (max-width: 1280px){
.header{ padding: 7px 30px;}
.navigation li{ margin: 0 5px; }
.logo{ width: 280px; }
.navigation li a{ font-size: 0.93rem; }
.kv{ min-height: 810px; padding-top: 50px;}
.contain{ width: 100%; padding: 0 40px; }
.sub{ font-size: 1.75rem; }
.p_contain, .people .p{ width: 1024px; }
.k1{ left: -120px;}
.k2{ right: -220px}
.t1{ left: 120px; top: -30px; }
.t2{ left: 440px; top: 95px;}
.t3{ right: 75px; top: -10px; }
.syringe{ left: 90px; top: -80px; }
.vaccine{ right: 65px; top: -70px; }
.quiz_c{ margin: 0 140px; }
.school_box{ padding: 60px 40px 40px; }
.risk_box{ padding: 60px 0 0;}
.school_d1{ width: 158px; top: -20px; }
.school_d2{ width: 198px; top: 1480px; }
.school_d4{ width: 163px; top: 2330px; }
.school_d5{ top: 2900px; }
.risk_c{ padding: 0 40px; }
.risk{ width: 27.5%; margin: 20px; }
.strong{ padding: 50px 100px; }
.prevent{ margin-right: 42px; }
.info_box{ width: 90%; }
.info p{ width: 81%; margin: 0 auto 80px 50px; }
.info_v1{ right: 0; }
.info_v2{ z-index: 1; }
.page_result a{ width: 28%; }
.info_txt{ padding: 0 10px 0 0; }
}

@media screen and (max-width: 1023px){
.header ul, .k1, .k2, .logo{ display: none; }
.school_d1, .school_d2, .school_d3, .school_d4, .school_d5{ display: none !important; }
span.logo{ width: 290px; display: block !important; margin:5px 0 5px 30px;}
.navigation{ float: none; }
.navigation li{ display: block; text-align: center; margin: 10px 7px; }
.navigation li a{ font-size: 1.25rem; }
.header {padding: 5px 0;}
.toggle-nav { padding:45px 12px 7px 15px; text-align: left; font-size:1.2rem; transition:color linear 0.15s; color: #fff;display: block;}
.c-hamburger{position: relative; overflow: hidden;}
.c-hamburger__line{ width: 25px; height: 4px;position: absolute;right: 30px;background-color: #493824;transition: transform 0.3s ease, top 0.3s ease 0.4s;
border-radius: 4px;}
.c-hamburger__line:nth-child(1){top: 17px;}
.c-hamburger__line:nth-child(2){top: 25px;}
.c-hamburger__line:nth-child(3){top: 33px;}
.is-open .c-hamburger__line{transition: top 0.3s ease, transform 0.3s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(1) ,.is-open .c-hamburger__line:nth-child(2){top: 23px;transform: rotate(135deg);
transition: top 0.3s ease, transform 0.4s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(3){top: 23px;transform: rotate(225deg);}
.kv{ min-height: 870px; padding-top: 80px; background-attachment: inherit;}
.title{ width: 630px; }
.p_contain{ width: 768px; }
.people .p{ width: 140%; }
.people .p img{ margin-left: -15%; }
.t1{ left: 180px; top: -60px; }
.t2{ left: 320px; top: 100px;}
.t3{ right: 35px; top: -20px; }
.syringe{ left: 130px; top: -90px; }
.vaccine{ right: 25px; top: -70px; }
.quiz_c{ margin: 0 10px; }
.school_box p, .influenza_c{ padding: 0; }
.influenza:first-child{ margin-right: 0; }
.prevent{ width: 42%; margin: 0 22px; }
.prevent:nth-child(2){ margin-top: 40px; }
.prevent:nth-child(3){ margin-top: 60px; }
.prevent:nth-child(4){ margin-top: 100px; margin-right: 0; }
.risk_box{ padding: 60px 0 0 ;}
.risk_box p{ padding: 0 40px ;}
.risk{ width: 42.5%; }
.strong{ padding: 50px 40px; }
.link_c, .link_logo, .info_box{ width: 100%; }
.link_c{ padding: 0 40px; }
.link_box{ margin: 0 20px; }
.info_box, .more_box{ display: block; }
.info_txt{ width: 80%; margin: 20px auto 30px; padding: 0; }
.info_pic{ margin: 0 auto; }
.info p{ margin: 0 auto 80px 0; }
.info_v1{ width: 220px; }
.info_v2{ width: 173px; bottom: -50px; }
.more_txt{ width: 100%; margin-top: 40px; }
.more_btn{ display: block; width: 50%; margin: 0 auto; text-align: center; padding: 17px 0 15px; }
.more_pic{ width: 100%; margin: 0 auto; }
.more_txt dd{ margin: 25px 0 40px; }
.more_box{ padding: 0 50px; }
.result_pic{ width: 90%; }
.UpDown-1, .UpDown-2, .UpDown-3{ animation-name: none !important;}
.quiz_option a:hover, .result .a_bt a:hover{ background: #493824; }
}

@media screen and (max-width: 767px){
.k1, .k2, .owl-theme .owl-nav, .pc{ display: none !important;}
.link_c, .m{ display: block; }
.kv{ min-height: 745px; padding-top: 60px; }
.info_box, .info_v1, .info_v2, .school_d1, .school_d2, .school_d3, .school_d4, .school_d5{ visibility: visible; }
.stitle{ width: 330px; }
.title{ width: 85%; }
.sub{ margin-bottom: 10px; }
.p_contain{ width: 550px; }
.sub{ font-size: 1.5rem; }
.t1{ left: 60px; top: -60px; }
.t2{ left: 1600px; top: 120px;}
.t3{ right: 85px; top: -110px; }
.syringe{ left: 20px; top: -100px; }
.vaccine{ right: 40px; top: -140px; }
.quiz, .info{ padding: 60px 0; }
.quiz_pic{ width: 80%; }
.quiz_option a, .link_box{ width: 100%; }
.progress{ margin: 40px 0; }
.prevent{ width: 44%; margin: 0 10px; }
.school_box .title{ font-size: 1.375rem; }
.strong, .quiz_c p{ text-align: left; }
.school_box p{ text-align: center; }
.school_box .title1, .school_box .title2, .school_box .title3, .school_box .title4{ width: 82%; }
.influenza_c{ display: block; }
.influenza:first-child{ margin-right: auto; }
.influenza{ width: 100%; margin: 30px auto; }
.influenza:last-child{ margin-bottom: 0; }
.prevent:nth-child(2), .prevent:nth-child(3), .prevent:nth-child(4){ margin-top:20px; }
.prevent{ margin: 20px 10px; }
.prevent dt{ font-size: 1.25rem; margin: 20px 0 10px; }
.risk{ width: 44%; margin: 15px 10px; }
.risk dd p, .strong p, .more_box{ padding: 0; }
.link_box{ margin: 0; }
.link_logo{ margin: 0 0 40px; }
.link_box .tit{ margin: 0 0 20px; }
.info p{ width: 100%; margin: 0 auto 40px; text-align: left; }
.info_txt{ padding-left: 20px; }
.quiz_option a{ margin: 10px 0; }
.page_result_c p, .result_txt{ text-align: center !important; }
.result_pic{ width: 100%;}
.info_v1{ width: 120px; top: 0; }
.info_box, .info_v1, .info_v2, .school_d1, .school_d2, .school_d3, .school_d4, .school_d5{ animation-name: none !important;}
}

@media screen and (max-width: 550px){
.kv{ min-height: 680px; padding-top: 80px; }
.contain{ padding: 0 30px; }
.title{ width: 90%; margin: 0 auto; }
.p_contain{ width: 100%; }
.sub{ letter-spacing: 0; }
.t1{ left: 10px; top: -70px; }
.t2{ display: none;}
.t3{ right: -10px; top: -120px; }
.syringe{ left: -10px; top: -120px; }
.vaccine{ right: 0; top: -185px; }
.school_box{ margin: 60px 0; }
.school_box .title{ top: -30px; }
.prevent{ width: 100%; margin: 20px 0; }
.risk{ width: 100%; margin: 15px 0; }
.risk dd p{ text-align: center; }
}

@media screen and (max-width: 414px){
.link p span, .info_v2{ display: none; }
span.logo{ width: 230px; margin: 10px 0 5px 20px; }
.kv{ padding-top: 90px; min-height: 590px;  }
.c-hamburger__line{ right: 20px; }
.contain{ padding: 0 30px; }
.stitle{margin: 0 auto 20px; width: 90%;}
.syringe{ width: 70px; top: -90px; }
.vaccine{ width: 50px; top: -145px;}
.title{ width: 95%; }
.progress{ margin: 30px 0 20px; }
.quiz_pic{ width: 80%; }
.quiz_option a{ margin: 5px 0; font-size: 1rem; }
.quiz_c{ margin: 0; }
.quiz, .info, .school, .link, .more, .page_result_c{ padding: 40px 0; }
.school_box{ padding: 40px 20px 40px; }
.school_box .title1, .school_box .title2, .school_box .title3, .school_box .title4{ width: 98%; }
.school_box .title{ font-size: 1.125rem; }
.risk_box{ padding: 60px 0 0; }
.risk_box p{ padding: 0 20px; text-align: left; }
.school_box p{ text-align: left; }
.info_share, .source{ text-align: center; }
.strong p, .link_c{ padding: 0; }
.strong{ padding: 30px; }
.school_box{ margin: 60px 0 20px; }
.link{ padding: 50px 30px; }
.link p{ margin-top: 50px; }
.info_pic, .more_btn{ width: 90%; }
.more_txt{ margin-top: 20px; }
.more_txt dd{ margin: 20px 0 25px; }
.rwd_table th{ width: 34%; }
.btn_float{ width: 100px; height: 167px; right: 10px; }
.btn_float a.fb{  left: 12px; top: 52px; width: 35px;}
.btn_float a.line{  right: 12px; top:52px; width: 35px;}
.quiz_option{ margin-top: 10px; }
.more_txt dt{ font-size: 1.25rem; letter-spacing: -1px; }
.more_btn{ padding: 10px 0; }
.more_pic{ width: 95%; }
.owl-carousel .owl-stage-outer{ padding-bottom: 0; }
.owl-theme .owl-dots{ margin: 10px 0 20px 0; }
}

@media screen and (max-width: 320px){
.kv{ padding-top: 20px; min-height: 450px; }
.sub{ font-size: 1.25rem;}
.t1{ width: 155px;}
.t3{ width: 160px; top: -100px; }
.quiz_option a{ font-size: 0.97rem; }
.school_box .title{ line-height: 1.3; text-align: left; padding: 10px; }
.strong{ padding: 20px; }
.info_share{ font-size: 1rem; }
.rwd_table th{ width: 40%; }
}


/*----- animation -----*/
.animated {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-8%);}
  100% { opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-8%);}
  100% { opacity: 1;transform: translateY(0);}
}
.fadeIndown{
	animation-name: fadeIndown;
	-webkit-animation-name: fadeIndown;
	visibility: visible !important;
	animation-duration: 1;
	-webkit-animation-duration: 1s;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translate3d(0, 10%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInUp {
  0% { opacity: 0; transform: translate3d(0, 10%, 0);}
  100% { opacity: 1; transform: none;}
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1;
  -webkit-animation-duration: 1s;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
.fadeIn-1, .fadeIn-2, .fadeIn-3, .fadeIn-4, .fadeIn-5, .fadeIn-6{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
}
.fadeIn-1 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	visibility:visible !important;
}
.fadeIn-2 {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
.fadeIn-3 {
	animation-delay: 1.4s;
	-webkit-animation-delay: 1.4s;
}
.fadeIn-4 {
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
}
.fadeIn-5 {
	animation-delay: 1.8s;
	-webkit-animation-delay: 1.8s;
}
.fadeIn-6 {
	visibility:visible !important;
}

@keyframes UpDown {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-1, .UpDown-2{
	animation-name: UpDown;
 	-webkit-animation-name: UpDown;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.UpDown-1{
	animation-duration: 3.5s;
	-webkit-animation-duration: 3.5s;
}
.UpDown-2{
	animation-duration: 4s;
	-webkit-animation-duration: 4s;
}

@keyframes UpDown-3 {
  0% { transform: translate3d(0, 5%, 0);}
  50% { transform: translate3d(0, 15%, 0);}
  100% { transform: translate3d(0, 5%, 0);}
}
@-webkit-keyframes UpDown-3 {
  0% { transform: translate3d(0, 5%, 0);}
  50% { transform: translate3d(0, 15%, 0);}
  100% { transform: translate3d(0, 5%, 0);}
}
.UpDown-3{
	animation-name: UpDown-3;
 	-webkit-animation-name: UpDown-3;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-duration: 3.5s;
	-webkit-animation-duration: 3.5s;
}

@keyframes fadeInDown-2 {
  0% { opacity: 0; transform: translate3d(0, -3%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInDown-2 {
  0% { opacity: 0; transform: translate3d(0, -3%, 0);}
  100% { opacity: 1; transform: none;}
}
.fadeInDown-2 {
	animation-name: fadeInDown-2;
 	-webkit-animation-name: fadeInDown-2;
 	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
 	visibility:visible !important;
}



/*----- footer -----*/
.footer{ padding: 30px 0; background: #b9a389;border-top: 1px #8d7c69 solid; }
#commonhealth_footer {}
.commonhealth_footer-channel {
  width: 100%;
  font-size: 0.9375rem;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
}
.commonhealth_footer-channel ul {
  margin: 0;
  padding: 0;
}
.commonhealth_footer-channel li {
  display: inline-block;
  border-right: 1px solid #493824;
  padding-right: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.commonhealth_footer-channel li a {
  color: #493824;
  text-decoration: none;
  position: relative;
}
.commonhealth_footer-channel li a:after {
  content: "";
  background-color: #493824;
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -3px;
  display: inline-block;
  transition: .3s;
}
.commonhealth_footer-channel li a:hover:after {
  width: 100%;
  left: 0;
}
.commonhealth_footer-channel li:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
.commonhealth_footer-channel a:hover {
  color: #000;
}
.commonhealth_footer-copyright {
  color: #493824;
  font-size: 0.875rem;
  font-size: 14px;
  text-align: center;
}
.commonhealth_footer-copyright a{
	color: #493824;
	text-decoration: underline;
}
.commonhealth_footer-copyright a:hover{
	color: #0f0901;
}
.commonhealth_footer-channel br, .commonhealth_footer-copyright br {
  display: none;
}
@media (max-width: 768px) {
  .commonhealth_footer-channel {
    font-size: 0.875rem;
    font-size: 14px;
  }
  .commonhealth_footer-channel li {
    padding-right: 5px;
    margin-right: 3px;
  }
  .commonhealth_footer-copyright {
    font-size: 0.8125rem;
    font-size: 13px;
    line-height: 1.5;
  }
  .commonhealth_footer-channel br, .commonhealth_footer-copyright br {
    display: inline-block;
  }
  .commonhealth_footer-channel li:nth-child(4) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .commonhealth_footer-channel, .commonhealth_footer-copyright {
    font-size: 0.75rem;
    font-size: 12px;
  }
}



