/* CSS Reset */
*{ margin: 0; padding: 0; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
ul, li { margin: 0; padding: 0; list-style: none;}
img, div, iframe{ border: 0;}
body, html { width: 100%; height: 100%;}
h1{ display: none;}
p{ font-size: 1.125rem; color: #2a2a2a; line-height: 1.8;}
a{ text-decoration:none; transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
-moz-transition:all .5s ease; cursor: pointer;}
a:link, a:visited ,a:hover ,a:active {text-decoration: none;}
body, html {height: 100%;width: 100%; -webkit-text-size-adjust: 100%; background: #fbf0ef;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
font-family: Helvetica,Arial,Hiragino Sans GB,WenQuanYi Zen Hei,儷黑 Pro,LiHei Pro,微軟正黑體,sans-serif;}
h1{ display: none;}
button, a{ border-width:0; cursor: pointer; transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease;
-moz-transition: all .5s ease;}

/*----- custom -----*/
.wrap{}
#navigation-menu img, .header img, .kv img, .about img, .video img, .map img, .expand img, .expert img, .group img, .books img, .quiz img, .view img, .article img, .photo img
, .action img, .toggle-nav img, .more img, .chr img, .podcast img, .icon img, .btn_float a img
{ max-width: 100%; height: auto; display: block;
image-rendering: -moz-crisp-edges; /*Firefox*/
image-rendering: -o-crisp-edges; /*Opera*/
image-rendering: -webkit-optimize-contrast; /*Webkit*/
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor; /*IE*/
vertical-align: bottom;
}
.clear{ clear: both; }
.center{ text-align: center;}
.contain{ width: 1400px; margin: 0 auto; position: relative;}
.flex{ display: flex;}
.blockTitle{ font-size: 2.25rem; color:#2a2a2a; margin-bottom: 60px; position: relative; letter-spacing: 2px;}
.sTitle{ font-size: 1.5rem; font-weight: bold; color: #006835; margin-bottom: 40px;}
.toggle-nav, span.logo{ display: none;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {width: 100% !important;}
.btn_float{ display:flex; background: url(../images/btn_float.png) no-repeat; width: 100px; height:118px; position: fixed; background-size: 100%; bottom: 40px; right: 40px; z-index: 99; }
.btn_float a{ cursor: pointer; display: block; width: 100%;}
.btn_float:hover{ animation-play-state: paused;}
.pc{ display: block; }
.m, .hide{ display: none; }
.mb_10{ margin-bottom: 10px !important;}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled { display: none;}
.aboutPic, .aboutTxt, .v_box, .quiz_c, .mapPic, .mapTxt, .accordion, .view_box, .chr_content, .panels, .boos_content{visibility: hidden; }


/*----- header -----*/
.header{ background: #ffffff; padding: 4px 60px; width: 100%; margin: auto;position: fixed; z-index: 100; left: 0; right: 0; box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 25%); }
.logo{ float: left; width: 80px; margin-top: 7px; }
#bt-kv{ display: block; }
.navigation{ float: right; }
.navigation li{ display: inline-block; padding: 12px 0; margin: 0 15px; }
.navigation li a{ font-size: 1.25rem; font-weight: bold; color: #2a2a2a;}
.navigation li a:hover{ color: #006835; }

/*----- kv -----*/
.kv{ width: 100%; margin: 0 auto ; overflow: hidden; background: url(../images/bg_kv.jpg) center bottom no-repeat; background-attachment: fixed; position: relative; min-height: 820px; padding-top: 70px;}
.k1{ width: 279px;position: absolute; top: 145px; left: 55px; }
.k2{ width: 358px; position: absolute; top: 55px; right: 0;}
.title_content{width: 1000px; margin: 0 auto; position: relative; color: #fff; text-align: center;}
.title{ width: 850px; margin: -70px auto 0;}
.slogan{ width: 187px; position: absolute; top:130px; left:0;}
.sub{ font-size: 2.75rem; font-weight: bold;text-shadow: black 0.1em 0.1em 0.2em; letter-spacing: 3px; }
.sub_line{ display: inline-block; height: 1px; background: #fff; width: 50px; margin: 0 5px;}
.butterfly_1{ width: 35px; position: absolute; right: 40px; top: 170px;}
.butterfly_2{ width: 51px; position: absolute; right: -30px; top: 200px;}

/*----- about -----*/
.about{ background: #fff; padding-top: 120px; position: relative;}
.about .contain{ position: relative; z-index: 1;}
.aboutTxt{ padding: 110px 40px 0 0; margin-left: 80px; width: 40%;}
.title_about{ width: 740px; position: absolute; top: -80px; left: -80px;}
.aboutBG{ background:url(../images/bg.jpg) repeat ; position: absolute; height: 47%; width: 100%; bottom: 0;}

/*----- video -----*/
.video{ background: url(../images/bg.jpg) repeat; padding-top: 120px; position: relative;}
.video .btn_more{margin-top: -20px;}
.v_box{ width: 100%; background:linear-gradient(90deg, #ebeded 0%,transparent 0%, #ebeded 30%, #ffffff 50%, #ffffff 100%); margin-bottom: 40px; }
.v_box_last{ margin-bottom: 0;}
.videoPic{ width: 45%; position: relative;}
.videoPic .play{ width: 112px; height:112px; position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; z-index: 1;}
.videoPic .mask{ background: #000; opacity: 0.3; position: absolute; width: 100%;height: 100%; top: 0; left: 0; transition: opacity .5s ease;}
.videoPic:hover .mask{ opacity: 0;}
.videoPic img{ width: 100%;}
.videoTxt{ padding: 50px 0 50px 60px; width: 50%;}
.v_title{ font-size: 1.5rem; color: #ed6c00; font-weight: bold; margin-bottom:20px ; letter-spacing: 1px;}
.v_title span{ background: #ed6c00; border-radius: 999px; color: #fff; padding: 5px 20px; margin-right: 10px;}
.title_video{ width: 694px; position: absolute; top: -65px; right: 20px;}
.host{ font-weight: bold; color: #006835; display: inline-block; vertical-align: top; margin-bottom: 10px;}
.host span{ display: inline-block; margin-top: -5px; vertical-align: middle; margin-right: 5px;}
.host_name{ display: inline-block; line-height: 1.5; width: 80%;}
.intro{ margin-top: 30px;}
.videoTxt ul{ font-size: 1.125rem; margin-top: 30px;}
.videoTxt ul span.arrow_1, .mapTxt ul span.arrow_1, .chr .tick, .result-card_box ul span.arrow_1{ width: 20px; float: left; margin-right: 5px; height: 20px; display: inline-block; margin-top: 5px;}
.videoTxt ul li p, .mapTxt ul li p, .chr ul li p, .result-card_box ul li p{ float: left; width: 90%;}
.video_leaf1{ position: absolute; right: 0; top: 0; z-index: 1;}

/*----- quiz -----*/
.quiz{ background: url(../images/bg.jpg) repeat; padding: 120px 0; position: relative;}
.title_quiz{ width: 581px; position: absolute; top: -65px; right: 90px;}
.quiz_c{ width: 780px; margin: -30px auto 0; }
.process-bar{ height: 10px; background-color: #b5d676; display:-ms-flexbox; display:flex; overflow:hidden; font-size:.75rem; margin: 30px 0 ;}
.process-bar__bar{ width:0; background: #006835; display:-ms-flexbox; display:flex; -ms-flex-direction:column; flex-direction:column; -ms-flex-pack:center; justify-content:center; color:#fff; text-align:center; white-space:nowrap;   transition: width .6s ease-in-out;}
.questions-item{ display: none;}
.questions-item.active{display: block;}
.questions-card__pic{ padding: 0 100px;}
.questions-card__q{ font-size: 1.5rem; font-weight: bold; color: #006835; margin-top: 20px;}
.answer{ display: none; color: #006835; margin-top: 5px;}
.answer.show{ display: block;}
.answer span{ display: inline-block; vertical-align: bottom; margin-right: 5px;}
.answer .line{ height: 1px; background: #159255; width: 88%; float: right; margin-top: 15px;}
.answer p{ padding:0 0 10px; border-bottom: 1px solid #159255;}
.answer-btn, .next-btn, .result-btn{ font-size: 1.375rem; font-weight: bold; color: #fff; display: inline-block; background: #ed6c00; padding: 15px 0; border-radius: 999px; width: 220px; margin: 30px 30px 0;}
.answer-btn:hover, .next-btn:hover, .result-btn:hover, .join:hover{ background: #006835; }
.answer-btn-third{ display: block; width: 80%; margin: 30px auto 0;}
.next-btn, .result-btn{ display: none;}
.next-btn.show, .result-btn.show{ display: block; margin: 30px auto 0; font-weight: bold; text-align: center;}
.questions-card__answer-btns.hidden{display: none;}
.introArea.hidden, .process-bar__bar.hidden, .process-bar.hidden{display: none;}
.result-card{ padding-top: 60px;}
.result-card_box{ text-align: center; width: 90%; margin: 0 auto 60px;}
.result-card_box:last-child{ margin-bottom: 0;}
.result-card_b3 p{ text-align: left; margin-top: 30px;}
.result-card_box .tt{ font-weight: bold; color: #006835; font-size: 1.5rem; margin-bottom: 30px;}
.result-card_box dl{ margin: 0 10px; width: 32%;}
.result-card_box dl dd{ font-size: 1.25rem; font-weight: bold; margin-top: 20px;}
.result-card_box dl dd p{ font-weight: normal; margin-top: 10px; font-size: 1.125rem; text-align: left; line-height: 1.5;}
.result-card_box ul li { margin-bottom: 10px;}
.result-card_box ul li p { text-align: left;}
.result-card_box ul li p span{ color: #006835; font-weight: bold;}
.quiz_leaf1{ position: absolute; left: 0; top: 90px;}
.quiz_leafshadow1{ position: absolute; right: 0; top: 0;}

/*----- map -----*/
.map{ background: url(../images/bg_map.jpg) repeat;; padding-top: 120px; position: relative; color: #2a2a2a; text-align: center; padding: 100px 0; overflow: hidden;}
.mapTitle{font-size: 2.25rem; }
.mapTitle span{ color: #ed6c00; }
.mapTitle p{ width: 800px; margin: 0 auto; margin-top: 40px;}
.mapTitle p span{ background: #ed6c00;color: #fff; padding: 2px; }
.map_content{ padding: 0 40px 0 70px; margin-top: 50px;}
.mapPic{ margin:0 80px 0 40px; position: relative; }
.mapPic img{ width: 410px;;}
.mapPic p{ font-size: 1.875rem; position: absolute;text-align: left; line-height: 1.3; top: 70px; left: -80px; }
.mapTxt{ width: 55%;}
.mapTxt p{ text-align: left;}
.mapTxt ul li{ border-bottom: 1px solid #5c7c6c; padding: 20px 0;}
.mapTxt ul li:last-child{ border-bottom: none;}
.smoke, .smoke2, .smoke3{ position: absolute; top: 0; left: 0; width: 200%;}
.smoke{animation: 35s move1 infinite linear ;-webkit-animation: 35s move1 infinite linear ;}
.smoke2{ animation: 40s move2 infinite linear ;-webkit-animation: 40s move2 infinite linear ;}
.smoke3{ animation: 40s move3 infinite linear ;-webkit-animation: 40s move3 infinite linear ;}
@keyframes move1 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}
@-webkit-keyframes move1 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}

@keyframes move2 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}
@-webkit-keyframes move2 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}

@keyframes move3 {
    0% {
      left: 0%; }
    100% {
      left: -200%;} 
}
@-webkit-keyframes move3 {
    0% {
      left: 0%; }
    100% {
      left: -200%; } 
}

/*----- expand -----*/
.expand{ background: #fff; padding: 40px 0;}
.expand_content{ padding: 0 130px;}
.accordion > input[type="checkbox"] { position: absolute; left: -100vw;}
.accordion .content { overflow-y: hidden; max-height: 0; transition: max-height 0.5s ease-out; padding: 0 140px 0; background: #fff; position: relative; z-index: 1;}
.accordion .content .padding{ padding: 40px 0 0;}
.accordion .content .padding .expandPic{ width: 334px;}
.accordion .content .padding .expandTxt{ width: 55%; margin-left: 60px;}
.accordion .content .padding .expandTxt .tit{ color: #006835; font-size: 1.5rem; font-weight: bold; margin-bottom: 20px; line-height: 1.5;}
.accordion > input[type="checkbox"]:checked ~ .content { max-height: 1260px; overflow: visible;}
.accordion label { display: block;}
.accordion { border-bottom: 1px solid #a7a7a7; padding: 60px 0;}
.accordion:last-child{ border-bottom: none;}
.accordion > input[type="checkbox"]:checked ~ .content { padding: 0 140px 0; border-top: 0;}
.accordion .handle { font-size: 2.25em;}
.accordion .handle span, .questions-card .answer p span{ color: #ed6c00;}
.accordion label { color: #2a2a2a; cursor: pointer; font-weight: normal; position: relative;}
.accordion label:hover,
.accordion label:focus {}
.accordion .handle label:before { font-family: 'fontawesome'; content: "\f055  看更多"; display: inline-block; margin-right: 10px; font-size: 1.125rem; vertical-align: middle; position: absolute; right: 0; color: #006835; font-weight: bold;}
.accordion > input[type="checkbox"]:checked ~ .handle label:before { content: "\f056  收合";}

/*----- action -----*/
.action{ background-image: url(../images/bg_action.jpg); background-repeat: no-repeat; background-position: center; height: 640px; text-align: center; padding: 140px 0; letter-spacing: 1px;}
.action dt{ font-size: 3.75rem; line-height: 1.2; font-weight: bold;}
.action dt span{ color: #ed6c00;}
.action dd{ background: #ed6c00; font-size: 2.25rem; width: 38%; margin: 30px auto 50px; padding: 5px 0; color: #fff;}
.action dd span{ margin: 0 8px; display: inline-block;}
.action p{ width: 30%; margin: 0 auto;}

/*----- view -----*/
.view{ position: relative; background: url(../images/bg_view.jpg)50% 0 repeat fixed; padding: 120px 0 70px;}
.title_view{ width: 592px; position: absolute; top: -65px; right: 180px;}
.view_box{ background: #fff; width: 1115px; margin: 0 auto 70px;padding: 50px 80px 0; cursor: pointer !important;}
.vbox_1{ margin-left: 70px;}
.vbox_2{ margin-right: 70px;}
.topic{ width: 41%;font-size: 1.5rem; font-weight: bold; margin-left: auto;}
.topic dt{ background: #ed6c00; border-radius: 999px; color: #fff; display: inline-block; padding: 3px 20px; margin-bottom: 15px;}
.topic dd{ color: #ed6c00;}
.emore{ font-size: 1.125rem; display: inline-block; border: 2px solid #ed6c00; color:#ed6c00 ; border-radius: 999px;padding: 3px 20px; margin-top: 40px; float: right;}
.view_box:hover .emore{ background: #ffe3cc; }
.emore span{ margin-left: 5px; display: inline-block;}
.expert{ position: relative;}
.expert_1{ width: 351px;margin: -100px 0 0 80px;}
.expert_2, .expert_3, .expert_4, .expert_5, .expert_6{ width: 348px;}
.expert_2{ margin: -100px 0 0 30px;}
.expert_3{ margin: -100px 30px 0 0;}
.expert_4{ margin: -100px 30px 0 0;}
.expert_5{ margin: -140px 0 0 0;}
.expert_6{ margin: -100px 0 0 0;}
.ename{ font-size: 1.5rem; color: #006835; font-weight: bold; }
.ename_yu{ position: absolute; top: 0; left: 0; width: 140px;}
.ename_chen{ position: absolute; top: 120px; right: -120px; width: 140px;}
.ename_2{ width: 180px;}
.ename_4{ width: 250px;}
.dot{ width: 6px; height: 6px; background: #006835; display: inline-block; border-radius: 999px;float: left; margin-right: 7px; display: inline-block; margin-top: 10px;}
.ename ul{ margin-top: 10px;}
.ename ul li p{ float: left; width: 90%; font-size: 1rem; font-weight: 500; line-height: 1.3; margin: 3px 0;} 

/*----- photo -----*/
.photo{background: #fff; padding: 120px 0; display: flex; justify-content: flex-end;}
.photoTitle{ margin-left: -80px;}
.title_photo{ width: 693px; position: absolute; top: -105px; left: 50px;}
.photo_content{ width: 80%;}
.p_content .owl-nav .owl-next, .photo_box .owl-nav .owl-next{ background: url(../images/pod_next.png) no-repeat !important;width: 59px; height: 59px;}
.p_content .owl-nav .owl-prev, .photo_box .owl-nav .owl-prev{ background: url(../images/pod_prev.png) no-repeat !important; width: 59px; height: 59px;}
.photo_box{ padding-top: 70px;}
.photo_box .owl-nav .owl-next{ top: -20px; left: 80px;}
.photo_box .owl-nav .owl-prev{ top: -20px;}

/*----- petition -----*/
.petition{ background: url(../images/bg_petition.jpg)50% 0 no-repeat fixed; text-align: center; padding: 140px 0; color: #fff; letter-spacing: 1px;}
.petition dt{ font-size: 2.75rem; font-weight: bold; text-shadow: 0 0px 15px #16290f;}
.petition dt span{ display: inline-block; vertical-align: middle; margin: 0 10px;}
.petition dd, .join{ font-size: 1.5rem; display: inline-block; background:#ed6c00 ; margin-top: 30px; padding: 3px 15px;}
.join{ border-radius: 999px; color: #fff; padding: 15px 60px; font-weight: bold; margin-top: 0;float: right;}
.chr{ background-color:#fff; background-image: url(../images/bg_chr.png); background-position: center bottom; background-repeat: no-repeat; }
.chr_content{ padding: 50px 70px 120px; width: 45%;}
.chr_content p{ padding-bottom: 15px;}
.chr_tit{ font-size: 2.25rem; line-height: 1.5;border-bottom: 1px solid #939393;  margin-bottom: 30px; padding-bottom: 5px !important;}
.chr ul{ font-weight: bold;}
.chr ul li p{ border-bottom: none; font-size: 1.5rem; line-height: 1.3;}

/*----- article -----*/
.article{ background: url(../images/bg.jpg) repeat; padding: 120px 0 100px; position: relative;}
.title_article{ width: 812px; position: absolute; top: -40px; right: 80px;}
.wrapper{ display:flex; flex-direction: column; align-items: center;  padding: 0 40px;}
.tab{ cursor: pointer; margin:0 30px; display:inline-block;border-radius:999px; font-size: 1.5rem; position: relative;}
.tab a{ width: 100%; display: block; padding: 15px 30px; background: #006835; border-radius: 999px; color:#fff; }
.tab a:hover{ background: #fff; color:#006835 ;}
.panels{ width:100%; margin-top: 40px;}
.panel{ display:none; animation: fadein .8s;}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.a_content{ display: flex; margin: 30px 0;}
.a_box{ width: 30%; margin: 0 20px;}
.a_box a{ display: block; border-radius: 20px;}
.a_box a:hover{ -webkit-box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3); -moz-box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3); box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3);}
.a_box dl{ background: #fff; padding: 30px 30px 40px; min-height: 251px;}
.a_box dt{ font-size: 1.375rem; font-weight: bold; color: #373737; line-height: 1.3; min-height: 80px;}
.crisis .a_box dd, .greenlung .a_box dd{  font-size: 1.125rem; margin-top: 20px;}
.crisis .a_box dd, .greenlung .a_box dd{ color: #2a2a2a;}
.d_box dd span{ color: #777878; font-size: 1rem; margin-right: 10px; font-weight: normal;}
.d_box dd span.icon{ width: 18px; display: inline-block; margin: 0 5px -2px 0;}
.panel-title{ font-size:1.5em; font-weight:bold}
.radio{ display:none;}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel{ display:block}
#one:checked ~ .tabs #one-tab a, #two:checked ~ .tabs #two-tab a{ background: #fff; color: #006835;}
.btn_more{ font-size: 1.125rem; font-weight: bold; margin: 0 auto ; display: block; text-align: center; color: #006835; padding-top: 20px;}
.btn_more:hover{ text-decoration: underline;}
.article_leafshadow1{ position: absolute; left: -30px; top: 0;}

/*----- books -----*/
.books{ background: #fff; padding: 120px 0 40px; position: relative; }
.title_books{ width: 701px; position: absolute; top: -40px; right: 120px;}
.boos_content{ width: 850px; margin: 0 auto; position: relative;}
.boos_content a{ cursor: pointer;}
.boos_content a .books_box img{transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
  -moz-transition:all .5s ease;}
.boos_content a:hover .books_box img{-webkit-box-shadow: 10px 3px 30px rgba(127, 127, 127, 0.4); -moz-box-shadow: 10px 3px 30px rgba(127, 127, 127, 0.4); box-shadow: 10px 3px 30px rgba(127, 127, 127, 0.4);}
.books_box{ float: left; padding: 0 60px; width: 50%; margin-bottom: 80px;}
.boos_content a:nth-child(even) .books_box{margin-top: 60px;}
.books_box dl dt{ font-size: 1.5rem; color: #006835; text-decoration: underline; font-weight: bold; letter-spacing: 2px; margin: 30px 0 20px;}
.books_box dl dd{ font-size: 1.125rem; line-height: 1.5; color: #2a2a2a;}
.d_box a{ display: block; border-radius: 20px;}
.d_box a:hover{ -webkit-box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3); -moz-box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3); box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3);}
.book_leaf1{ position: absolute; right: 0; top: -30px;}
.book_leaf2{ position: absolute; left: 0; bottom: -160px; z-index: 2;}

/*----- podcast -----*/
.podcast{ background-color: #d4e7cd; padding: 120px 0 140px; background-image: url(../images/bg_podcast.png); background-repeat: no-repeat; background-position: center bottom;}
.title_podcast{ width: 747px; position: absolute; top: -70px; right: 130px;}
.p_content{ width: 780px; margin: 0 auto;}
.podcast_box{ width: 90%; margin: 0 auto;}
.p_content .owl-nav .owl-next{ right: -80px; top: 25%;}
.p_content .owl-nav .owl-prev{ left: -80px; top: 25%;}
.p_content .owl-dots .owl-dot span{ background: #fff;}
.p_content .owl-dots .owl-dot.active span{ background: #008830;}
.p_content .owl-dots .owl-dot.active span, .p_content .owl-dots .owl-dot:hover span {
  background: #008830; }

/*----- group -----*/
.group{ background: url(../images/bg.jpg) repeat; padding: 120px 0 80px;}
.title_group{ width: 737px; position: absolute; top: -40px; right: 80px;}
.group dl{ text-align: center; width: 775px; margin: 0 auto 40px; border-bottom: 1px solid #a7a7a7;}
.group dl:last-child{ border-bottom: none;}
.group dt{ font-size: 1.5rem; color: #006835;}
.group_l1, .group_l2, .group_l3, .group_l4, .group_l5, .group_l6{margin: 20px 30px 40px; display: inline-block;}
.group_l1{ width: 99px;}
.group_l2{ width: 182px;}
.group_l3{ width: 206px;}
.group_l4{ width: 315px;}
.group_l5{ width: 211px; margin-bottom: 50px;}
.group_l6{ width: 227px;}

/*----- Responsive -----*/
@media screen and (max-width: 1500px){
.header{ padding: 7px 40px; }
.navigation li{ padding: 9px 0; }
.title{margin: -40px auto 0;}
.contain{ width: 100%; padding: 0 40px; }
.aboutTxt{ width: 70%; padding: 40px 40px 0 0;}
.title_about{ width: 100%; top: -60px; left: 0;}
.title_video{ width: 45%; top: -55px; right: 120px;}
.title_quiz{ width: 36%;}
.title_view{ width: 42%; top:-73px;}
.title_photo{ width: 55%; top: -65px;}
.title_article{ width: 55%;}
.title_books{ width: 50%;}
.title_podcast{ width: 55%;}
.intro, .host_name, .videoTxt ul li p{ font-size: 1rem;}
.videoTxt{ padding: 40px 0 38px 60px;}
.videoTxt ul{ margin-top: 10px;}
.action dd{ width: 45%;}
.a_box dl{ min-height: 278px;}
.books{ padding: 100px 0 20px;}
.chr_content{ padding: 50px 70px 140px;}
}

@media screen and (max-width: 1280px){
.header{ padding: 7px 30px;}
.logo{ margin-top: 3px;}
.navigation li{ margin: 0 10px; }
.navigation li a{ font-size: 1.125rem; }
.kv{ min-height: 810px; padding-top: 50px;}
.slogan{ left: 0;}
.butterfly_1{ right: 70px;}
.butterfly_2{ right: 20px;}
.about{ padding-top: 80px;}
.aboutTxt{ margin-left: 60px;}
.aboutBG{ height: 57%;}
.blockTitle{ margin-bottom: 30px;}
.video{ padding: 120px 20px 0;}
.v_box{ width: 46%; float: left; background: #fff; margin: 0 2% 20px; }
.v_box:nth-child(2n+1){ clear: both; }
.v_box .flex{ display: block; padding: 0;}
.videoTxt{ width: 100%; padding: 40px; min-height: 490px;}
.host_name{ width: 100%;}
.videoTxt ul{ margin-top: 30px;}
.v_title span{ display: block; width: 40%; text-align: center; margin-bottom: 10px;}
.title_quiz{ width: 42%;}
.title_group{ width: 52%; top: -70px;}
.title_view{ top: -43px;}
.quiz_c{ margin: 0 auto;}
.map_content{ padding: 0;}
.mapPic{ margin: 0 40px 0 0; padding-bottom: 80px;}
.mapPic p{ bottom: 0; top: inherit; left: 20px;}
.mapTxt{ width: 70%;}
.expand_content{ padding: 0;}
.accordion{ padding: 40px;}
.accordion .content, .accordion > input[type="checkbox"]:checked ~ .content  { padding: 0 80px 0;  }
.accordion .handle label:before{ margin-top: 10px;}
.action{ background-image: url(../images/bg_action_s.jpg); background-size: cover; }
.action dd{ width: 55%;}
.view{ padding: 80px 20px 30px;}
.view_box{ width: 100%; padding: 50px 50px 0;}
.vbox_1{ margin-left: 0;}
.vbox_1 .emore{ margin-top: 10px;}
.vbox_2{ margin-right: 0;}
.expert_1{ margin: -100px 0 0 30px;}
.ename{ font-size: 1.25rem;}
.photo{ padding: 80px 0;}
.photo_box{ height: 370px;}/*比圖片多70px*/
.photo_box .owl-item img{ height: 300px;}
.p_content .owl-nav .owl-next, .photo_box .owl-nav .owl-next, .p_content .owl-nav .owl-prev, .photo_box .owl-nav .owl-prev{ width: 40px; height: 40px; background-size: 100% !important;}
.photo_box .owl-nav .owl-next{ left: 50px;}
.article{ padding: 100px 0;}
.wrapper{ padding: 0;}
.a_box{ width: 32%; margin: 0 10px;}
.a_box dl{ min-height: 310px; padding: 30px 25px 40px;}
.panels{ margin-top: 10px;}
.chr_content{ width: 70%;}
}

@media screen and (max-width: 1023px){
.flex{ display: block;}
.header ul, .logo, .smoke, .smoke2, .smoke3{ display: none; }
span.logo{ display: block !important; margin:5px 0 5px 30px;}
.navigation{ float: none; }
.navigation li{ display: block; text-align: center; margin: 10px 7px; }
.navigation li a{ font-size: 1.25rem; }
.header {padding: 5px 0;}
.toggle-nav { padding:45px 12px 7px 15px; text-align: left; font-size:1.2rem; transition:color linear 0.15s; color: #fff;display: block;}
.c-hamburger{position: relative; overflow: hidden;}
.c-hamburger__line{ width: 25px; height: 4px;position: absolute;right: 30px;background-color: #006835;transition: transform 0.3s ease, top 0.3s ease 0.4s;
border-radius: 4px;}
.c-hamburger__line:nth-child(1){top: 17px;}
.c-hamburger__line:nth-child(2){top: 25px;}
.c-hamburger__line:nth-child(3){top: 33px;}
.is-open .c-hamburger__line{transition: top 0.3s ease, transform 0.3s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(1) ,.is-open .c-hamburger__line:nth-child(2){top: 23px;transform: rotate(135deg);
transition: top 0.3s ease, transform 0.4s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(3){top: 23px;transform: rotate(225deg);}
.kv{ padding-top: 60px;}
.title_content{ width: 100%; padding: 0 20px;}
.sub{ font-size: 2.25rem;}
.title{ width: 90%; margin: 0 auto; }
.slogan{ width: 260px;top: 100px; left: 30px;}
.butterfly_1{ right: 170px; top: 50px;}
.butterfly_2{ right: 110px; top: 80px;}
.about{ padding:80px 40px 0 ;}
.aboutBG{ height: 100%; left: 0;}
.aboutPic{ width: 90%; margin: 0 auto;}
.aboutTxt{ margin: 0 auto; width: 90%;}
.title_about{ top: -20px;}
.intro{ font-size: 1rem; line-height: 1.6;}
.v_title span{ width: 55%;}
.videoTxt ul li p{ font-size: 1rem;}
.title_video{ width: 75%;}
.title_view{ width: 75%; top: -85px; right: 0;}
.quiz_c{ width: 100%;}
.title_quiz{ top: -40px; width: 75%; right: 0;}
.title_video{ width: 75%; right: 0;}
.title_group{ width: 75%; right: 0; top: -50px;}
.title_podcast{ width: 75%;}
.answer .line{ width: 80%;}
.map, .quiz, .group{padding:80px 40px; }
.mapTitle p{ width: 100%;}
.mapPic{ width: 50%; margin: 0 auto 40px; padding-bottom: 100px;}
.mapTxt{ width: 100%; margin: 0 auto;}
.accordion{ padding: 40px 20px;}
.accordion .handle{ font-size: 2rem;}
.accordion .content .flex, .result-card_box .flex{ display: flex;}
.accordion .content, .accordion > input[type="checkbox"]:checked ~ .content  { padding: 0;  }
.action dd{ font-size: 1.875rem; width: 64%;}
.action p{ width: 100%;}
.view{padding:110px 60px 30px;}
.view_box{ padding: 30px 50px 40px; margin: 0 auto 50px;}
.ename, .expert_2, .expert_3, .expert_4, .expert_5, .expert_6{ width: 60%;}
.expert_5{ width: 70%;}
.expert_1, .expert_2, .expert_3, .expert_4, .expert_5, .expert_6, .ename{ margin: 0 auto 10px;}
.group dl{ width: 100%; margin: 0 auto 30px;}
.topic{ width: 100%; margin-top: -30px; position: relative; text-align: center;}
.emore{ float: inherit; margin-top: 30px;}
.title_photo{ top: -35px; width: 75%; left: 0;}
.photo_box{ padding-top: 40px;}
.article{ padding: 80px 0;}
.a_content{ display: block;}
.a_box{ width: 80%; margin: 30px auto;}
.title_article, .title_books{width: 75%; right: 0;}
.tab{ margin: 0 10px;}
.a_box dt, .a_box dl{ min-height: inherit;}
.books{ padding: 80px 0 0;}
.boos_content{ width: 100%;}
.podcast{ padding: 80px 40px;}
.p_content{ width: 100%;}
.p_content .owl-nav .owl-next{ right: -40px; top: 33%;}
.ename_yu{ width: 32%; top: 30px; left: -10px;}
.ename_chen{ width: 28%; top: 110px; right: -40px;}
.chr{ background-position: right -415px bottom;}
.chr_content{ width: 61%; padding: 50px 70px 160px 20px;}
.videoTxt{ min-height: 600px;}
.UpDown-1, .UpDown-2, .UpDown-3{ animation-name: none !important;}

}

@media screen and (max-width: 767px){
.aboutPic, .mapPic, .chr_content, .aboutTxt, .mapTxt, .v_box, .quiz_c, .accordion, .view_box, .panels, .boos_content{ animation-name: none !important;}
.pc, .video_leaf1, .quiz_leafshadow1, .quiz_leaf1, .article_leafshadow1, .book_leaf1, .book_leaf2{ display: none !important;}
.link_c, .m{ display: block; }
.kv{ min-height: 790px; padding-top: 80px; }
.slogan{ width: 200px; top: 80px;}
.stitle{ width: 330px; }
.title{ width: 100%; margin: -20px auto 20px; }
.sub_line{ width: 30px;}
.p_contain{ width: 550px; }
.sub{ font-size: 1.5rem; }
.about{ padding: 60px 0 0;}
.aboutPic, .aboutTxt, .mapTxt, .accordion .content .padding .expandPic{ width: 100%;}
.video{ padding: 60px 40px 0;}
.v_box{ width: 100%; float: none; margin: 20px 0;}
.videoTxt{ min-height: inherit;}
.title_video{ width: 100%; right: 0;}
.answer-btn, .next-btn, .result-btn{ width: 44%; margin: 30px 10px 0;}
.answer-btn-third{ width: 100% !important; margin: 20px auto 0 !important;}
.map, .quiz{ padding: 60px 0;}
.mapTitle p, .introArea{ text-align: left;}
.mapPic{ width: 70%; }
.title_quiz, .title_books{ width: 100%; right: 0;}
.expand{ padding: 20px 0;}
.accordion{ padding: 40px 0;}
.accordion label{ padding-right: 90px;}
.accordion .content .flex{ display: block;}
.accordion .content .padding{ padding: 20px 0 0;}
.accordion .content .padding .expandTxt{ width: 100%; margin: 20px 0 0;}
.group, .photo{ padding: 60px 40px;}
.action{ padding: 100px 40px; height: inherit; background-position: right; text-align: left;}
.action dt{ font-size: 3rem;}
.action dd{ margin: 30px 0 30px; font-size: 1.5rem; width: inherit; display: inline-block;padding: 5px 10px;}
.action dd span{ width: 20px; margin: 0 3px; }
.action p{ text-align: left;}
.photo_content, .a_box{ width: 100%;}
.photoTitle{ margin-left: 0;}
.title_photo{ left: 0; width: 100%;}
.title_view{ width: 100%; top: -30px;}
.title_podcast{ width: 100%; right: 0; top: -40px;}
.title_group{ width: 100%; top: -40px;}
.title_article, .title_books{ width: 100%;}
.owl-theme .owl-dots{ margin-top: -10px;}
.petition dt{ font-size: 2.25rem;}
.article{ padding: 60px 0;}
.panels{ margin-top: 0;}
.tab{ font-size: 1.25rem;}
.tab a{ padding: 10px 25px;}
.books{ padding:80px 0 20px ;}
.books_box{ padding: 0 20px; margin-bottom: 40px;}
.books_box dl dt{ font-size: 1.25rem; letter-spacing: 0;}
.view{ padding: 60px 0px 20px;}
.ename, .expert_2, .expert_3, .expert_4, .expert_5, .expert_6{ width: 80%;}
.expert_1{ width: 90%;}
.view_box{ margin: 0 auto 30px; position: relative;}
.ename_yu, .ename_chen{ width: 36%;}
.ename_yu{ top: 0; left: -25px;}
.ename_chen{ top: 0; right: -40px;}
.chr{ background-image: none;}
.chr_m{ width: 100%;}
.chr_content{ padding: 50px 20px; width: 100%;}
.join{ float: none; margin-top: 10px;}
}

@media screen and (max-width: 550px){
.butterfly_1, .butterfly_2{ display: none;}
.kv{ min-height: 650px; padding-top: 60px; background-attachment: inherit; background-position: center bottom !important; }
.contain{ padding: 0 30px; }
.title{ width: 100%; margin: 0 auto; }
.title_content{ padding: 20px 20px 0;}
.p_contain{ width: 100%; }
.sub{ font-size: 1.25rem; letter-spacing: 0;}
.sub_line{ width: 20px;}
.slogan{ width: 100px; top: 70px; left: 20px;}
.photo_box{ height: inherit;}/*比圖片多70px*/
.photo_box .owl-item img{ height: inherit;}
span.logo{ width: 60px;}
.toggle-nav{ padding: 35px 12px 5px 15px;}
.c-hamburger__line:nth-child(1){ top: 10px;}
.c-hamburger__line:nth-child(2){ top: 18px;}
.c-hamburger__line:nth-child(3){ top: 26px;}
.blockTitle, .mapTitle, .accordion .handle{ font-size: 1.875rem;}
.sTitle, .v_title, .questions-card__q, .group dt{ font-size: 1.375rem;}
.blockTitle, .sTitle{ margin-bottom: 20px;}
.aboutTxt{ padding: 40px 0 0 0;}
.v_title span{ width: 100%;}
.videoTxt{ padding: 30px;}
.videoTxt ul li p, .mapTxt ul li p, .chr ul li p{ width: 87%;}
.mapTitle p, .map_content{ margin-top: 30px;}
.mapPic{ width: 100%; margin: 0 auto 20px;}
.accordion > input[type="checkbox"]:checked ~ .content{ max-height: 2060px;}
.tab{ font-size: 1.125rem; margin: 0 3px;}
.tab a{ padding: 5px 7px;}
.btn_more{ padding-top: 0;}
.group{padding: 60px 20px 40px;}
.view_box{ padding: 30px}
.topic{ font-size: 1.25rem;}
.topic dd{ text-align: left;}
.emore{ margin-top: 10px; font-size: 1rem;}
.ename{ width: 100%;}
.ename ul{ margin-top: 5px;}
.chr_content{ padding: 50px 0;}
.chr_tit{ font-size: 1.75rem; line-height: 1.3;}
.chr_content p{ line-height: 1.5;}
.chr ul li p{ font-size: 1.25rem;}
.join{ display: block; text-align: center; width: 80%; margin: 10px auto 0; padding: 10px 60px;}
}

@media screen and (max-width: 414px){
.sub_line, .title_about, .title_video, .title_quiz, .title_article, .title_group, .title_books, .title_view, .title_photo, .title_podcast{display: none;}
.kv{ padding-top: 30px; min-height: 550px;  background-size: 500%;}
.sub{ font-size: 1.375rem;}
span.logo{ margin: 5px 0 5px 20px; }
.c-hamburger__line{ right: 20px; }
.contain{ padding: 0 30px; }
.title{ width: 95%; }
.about{ padding: 40px 0 0;}
.blockTitle{ letter-spacing: 0;}
.answer-btn, .next-btn, .result-btn{ width: 40%;}
.answer .line{ width: 70%;}
.answer-btn, .next-btn, .result-btn{ padding: 10px 20px; font-size: 1.25rem;}
.questions-card__pic, .result-card{ padding: 0;}
.result-card_box{ margin-bottom: 40px;}
.result-card_box .tt{ margin-bottom: 20px;}
.result-card_box .flex{ display: block;}
.result-card_box dl{ margin: 0 auto 30px; width: 80%;}
.action{ padding: 100px 30px;}
.action dt{ font-size: 2.25rem;}
.action dd{ font-size: 1.125rem;}
.action dd span{ width: 15px;}
.petition{ padding: 100px 0;}
.petition dt{ font-size: 1.75rem; letter-spacing: 0;}
.petition dd{ font-size: 1.25rem; padding: 3px 0; width: 80%;}
.article{ padding: 40px 0;}
.a_box dl{ padding: 20px;}
.a_box dt{ font-size: 1.125rem;}
.crisis .a_box dd, .greenlung .a_box dd{ font-size: 1rem; margin-top: 10px;}
.books{ padding: 60px 0 20px;}
.books_box{ width: 100%; float: none;}
.boos_content a:nth-child(even) .books_box{margin-top: 20px;}
.books_box dl dt{ margin: 10px 0;}
.podcast{ padding: 60px 0;}
.p_content .owl-nav .owl-next{ display: none;}
.btn_float{ width: 100px; height: 167px; right: 10px; }
.btn_float a.fb{  left: 12px; top: 52px; width: 35px;}
.btn_float a.line{  right: 12px; top:52px; width: 35px;}
.result-card_box dl dd{ text-align: left;}
}

@media screen and (max-width: 390px){
.group_l4{ width: 275px;}
.group_l1, .group_l2, .group_l3, .group_l4, .group_l5, .group_l6{ margin: 20px 0 40px;}
}

@media screen and (max-width: 360px){
.kv{min-height: 450px;}
.sub{ font-size: 1.25rem;}
.slogan{ top: 60px;}
}


/*----- animation -----*/
.animated {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes fadeIn {
  0% { opacity: 0; filter: blur(20px);}
  100% { opacity: 1; filter: blur(0);}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; filter: blur(20px);}
  100% { opacity: 1; filter: blur(0);}
}
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	visibility: visible !important;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
}
.fadeIn-2{
	animation-delay: .5s;
	-webkit-animation-delay: .5s;
}
.fadeIn-3{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

@keyframes UpDown-1 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(-10%, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown-1 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(-10%, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-1{
	animation-name: UpDown-1;
 	-webkit-animation-name: UpDown-1;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  animation-duration: 2s;
	-webkit-animation-duration: 2s;
}

@keyframes UpDown-2 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(10%, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown-2 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(10%, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-2{
	animation-name: UpDown-2;
 	-webkit-animation-name: UpDown-2;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  animation-duration: 3s;
	-webkit-animation-duration: 3s;
}

@keyframes UpDown-3 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 0, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown-3 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 0, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-3{
	animation-name: UpDown-3;
 	-webkit-animation-name: UpDown-3;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

@keyframes UpDown-shadow {
  0% { transform: translate3d(0, 0, 0);}
  50% { transform: translate3d(-5%, 0, 0);}
  100% { transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes UpDown-shadow {
  0% { transform: translate3d(0, 0, 0);}
  50% { transform: translate3d(-5%, 0, 0);}
  100% { transform: translate3d(0, 0, 0);}
}
.UpDown-shadow{
	animation-name: UpDown-shadow;
 	-webkit-animation-name: UpDown-shadow;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
  animation-duration: 4s;
	-webkit-animation-duration: 4s;
}

@keyframes fadeInLeft {
  0% { opacity: 0; transform: translate3d(-5%, 0, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInLeft {
  0% { opacity: 0; transform: translate3d(-5%, 0, 0);}
  100% { opacity: 1; transform: none;}
}
.fadeInLeft {
	animation-name: fadeInLeft;
	-webkit-animation-name: fadeInLeft;
	visibility: visible !important;
}

@keyframes fadeInRight {
  0% { opacity: 0; transform: translate3d(5%, 0, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInRight {
  0% { opacity: 0; transform: translate3d(5%, 0, 0);}
  100% { opacity: 1; transform: none;}
}
.fadeInRight {
	animation-name: fadeInRight;
	-webkit-animation-name: fadeInRight;
	visibility: visible !important;
}


@keyframes fadeInDown {
  0% { opacity: 0; transform: translate3d(0, -3%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; transform: translate3d(0, -3%, 0);}
  100% { opacity: 1; transform: none;}
}
.fadeInDown{
	animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	visibility: visible !important;
}


/*----- footer -----*/
.footer{ padding: 30px 0; background: url(../images/bg.jpg) repeat; }
#commonhealth_footer {}
.commonhealth_footer-channel {
  width: 100%;
  font-size: 0.9375rem;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
}
.commonhealth_footer-channel ul {
  margin: 0;
  padding: 0;
}
.commonhealth_footer-channel li {
  display: inline-block;
  border-right: 1px solid #2a2a2a;
  padding-right: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.commonhealth_footer-channel li a {
  color: #2a2a2a;
  text-decoration: none;
  position: relative;
}
.commonhealth_footer-channel li a:after {
  content: "";
  background-color: #2a2a2a;
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -3px;
  display: inline-block;
  transition: .3s;
}
.commonhealth_footer-channel li a:hover:after {
  width: 100%;
  left: 0;
}
.commonhealth_footer-channel li:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
.commonhealth_footer-channel a:hover {
  color: #000;
}
.commonhealth_footer-copyright {
  color: #2a2a2a;
  font-size: 0.875rem;
  font-size: 14px;
  text-align: center;
}
.commonhealth_footer-copyright a{
	color: #2a2a2a;
	text-decoration: underline;
}
.commonhealth_footer-copyright a:hover{
	color: #000;
}
.commonhealth_footer-channel br, .commonhealth_footer-copyright br {
  display: none;
}
@media (max-width: 768px) {
  .commonhealth_footer-channel {
    font-size: 0.875rem;
    font-size: 14px;
  }
  .commonhealth_footer-channel li {
    padding-right: 5px;
    margin-right: 3px;
  }
  .commonhealth_footer-copyright {
    font-size: 0.8125rem;
    font-size: 13px;
    line-height: 1.5;
  }
  .commonhealth_footer-channel br, .commonhealth_footer-copyright br {
    display: inline-block;
  }
  .commonhealth_footer-channel li:nth-child(4) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .commonhealth_footer-channel, .commonhealth_footer-copyright {
    font-size: 0.75rem;
    font-size: 12px;
  }
}



