/* CSS Reset */
@charset "utf-8";
/* CSS Reset */
html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, textarea, p, blockquote, th, td, span, applet,
object, iframe,  a,abbr {padding: 0; margin: 0;}
table {border-collapse:collapse; border-spacing:0;}
address, caption, cite, code, dfn, em, th, var {font-weight: normal; font-style: normal;}
caption, th, td {text-align: left;}
fieldset, img, div, iframe {border: 0;}
header, div, li{ box-sizing: border-box; }
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-size: 100%;}
a, a:link, a:visited, a:hover, a:active {text-decoration: none;} 
ol, ul {list-style: none;} 
input, textarea, select, button {font-size: 100%; font-family: inherit;}
body, html { background:#fff; width: 100%; height: 100%;font-family: 'Noto Sans TC',Helvetica,Arial,Hiragino Sans GB,
WenQuanYi Zen Hei,儷黑 Pro,LiHei Pro,微軟正黑體,sans-serif; color: #3C3C3C; letter-spacing: 1px; font-size: 1rem; line-height: 1.5;}
a, button, .mask{ text-decoration:none; transition: all .3s ease;-webkit-transition:all .3s ease;-o-transition:all .3s ease;
-moz-transition:all .3s ease;}

/*----- common -----*/	
.wrap{ margin: 0 auto; margin-top: 92px; }
.clearFloat{ clear: both; }
nav img, .kv img, .product_box img, .footer_logo img, .tabs-content img, .slick-slide img, .equipment_box img, .pd img, .model img, .img img, .picbox img, .s_box img, .award img, .ins_kv_c img{ 
width: 100%; height: auto; display: block;
image-rendering: -moz-crisp-edges; /*Firefox*/
image-rendering: -o-crisp-edges; /*Opera*/
image-rendering: -webkit-optimize-contrast; /*Webkit*/
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor; /*IE*/
}
h2{ font-size: 2rem; font-weight: bold;}
.unit_t{font-size: 1.125rem; color: #183276; margin: 20px 0 30px;}
.serif{font-family: 'Noto Serif TC', serif;}
.breadcrumb{ font-size: 0.875rem; text-align: left; color: #2F85CB; padding-top: 40px;}
.breadcrumb span{ padding: 0 10px; }
.breadcrumb a{ color: #9D9D9D; }
.breadcrumb a:hover{ color: #2F85CB; }
.scroll, .tab_content_container, .product_c1, .product_c2, .award li, .service_c, .model, .pd_table, .img{ visibility: hidden; }
.full{ width: 100% !important; }
.m_t60{ margin-top: 60px; }

/*----- icon -----*/	
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v36uji');
  src:  url('../fonts/icomoon.eot?v36uji#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?v36uji') format('truetype'),
    url('../fonts/icomoon.woff?v36uji') format('woff'),
    url('../fonts/icomoon.svg?v36uji#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon_"], [class*=" icon_"] {
/* use !important to prevent issues with browser extensions that change fonts */
font-family: 'icomoon' !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
/* Better Font Rendering =========== */
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.icon{ margin-right: 8px; font-size: 1rem; color: #fff; }
.icon_arrow_r:before { content: "\e904";}
.icon_fax:before { content: "\e900"}
.icon_location:before { content: "\e901";}
.icon_mail:before { content: "\e902";}
.icon_phone:before { content: "\e903";}
.icon_home:before { content: "\e905";}
.icon_mail{font-size: 0.875rem;}
.icon_arrow_r{ margin-left: 20px; }

/*----- header -----*/  
.navbar { width: 100%; height: auto; color: #252a32; background: #ffffff; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.15); position: fixed; z-index: 10; box-sizing: border-box; top: 0;}
.navbar .navbrand { display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 1rem 2rem; background: #fff;}
.navbar .navbrand .burger { display: flex; flex-direction: row; justify-content: center; align-items: center; cursor: pointer; border: none; outline: none; background: none; transition: all 0.35s ease;}
.navbar .navbrand .burger-close, .navbar .navbrand .burger.active .burger-open  { display: none;}
.navbar .navbrand .burger.active .burger-close { display: flex;}
.navbar .menu { width: 100%; height: 0; overflow: hidden; transition: all 0.5s ease; padding-right: 1rem;}
.navbar .menu-item { margin: 0.5rem 0;}
.navbar .menu-link { font-family: inherit; font-size: 1rem; font-weight: 500; line-height: inherit; color: #183276; text-transform: uppercase; text-rendering: optimizeLegibility; transition: all 0.35s ease;}
.navbar .menu-link:hover { color: #2F85CB;}
.navbar .menu.active { width: 100%; margin: 3rem 0 10rem;}
.navbar .social { display: none; flex-direction: row; justify-content: center; align-items: center;}
.navbar .social-item { font-size: 1.65rem; line-height: inherit; margin: 0 0.5rem; color: #252a32; transition: all 0.35s ease;}
.navbar .social-item:hover { color: #148cb8;}
.logo{ width: 400px; display: block; }
.menu li.menu-item:last-child a{ border-bottom: none; }

/*----- footer -----*/  
.footer{ width: 100%; color: #fff; font-size: 0.93rem;
background: -webkit-linear-gradient(left top,#183276,#2F85CB);
background: -o-linear-gradient(bottom right,#183276,#2F85CB);
background: -moz-linear-gradient(bottom right,#183276,#2F85CB);
background: linear-gradient(to bottom right,#183276,#2F85CB);
}
.footer_c{ width: 1400px; margin: 0 auto; padding: 40px 0; }
.footer_logo{ float: left; width: 25%; }
.footer_intro{ float: right; }
.footer_intro ul{ padding: 20px 0; }
.footer_intro li{display: inline-block; margin: 0 15px; }

/*----- btn -----*/  
.btn{ font-size: 1.125rem; color: #fff; display: block; width: 280px; text-align: center; box-sizing: border-box; margin: 30px auto;}
.btn_white{ border: 1px #fff solid; padding: 15px 0; }
.btn_white:hover{ background-color: #484848; border: 1px #484848 solid; }
.btn_black{ background:#484848; color: #fff; padding: 15px 0; }
.btn_black:hover{ background:#2F85CB; }

/*----- index -----*/
.kv{ height: 700px; position: relative; }
.scroll{ position: absolute; bottom: -60px; left: 50%; z-index: 9; margin-left: -25px;}
.scroll dt{ width: 1px; height: 70px; background: #2F85CB; margin: 0 auto; }
.scroll dd{ width: 6px; height: 6px; border-radius: 999em;background: #2F85CB; margin: 0 auto; }
.kv .title{ float: left; width: 30%;color: #fff; height: 100%; display: flex; align-items: center; justify-content: center; font-size: 1.87rem; letter-spacing: 4px;
background: -webkit-linear-gradient(left top,#183276,#2F85CB);
background: -o-linear-gradient(bottom right,#183276,#2F85CB);
background: -moz-linear-gradient(bottom right,#183276,#2F85CB);
background: linear-gradient(to bottom right,#183276,#2F85CB);
}
.kv .title .t{ font-size: 3.5rem; margin-bottom: 20px; }
.kv .title .sub{ font-size: 1.12rem; margin-top: 80px;letter-spacing: 2px; }
.kv .pic{ float: right; width: 70%;}
.kv .pic .slide{width: 100%; height: 700px; background-size: cover; background-position: center; }
.slide_1{ background-image: url(../images/index_banner_1.jpg); }
.slide_2{ background-image: url(../images/index_banner_2.jpg); }
.slide_3{ background-image: url(../images/index_banner_3.jpg); }
.patents{ background-color: #F2F2F2; padding: 130px 110px; text-align: center; position: relative;}
ul.tabs { margin:0; padding:0; }
ul.tabs li { letter-spacing: 2px;font-size: 1.125rem;margin: 40px 15px; display: inline-block; }
ul.tabs li a { text-decoration: none;color: #484848;padding: 10px 40px;border: 1px solid #484848;display: block; letter-spacing: 2px; }
ul.tabs li a:hover, ul.tabs li a.active { background-color: #484848;color: #fff; }
.tab_content_container { width:100%; padding:20px; display:block;}
.tab_content { height:0; overflow:hidden; display: block;}
.tab_content_active { height:auto; }
.tab_content_active span { float:left; width:100px; margin-right:20px; }
.slide_P p{ text-align: center; margin-top: 20px; }
.slide_P .slick-slide{ margin: 0 20px !important; }
.u_t{ position: absolute; top: 0; right: 0; font-size: 6rem; color: #D5D5D5; font-weight: bold; opacity: .15; }
.about{ padding: 80px 0; background-image: url(../images/bg_about.jpg); background-position: center; background-color: #2c3d68; padding-right: 380px; background-attachment: fixed; background-repeat: no-repeat; background-size: cover; }
.about p{color: #FFFFFF; font-size: 1.125rem; width: 33%; float: right; line-height: 2; }
.about p a{ margin: 30px 0; }
.product{ text-align: center; position: relative; background: url(../images/bg_product.jpg) no-repeat; background-attachment: fixed; padding-bottom: 110px; background-size: cover;}
.product_t{background: #fff; position: relative; padding: 130px 0;}
.product_c{ display: flex; padding: 0 130px; position: relative; color: #fff;}
.product_c1{ margin-top: -80px; }
.product_box{ margin: 0 40px 80px; text-align: left;}
.product_box a, .equipment_box a{ display: block; position: relative; }
.product_box a .mask, .equipment_box a .mask{ opacity: 0;position: absolute; width: 100%; height: 100%; background-color: #2F85CB; display: flex; align-items: center; justify-content: center;}
.product_box a:hover .mask, .equipment_box a:hover .mask{ opacity: 0.9; color: #fff; font-weight: bold; letter-spacing: 2px; }
.product_intro{ font-size: 1.5rem; margin-top: 50px; }
.product_intro ul{ margin-top: 20px; }
.product_intro li{ font-size: 1rem; list-style: disc; margin: 5px 0 0 25px; }
.slide_P p{ font-size: 0.875rem; }

/*----- page -----*/
.page, .page_w{ margin-top: 92px; position: relative;}
.page{ background: #F2F2F2;}
.page_w{ background: #fff;}
.page .u_t{ top: -30px; }
.page_t{ background: #fff; width: 100%; text-align: center; padding:0 0 80px; }
.page_content{ width: 1400px;margin: 0 auto; text-align: center; }
/* equipment */
.equipment_content{ display: flex; padding-bottom: 80px;}
.equipment_content:first-child{ margin-top: -60px; }
.equipment_box{ width: 33%; margin: 0 25px; }
.equipment_box dd, .m_box dd{ background: #2F85CB; color: #fff; padding: 30px 0; font-size: 1.125rem; font-weight: bold; }
.equipment_box ul{ margin-top: 20px; }
.equipment_box li{ text-align: left; margin-top: 5px; background: url(../images/triangle_2.png) left 8px no-repeat; padding-left: 15px; }
/* equipment_page */
.pd{ margin-top: 240px; position: relative;
background: -webkit-linear-gradient(left top,#183276,#2F85CB);
background: -o-linear-gradient(bottom right,#183276,#2F85CB);
background: -moz-linear-gradient(bottom right,#183276,#2F85CB);
background: linear-gradient(to bottom right,#183276,#2F85CB); }
.pd_bg{ position: absolute; }
.pd_content{ padding-bottom: 40px; }
.pd .p_img{ width: 50%; margin: -200px 0 0 0; position: relative; float: left; }
.pd .p_img_s{ width: 42%; padding-bottom: 30px; }
.pd .p_intro{ color: #fff; text-align: left; margin: -140px 70px 0 0; width: 40%; float: right; }
.pd .p_intro .name{ color: #3c3c3c; font-size: 2rem; margin-bottom: 120px;}
.pd .p_intro .name p{ color: #183276; font-size: 0.93rem; margin-top: 10px; letter-spacing: 0 }
.pd .p_intro ul{ margin-bottom: 20px; }
.pd .p_intro li{ list-style: disc; margin: 0 0 10px 20px; }
.feature{ display: flex;text-align: left; margin: 40px 0; }
.f_box{ width: 50%; }
.f_box:first-child{ margin-right: 80px; }
.f_title{ width: 100%; border-bottom: 1px solid #D5D5D5; font-size: 1.5rem; color: #183276; margin-bottom: 40px;padding-bottom: 5px; font-weight: bold; text-align: left; }
.f_title span{ border-bottom: 1px solid #183276; padding-bottom: 5px; }
.f_content{}
.f_content li{ margin-bottom: 2px; padding: 7px 0; list-style: disc; font-size: 1.125rem;}
.f_content ul.strong{ font-weight: bold; color: #183276; padding: 10px 0 10px 50px; background: #F2F2F2; }
.f_content ul.normal{ padding: 10px 0 10px 50px; background: #F2F2F2;}
.f_content ul.no_bg{ padding: 10px 0 10px 50px;font-weight: bold; color: #183276; }
.f_content ul.no_bg li p{ font-weight: normal; color: #3c3c3c; margin-top: 10px; }
.img{ width: 90%; margin: 40px auto; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); }
.model{ padding-bottom: 100px; position: relative; margin-bottom: 40px;}
.model_bg{ position: absolute; width: 100%; height: 560px; bottom: 0;
background: -webkit-linear-gradient(left top,#183276,#2F85CB);
background: -o-linear-gradient(bottom right,#183276,#2F85CB);
background: -moz-linear-gradient(bottom right,#183276,#2F85CB);
background: linear-gradient(to bottom right,#183276,#2F85CB);
}
.model .m_box{ width: 26.5%; float: left; margin: 0 40px;box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); position: relative; }
.model .m_box dd p{ font-size: 1rem; font-weight: normal; }
.model_center .m_box{ display: inline-block; float: none; }
.model .mTop{ margin-top: -60px; }
.pd_table{ margin: 40px 0; }
.pd_table_noP{ padding-top: 0; }
.rwd_table, .table{ width: 100%; margin-bottom: 20px; background-color: #fefefe; display: inline-block; word-break: break-all;}
.rwd_table thead { display: none;}
.rwd_table tbody { display: table; width: 100%; margin-bottom: 30px; font-size: 0.93rem; border: 1px solid #183276;}
.rwd_table tbody:last-child { margin-bottom: 0;}
.rwd_table th, .rwd_table td, .table th, .table td { padding: 10px 15px;}
.rwd_table td{ color: #183276;}
.rwd_table th{ color: #fff; background-color: #183276; text-align: left; width: 30%;}
.rwd_table tr, .rwd_table tr:nth-child(odd) { border-bottom: 1px solid #183276;}

.switch{ width: 100%; margin: 80px 0 70px; }
.switch_c{ padding-bottom: 50px;border-bottom: 1px solid #D5D5D5; margin-bottom: 60px;}
.switch_c a{ display: block; font-size: 1.5rem; color: #3c3c3c;  }
.switch_c a:hover{ color: #183276; }
.switch_c a p{ font-size: 1rem; margin-bottom: 10px; }
.switch_c a.prev{ float: left;text-align: left; }
.switch_c a.next{ float: right; text-align: right; }

/* contact */
.contact{ width: 1000px; margin: 0 auto; padding: 50px 0 100px; }
.contact ul{ text-align: left; margin-bottom: 25px;}
.contact li.check{ list-style: none; display: inline-block; margin-right: 20px; }
.contact li.check label{ color: #3c3c3c; }
form{ font-size: 1.125rem; }
form div{ padding: 25px 0; }
form p.title{ padding: 0 0 10px; }
label, form p.title{ display: block; font-weight: bold; text-align: left; color: #183276;}
label span, form p.title span{ color: #CA5223; margin-left: 5px; }
input, textarea { width: 100%; font-weight: normal; margin-top: 0.5em; padding: 15px 20px; border: none; background:#E8E8E8; border-radius: 4px;  box-sizing: border-box;}
input:focus { outline-color: #2F85CB;}
input[type="checkbox"] + label {  margin: 0; font-weight: normal;  display: inline-block;}
textarea { line-height: 1.25em; }
input[type=checkbox]{ box-sizing: border-box; padding: 0; display: inline-block; margin-right: 0.25em; margin-top: 8px; clear: both; width: auto;}
input.t1{ width: 14.9%; display: inline-block; margin: 0; }
input.t2{ width: 65%; display: inline-block; margin: 0 20px; }
input:focus:invalid, textarea:focus:invalid{ color: #3c3c3c;}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */ color: #CDCDCD; opacity: 1; /* Firefox */}
:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #CDCDCD;}
::-ms-input-placeholder { /* Microsoft Edge */ color: #CDCDCD;}

/* about */
.about_page{ text-align: left; font-size: 1.125rem; padding: 0 40px; }
.pic_c{ display: flex; }
.pic_c .picbox{ width: 50%; margin-top: -20px; }
.pic_c .picbox:first-child{ margin: -60px 80px 0 0; }
.about_page .subt{ font-size: 2.25rem; margin-top: 40px; }
.about_page .subt p{ font-size: 1rem; color: #2F85CB; font-weight: bold; margin: 30px 0 10px; }
.about_page .s_l{ height: 4px; background: #2F85CB; width: 50px; margin-bottom: 40px; }
.txt_c{ display: flex; }
.txt_c .txt{ margin-right: 60px; width: 50%; }
.txt_c .txt p{ margin-bottom: 20px; }
.txt_c .history{ font-size: 1rem; width: 100%; margin: 0 auto; }
.txt_c .history p{ padding: 20px 0 20px 20px; border-top: 1px solid #D5D5D5; }
.txt_c .history p.item{ width: 20%; color: #183276; padding-left: 0; float: left;border-top: 1px solid #183276; }
.txt_c .history p.detail{ float: left; width: 74%; }
.txt_c .history div:last-child p.item{ border-bottom: 1px solid #183276;}
.txt_c .history div:last-child p.detail{ border-bottom: 1px solid #D5D5D5;}
.award{ background: url(../images/bg_award.jpg) center no-repeat; width: 100%; margin-top: 100px; font-size: 2.25rem; color: #fff; text-align: center; padding: 90px 0; }
.award p{ font-size: 1rem; margin: 30px 0 20px; }
.award li{ display: inline-block; margin: 0 70px;position: relative;}
.award li p{ position: absolute; font-size: 1.5rem; right: 0; left: 0; margin: auto; top: 40%; }
.service{  text-align: left; width: 100%; margin: 0 auto; position: relative; background: #fff; padding-bottom: 50px;}
.service_c{ width: 1000px; margin: 0 auto; padding: 60px 0 0;}
.service_c .s_box{ width: 50%; margin-right: 100px; position: relative;}
.service_c .s_box p{ margin-bottom: 40px; font-size: 2.25rem; }
.service_c .s_box_s{ float: left; margin-top: 20px; }
.service_c .s_box_e{ float: right; margin: 30px 0 0 0; }
.service_c .list{ margin-top: 80px; position: relative; display: inline-block; }
.service_c .list p{ color: #183276; font-size: 1.5rem; font-weight: bold; margin-bottom: 20px; }
.service_c .list ul{ padding: 10px 0; }
.service_c .list li{ font-size: 1.125rem; margin:10px 0; list-style: disc; margin-left: 25px; }
.bg{ position: absolute; background: #F2F2F2; height: 100%; width: 100%; }
.bg_s{ right: 0; }
.bg_e{ left: 0; }

/* Installations */
.install_kv{ width: 100%; background:#fff; position: relative; padding-bottom: 80px; margin-top: -40px; }
.ins_kv_c{ width: 100%; margin: 0 auto; }
.install_kv .pic{ width: 100%; height: 560px !important; background-size: cover; background-position: center; }
.in_slide_1{ background-image: url(../images/install_01.jpg);  }
.in_slide_2{ background-image: url(../images/install_02.jpg); }
.in_slide_3{ background-image: url(../images/install_03.jpg); }
.ins_bg{ position: absolute; bottom: 0; width: 100%; height: 80%;
background: -webkit-linear-gradient(left top,#183276,#2F85CB);
background: -o-linear-gradient(bottom right,#183276,#2F85CB);
background: -moz-linear-gradient(bottom right,#183276,#2F85CB);
background: linear-gradient(to bottom right,#183276,#2F85CB);
}
.install_kv .slick-dots{ text-align: center; margin-top: 40px; }
.install_kv .slick-dots li{ display: inline-block; }
.install_kv .slick-dots li button{ text-indent: -9999px; background:#fff; outline: none; border: none; padding: 0 20px; margin: 0 10px; height: 4px; cursor: pointer; }
.install_kv .slick-dots li.slick-active button, .install_kv .slick-dots li button:hover{ background:#2F85CB;}
.install{ padding-bottom: 80px; background: #fff; padding-top: 10px; }
.table{ display: table; color: #183276; }
.table tr:nth-child(even) { background-color: #F2F2F2;}
.table tr:nth-child(odd) { background-color: #fff;}
.table th{ color: #fff; background-color: #183276; text-align: left;}
.table th.number{ width: 18%; }
.pagination{ margin-top: 60px; }
.pagination .active{ background: #2F85CB; display: inline-block; color: #fff; padding: 5px 10px; margin: 0 5px; }
.pagination a{ display: inline-block; color: #3c3c3c; padding: 5px 10px; margin: 0 5px; }
.pagination a:hover{ color: #fff; background:#2F85CB;}
.pagination a.disable{ color: #E8E8E8; cursor: not-allowed; }
.pagination a.disable:hover{ color: #E8E8E8; background: none; }
.pagination p{ font-size: 1rem; margin-top: 30px; }
.pagination p span{ color: #2F85CB; }

/*----- RWD -----*/
/* table */ 
@media screen and (min-width: 1024px) {
.rwd_table { display: table;}
.rwd_table thead { display: table-header-group;}
.rwd_table thead tr { display: table-row;}
.rwd_table thead th { display: table-cell;}
.rwd_table tbody { display: table-row; border: none;}
.rwd_table tbody:nth-child(even) tr { background-color: #fff;}
.rwd_table tbody:nth-child(odd) tr { background-color: #F2F2F2;}
.rwd_table th { display: none; text-align: center; width: auto;}
.rwd_table tr { display: table-cell;}
.rwd_table tr, .rwd_table tr:nth-child(odd) { border-bottom: none;}
.rwd_table td { border: 0; display: inline-block; padding: 10px; text-align: center;}
}
/* header */  
@media only screen and (min-width: 769px) {
.navbar { display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin: 0 auto;}
.navbar .navbrand .burger { display: none;}
.navbar .menu { height: auto; text-align: right;}
.navbar .menu-item { padding: 0; margin: 0 2rem; display: inline-block;}
.navbar .social { display: flex;}
}

@media screen and (max-width: 1439px){
/* header */  
.navbar .menu{ width: 90%; }
.navbar .menu-item{ margin: 0 1em; }
/* index */ 
.index-banner{ width: 100%; }
.kv, .kv .pic .slide{ height: 560px; }
.kv .title{ font-size: 1.5rem; }
.kv .title .t{ font-size: 2.5rem; margin-bottom: 10px; }
.kv .title .sub{ font-size: 1rem; }
.patents, .about{ padding: 100px; }
.about p{ width: 45%; }
.product_c{ padding: 0 100px; }
.product_box{ margin: 0 20px 80px; }
.product_intro{ font-size: 1.25rem; margin-top: 40px; }
/* footer */ 
.footer_c{ width: 100%; padding:40px 20px; }
.footer_logo{ width: 22%; }
.footer_intro li{ margin: 0 10px; }
/* page */ 
.page_content{ width: 100%; padding: 0 40px; }
/* equipment-page */
.model_bg{ height: 90%; }
/* install */
.install_kv .pic{ height: 450px !important; }
}

@media screen and (max-width: 1280px){
.wrap, .page, .page_w{ margin-top: 80px; }
.logo, .contact{ width: 100%; }
.kv, .kv .pic .slide{ height: 460px; }
.kv .title{ font-size: 1.25rem; }
.kv .title .t{ font-size: 1.875rem; }
.kv .title .sub{ font-size: 0.87rem; }
.patents{ padding: 80px 60px; }
.u_t{ font-size: 5rem; }
.slide_P .slick-slide{ margin: 0 10px !important; }
.product{ padding-bottom: 80px; }
.product_c{ padding: 0 60px; }
.product_box{ margin: 0 20px 60px; }
/* footer */ 
.footer_logo{ width: 32%; float: none; margin: 10px auto 20px; }
.footer_intro{ float: none; text-align: center; }
/* page */ 
.page_t{ padding: 0 0 100px; }
/* equipment */
.equipment_box{ margin: 0 10px; }
/* equipment_page */
.pd .p_intro{ margin: -170px 70px 0 0; }
.pd .p_intro .name{ font-size: 2rem; margin-bottom: 100px; }
.model .m_box{ margin: -50px 32px 0;}
.model .mTop{ margin-top: -100px; }
/* about */
.about_page .subt, .service_c .s_box p, .award{ font-size: 1.875rem; }
.about_page{ font-size: 1rem; }
.txt_c .history li{ padding: 20px 0; }
.service_c{ width: 100%; padding: 60px 60px 0; }
/* install */
.install_kv{ margin-top: -70px; }
.install_kv .pic{ height: 400px !important; }
}

@media (max-width: 1024px) {
/* header */ 
.navbar .menu-item{ margin: 0 0.5em;}
.navbar .menu{ width: 80%; }
}

@media (max-width: 1023px) {
.wrap, .page, .page_w{ margin-top: 92px; }
/* index */ 
.kv{ height: auto; }
.kv .pic, .kv .title{ float: none; width: 100%; }
.kv .title{ justify-content: inherit; padding: 30px; }
.kv .title .t{ margin-bottom: 0; }
.kv .title .sub{ margin-top: 20px; }
.scroll{ bottom: -50px; }
.scroll dt{ height: 50px; }
.patents{ padding: 60px 40px; }
.u_t{ font-size: 4rem; }
.about{ padding: 400px 60px 60px; background-image: url(../images/bg_about_m.jpg); background-position: top; background-color: #2c3d68; background-attachment: inherit;}
.about p{ width: 100%; }
.about p a{ margin: 30px auto; }
.product_t{ padding: 80px 0 100px;}
.product_c{ padding: 0 40px; }
.product_box{ margin: 0 10px 60px; }
.product_intro{ font-size: 1.125rem; }
/* footer */ 
.footer_logo{ margin: 10px 0; width: 290px;}
.footer_intro{ text-align: left; }
.footer_intro li{ display: block; }
.footer_c{ padding: 40px 40px 30px; }
.footer_intro li{ margin: 10px; }
/* page */
.page_t{ padding: 0 0 70px; }
/* equipment */
.equipment_content{ display: block; margin-bottom: 0; padding-bottom: 0; }
.equipment_content:last-child{ padding-bottom: 60px; }
.equipment_box{ width: 70%; margin: 60px auto; } 
/* equipment-page */
.pd{ margin-top: 220px; }
.pd .p_intro{ margin: -210px 30px 0 0; width: 37%; }
.pd_content{ padding: 50px 0 40px; }
.pd .p_img{ width: 55%; }
.pd .p_intro .name{ margin-bottom: 90px; font-size: 1.875rem; }
.feature{ display: block; }
.f_box{ width: 100%; margin: 40px 0; }
.model{ padding-bottom: 80px; }
.model .m_box{ width: 28.5%; margin: 0 15px; margin-top: -30px; }
.model .mTop{ margin-top: -60px; }
.model .m_box dd p{ font-size: 0.875rem; }
.switch{ margin: 40px 0 70px; }
/* contact */
form div{ padding: 15px 0; }
input.t2{ width: 62%; }
/* about */
.pic_c .picbox:first-child{ margin: -60px 60px 0 0; }
.txt_c{ display: block; }
.txt_c .txt{ width: 100%; }
.txt_c .history{ margin: 40px auto 0; }
.award{ margin-top: 60px; }
.award li{ width: 30%; margin: 0 30px; }
.award li p{ font-size: 1.25rem; }
.bg{ height: 100%; width: 100%; }
.service_c .s_box{ width: 70%; margin: 0 auto; }
.service_c .list{ margin: 80px auto 0; display: block; width: 70%; }
.service_c .s_box_e, .service_c .s_box_s{ float: none; }
/* install */
.install_kv{ margin-top: -50px; }
.install_kv .pic{ height: 320px !important;}
.install_kv{ padding-bottom: 60px; }
}

@media screen and (max-width: 769px){
.scroll, .tab_content_container, .product_c1, .product_c2, .award li, .service_c, .model, .pd_table, .img{ visibility: visible; }
}

@media screen and (max-width: 767px){
h2{ font-size: 1.5rem; }
.btn{ width: 100%; }
.m_t60{ margin-top: 60px; }
/* header */ 
.navbar{ background: url(../images/bg_menu.jpg) no-repeat; background-size: cover; background-position: center right;}
.navbar .menu-link{ color: #fff; display: block; padding-bottom: 20px; font-size: 1.25rem; border-bottom: 1px solid #8da8c6; }
.navbar .menu-item{ margin: 15px 0; padding: 0 3rem; }
.navbar .menu.active{ height: auto; box-sizing: border-box;}
.logo{ width: 90%; }
/* index */ 
.patents{padding:80px 20px 60px;}
.tab_content_container{ padding: 0; }
.u_t{ display: none; }
.unit_t{ margin: 10px 0 20px; }
.product{ background: #f2f2f2; }
.product_t{ background: none;padding: 60px 0 100px; }
.product_c{ display: block; }
.product_intro{ color: #183276; }
.product_intro li{ color: #3c3c3c; }
.product_c{ padding: 0 20px; }
.product_intro ul{ margin-top: 10px; }
.product a.more{ width: 80%; background: #484848; border: none; color: #fff; }

/* page */ 
.page_t{ padding: 0 0 50px; }
.page_content{ padding: 0 30px; }
.breadcrumb{ margin-bottom: 15px; padding-top: 20px; }
/* equipment */
.equipment_box{ width: 90%; margin: 50px auto; }
/* equipment-page */
.pd{ background:none; margin-top: 0;  }
.pd_bg_m{ position: absolute; height: 35%; width: 100%; bottom: 0;
background: -webkit-linear-gradient(left top,#183276,#2F85CB);
background: -o-linear-gradient(bottom right,#183276,#2F85CB);
background: -moz-linear-gradient(bottom right,#183276,#2F85CB);
background: linear-gradient(to bottom right,#183276,#2F85CB);
}
.pd_bg, .switch_c{ display: none; }
.pd .p_intro, .pd .p_img{ float: none; width: 100%; margin: 0; color: #3c3c3c; }
.pd .p_img{ margin-top: 40px; }
.pd_content{ padding-top: 20px; }
.pd .p_intro .name{ margin-bottom: 40px; }
.pd .p_intro ul{ margin-bottom: 10px; }
.feature{ margin: 60px 0 0; }
.f_title{ font-size: 1.25rem; margin-bottom: 20px; }
.model{ padding-bottom: 30px; }
.model .m_box{ width: 95%; margin: 0 auto 40px; margin-top: 0; float: none; }
.model .mTop{ margin-top: 0; }
.f_content ul.normal, .f_content ul.strong, .f_content ul.no_bg{ padding: 10px 10px 10px 40px; }
.f_box{ margin: 40px 0 0; }
/* contact */
.contact{ padding: 50px 0; }
form{ font-size: 1rem; }
form p.title{ padding: 0; }
input.t1, input.t2{ width: 100%; display: block; }
input.t1{ margin: 10px 0; }
input.t2{ margin: 0; }
/* contact */
.pic_c{ display: block; }
.pic_c .picbox{ width: 100%; }
/* about */
.about_page{ padding: 0; }
.txt_c .history{ letter-spacing: 0; padding: 0; font-size: 0.875rem; }
.txt_c .history li{ padding: 15px 0; }
.pic_c .picbox{ margin-top: 0; }
.about_page .subt, .service_c .s_box p, .award{ font-size: 1.5rem; }
.pic_c .picbox:first-child{ margin: -30px auto 30px; }
.award li{ width: 42%; margin: 0 10px; }
.bg{ width: 100%; height: 100%; }
.service{ padding: 0; }
.service_c{ width: 100%; padding:60px 40px 20px; }
.service_c .s_box{ width: 100%; margin: 0; }
.service_c .s_box p{ text-align: center; }
.service_c .list{ margin-top: 40px; width: 90%; }
.service_c .list p{ font-size: 1.25rem; margin-bottom: 10px; }
/* install */
.install_kv .pic{ height: 240px !important; }
.install_kv{ padding-bottom: 40px; }
}

@media screen and (max-width: 414px){
.wrap, .page, .page_w{ margin-top: 77px; }
/* header */
.navbar .navbrand{ padding: 1rem; }
.logo{ width: 85%; }
/* index */
ul.tabs li{ margin: 30px 10px; font-size: 1rem; } 
.kv .pic .slide{ height: 340px; }
.kv .title{ font-size: 1rem; }
.kv .title .t{ font-size: 1.75rem; }
.scroll dt{ height: 40px; }
.scroll{ bottom: -50px; }
.about{ padding: 330px 30px 40px; }
.about p a{ margin: 20px auto; }
.product{ padding-bottom: 50px; }
.product_intro{ margin-top: 30px; }
/* footer */ 
.footer_logo{ width: 95%; }
.footer_c{ padding: 30px 30px 20px; }
/* page */ 
.breadcrumb span{ padding: 0 5px; }
/* equipment */
.equipment_box{ width: 100%; }
.equipment_box dd{ padding: 20px 10px; }
/* contact */
.contact{ padding: 30px 0; }
.contact li.check{ display: block; }
form div{ padding: 10px 0; }
.contact ul{ margin-bottom: 10px; }
/* about */
.txt_c .history p.detail{ width: 72%; }
.award{ background: url(../images/bg_award_m.jpg) center no-repeat; padding: 60px 0 40px; }
.award p{ margin: 10px 0 30px; }
.award li{ width: 70%; margin: 20px auto; }
.service_c .list{ width: 100%; }
/* install */
.pagination a{ padding: 0; }
.install_kv .slick-dots{ margin-top: 20px; }
.table td{ vertical-align: top; }
.table th.number{ width: 22%; }
.install_kv .pic{ height: 200px !important; }
}


/*----- en -----*/
.en .w{ width: 80%; }
.en .kv .title .t{ font-size: 3rem; margin-bottom: 60px; }
.en .kv .title{ font-size: 1.25rem; letter-spacing: 2px; }
.en .about{ padding-right: 180px; }
.en .about p{ width: 50%; }

@media screen and (max-width: 1439px){
.en .kv .title{ font-size: 1rem; }
.en .about{ padding-right: 100px; }
.en .about p{ width: 70%; }
}

@media screen and (max-width: 1280px){
.en .kv .title .t{ font-size: 2rem; }
.en .kv .title{ font-size: 0.875rem; }
.en .w{ width: 85%; }
.en .about{ padding-right: 100px; padding-top: 100px; }
}

@media screen and (max-width: 1023px){
.en .kv .title{  padding: 60px 30px; }
.en .kv .title .t{ margin-bottom: 10px; }
.en .w{ width: 100%; }
.en .about{ padding: 350px 60px 60px; }
.en .about p{ width: 100%; }
}

@media screen and (max-width: 414px){
.en .kv .title .t{ font-size: 1.5rem; }
.en .about{ padding: 200px 30px 40px; }
.en .about p{ font-size: 1rem; }
.en ul.tabs li a{ padding: 10px 26px; }
.en .patents{ padding: 80px 20px 30px; }
}



/*----- animation -----*/
.animated { animation-fill-mode: both;-webkit-animation-fill-mode: both; animation-duration: 1s; -webkit-animation-duration: 1s;}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
	visibility: visible !important;
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}


@keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-4%);}
  100% { opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-4%);}
  100% { opacity: 1;transform: translateY(0);}
}
.fadeIndown{
	animation-name: fadeIndown;
	-webkit-animation-name: fadeIndown;
	visibility: visible !important;
}

@keyframes fadeIndown2 {
  0% { opacity: 0;transform: translateY(-2%);}
  100% { opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeIndown2 {
  0% { opacity: 0;transform: translateY(-2%);}
  100% { opacity: 1;transform: translateY(0);}
}
.fadeIndown2{
	animation-name: fadeIndown2;
	-webkit-animation-name: fadeIndown2;
	visibility: visible !important;
}


@keyframes UpDown {
  0% { transform: translate3d(0, -950%, 0); opacity: 0;}
  50% { transform: translate3d(0, -20%, 0);opacity: 1;}
  60% { transform: translate3d(0, 0%, 0);opacity: 0;}
  100% { transform: translate3d(0, -950%, 0);opacity: 0;}
}
@-webkit-keyframes UpDown {
  0% { transform: translate3d(0, -950%, 0);opacity: 0;}
  50% { transform: translate3d(0, -20%, 0);opacity: 1;}
  60% { transform: translate3d(0, 0%, 0);opacity: 0;}
  100% { transform: translate3d(0, -950%, 0);opacity: 0;}
}
.UpDown{
	animation:UpDown 2.5s ease-in-out 2s infinite;
	
}

