/* CSS Reset */
*{ margin: 0; padding: 0; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
ul, li { margin: 0; padding: 0; list-style: none;}
img, div, iframe{ border: 0;}
body, html { width: 100%; height: 100%;}
h1{ display: none;}
p, dd{ font-size: 1.125rem; line-height: 1.8; }
a{ text-decoration:none; transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
-moz-transition:all .5s ease; cursor: pointer;}
a:link, a:visited ,a:hover ,a:active {text-decoration: none;}
body, html {height: 100%;width: 100%; -webkit-text-size-adjust: 100%; background: #fef2f3 ; color: #4d5056;font-weight: 500;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
font-family: Helvetica,Arial,Hiragino Sans GB,WenQuanYi Zen Hei,儷黑 Pro,LiHei Pro,微軟正黑體,sans-serif;}
h1{ display: none;}
button{ transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease;
-moz-transition: all .5s ease;}

/*----- common -----*/
.wrap{ padding-top: 80px; position: relative;}
#navigation-menu img, .header img, .kv img, .subt img, .p1 img, .p2 img, .p3 img, .p_info img, .post_box img, .p4 img, .care img, .r_more img, .p5 img, .p6 img, .a1 img, .a_titlesub img
, .a2 img, .a3 img, .a4 img, .a_body section .btn span img, .pic img, .link_box img, .float img
{ max-width: 100%; height: auto;
image-rendering: -moz-crisp-edges; /*Firefox*/
image-rendering: -o-crisp-edges; /*Opera*/
image-rendering: -webkit-optimize-contrast; /*Webkit*/
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor; /*IE*/
}
.clear{ clear: both; }
.contain{ width: 1400px; margin: 0 auto; position: relative; text-align: center;}
.intro{ width: 55%; margin: 40px auto 60px; }
.icon{ width: 76px; margin: 40px auto 30px;}
.toggle-nav{ display: none;}
.subt{ width: 404px; margin: 0 auto; }
.btn_more{ font-size: 1.375rem; background: #f07c90; border-radius: 999px; padding: 15px 60px; color: #fff; font-weight: bold; }
.pc{display: block;}
.m, .m_kv{display: none;}
#fb-root {display: none;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {width: 100% !important;}

/*----- header -----*/
.header{ background: #fff; padding: 14px 0; width: 100%; -moz-box-shadow:0 0 9px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 0 9px rgba(0, 0, 0, 0.2); box-shadow:0 0 9px rgba(0, 0, 0, 0.2); position: fixed; z-index: 10;}
.logo{ float: left; width: 380px; }
.navigation{ float: right; }
.navigation li{ display: inline-block; padding: 12px 0; margin: 0 10px; }
.navigation li a{ font-size: 1.125rem; font-weight: bold; color: #f07c90;}
.navigation li a:hover{ color: #ae86b7; }
.navigation li:last-child { vertical-align: middle; }
.social-line{ width: 48px; display: inline-block; }

/*----- bg -----*/
.bg1{ background: url(../images/top_01.png) no-repeat center; height: 208px; margin-top: -200px; position: relative; }
.bg2{ background: url(../images/top_02.png) no-repeat center; height: 223px; margin-top: -230px; position: relative; }
.bg3{ background: url(../images/top_03.png) no-repeat center; height: 212px; margin-top: -210px; position: relative; }
.bg4{ background: url(../images/top_04.png) no-repeat center; height: 586px; margin-top: -220px; position: relative; }
.bg5{ background: url(../images/top_05.png) no-repeat center; height: 175px; margin-top: -140px; position: relative; }

/*----- kv -----*/
.kv{ width: 100%; margin: 0 auto ; overflow: hidden; background:#fef2f3; position: relative; min-height: 900px;}
.kv .contain li{ position: absolute; list-style: none;}
.title{ top: 70px; right: 100px;width: 713px; z-index: 1}
.title p{ text-align: center; margin: 35px 0 50px; line-height: 31px; letter-spacing: 1px; }
.down{ width: 36px; margin: -30px auto 0; }
.down a{ display: block; cursor: pointer; }
.down a:hover{ animation-play-state:paused;-webkit-animation-play-state:paused;}
.sub{ width: 339px; right: 300px; top: 500px;z-index: 2; }
.k1{ width: 258px; left: 130px; top: 45px; position: absolute; }
.k2{ width: 963px; right: -55px; top: 37px; }
.k3{ width: 174px; right: 98px; top: 490px; }
.k4{ width: 30px; left: 375px; top: 100px; }
.k5{ width: 61px; left: 177px; top: 365px; }
.k6{ width: 78px; left: 420px; top: 400px; }
.k7{ width: 39px; right: 630px; top: 475px; }
.k8{ width: 21px; right: 320px; top: 485px; }
.k_mom{ width: 430px; position: absolute; left: 120px; top: 110px; }
.ktxt{ top: 620px; text-align: center; z-index: 1; }
.float{ position: fixed; right: 20px; bottom: 15%; width: 138px; z-index: 3; background:url(../images/float.png); background-size: 100%; height: 211px;}
.float:hover{ background:url(../images/float_hover.png); background-size: 100%;}

/*----- quiz -----*/
.quiz{ background:#f07c90; padding: 100px 0 200px; color: #fff;}
.quiz_box{ border-radius: 30px; background: #fff; margin: 0 40px; position:relative; background:#fff; border-radius:30px; min-height:650px; }
.quiz_main{ position:absolute;width:100%; left:0; }
.quiz_title{ font-size: 2.625rem; font-weight: bold; background: #3cb6bb; padding: 30px 0; border-top-left-radius: 30px; border-top-right-radius: 30px; text-align: center;}
.quiz_select p{ color: #4d5056; font-size: 1.375rem; }
.quiz_select a{ font-size: 2rem; display: inline-block; font-weight: bold; background: #f07c90; color: #fff; border-radius: 999px; padding: 30px 100px; margin: 40px 70px; }
.quiz_select{ position:relative;text-align:center;margin-top:2em;padding: 60px 80px;}
.quiz_select.active, .q1_answer.active, .q1_select.active { display: none; }
.quiz_select.active:after{ content:""; position:absolute; top:0; left:0; width:100%; height:100%;}
.quiz_answer{ position:relative; line-height:1.8; color: #4d5056; width: 40%; margin: 0 auto; font-size: 1.125rem; padding-top: 70px;}

.quiz_answer:after{content:''; margin:0 auto; background-image:url(../images/quiz_yes.png);width: 248px; height: 416px; position: absolute; background-size: 100%; left: -280px; top: 112px;}
.quiz_answer .q1:before, .quiz_answer .q2:before, .quiz_answer .q3:before, .quiz_answer .q4:before, .quiz_answer .q5:before{ position: absolute; left: -220px; z-index: 1; font-weight: bold; top: 190px;}
.quiz_answer .q1:before{content: "安全過關！";}
.quiz_answer .q2:before{content: "多運動保健康！";}
.quiz_answer .q3:before{content: "非常好！";}
.quiz_answer .q4:before{content: "此為正常現象，請放心！"; }
.quiz_answer .q5:before{content: "膝蓋有力，不錯哦！"; }

.quiz_answer.wrong:after{content:''; margin:0 auto; background-image:url(../images/quiz_no.png);width: 285px; height: 421px; position: absolute; background-size: 100%; right: -280px; top: 112px; left: inherit;}
.quiz_answer.wrong .q1:before, .quiz_answer.wrong .q2:before, .quiz_answer.wrong .q3:before, .quiz_answer.wrong .q4:before, .quiz_answer.wrong .q5:before{ position: absolute; right: -260px; z-index: 1; font-weight: bold; top: 150px; left: inherit; width: 28%; line-height: 1.5;}
.quiz_answer.wrong .q1:before{content: "你應該常覺得膝蓋不舒服吧…";}
.quiz_answer.wrong .q2:before{content: "小心肌少症上身！！";}
.quiz_answer.wrong .q3:before{content: "這可是很傷膝蓋的！";}
.quiz_answer.wrong .q4:before{content: "小心！你可能已經受傷了";}
.quiz_answer.wrong .q5:before{content: "退化性關節炎 可能找上門了！";}

.quiz_answer .btn{ display:block; width:260px; text-align:center; margin:40px auto 0; background:#F07C89; font-size:1.375rem ;font-weight:bold; padding: 10px 0; border-radius: 999px; color: #fff;}
.quiz_answer .btn:hover{background:#004da2;}


/*----- info -----*/
.info{ background:#fce1e6; padding: 100px 0 260px; position: relative; overflow: hidden;}
.dialogue{ padding: 0 190px; padding-bottom: 40px; position: relative; z-index: 1;}
.diabox{ background:#fff; border-radius: 30px; float: left; width: 41.5%;box-shadow: 7px 7px 1px 1px #f8cccf; padding: 60px 0; background-image: url(../images/bg_dot.png); background-repeat: repeat; font-size: 1.75rem; margin: 30px 40px; position: relative; }
.diabox p{ font-size: 1.75rem; font-weight: bold; color: #3cb6bb; margin: 0 auto 20px; width: 100%; }
.diabox p span{ color: #f07c90;font-weight: bold; }
.diabox:nth-child(even){ margin-top: 70px; }
.no{ position: absolute; font-size: 5.25rem; top: 0; left: 20px; color: #f0ab94; font-weight: bold; opacity: .2; }
.a_down{ position: absolute; bottom: -41px; left: 50%; margin-left: -25px; }
.p1{ width: 180px; position: absolute; left: 45px; top: 20px; }
.p2{ width: 182px; position: absolute; top: 333px; left: -60px; }
.p3{ width: 242px; position: absolute; top: 40px; right: 0px; }
.p_info{ width: 1309px; position: absolute; bottom: -260px; right: 0;left: 0;margin: auto; }

/*----- post -----*/
.post{ background: #3cb6bb;padding: 100px 0 120px;}
.post_c{ padding: 0 40px; margin-top: 60px; }
.post_box{ background: #fff; border-radius: 35px; margin: 0 25px; border:10px solid #fff; display: block;color: #4d5056; font-size: 1.375rem;box-shadow: 7px 7px 1px 1px #2da2a7; position: relative;}
.post_box p{ width: 95%; margin:20px auto 80px; text-align: left; font-size: 1.375rem; line-height: 1.5; }
.post_box .more{ font-size: 1.125rem; color: #3cb6bb; font-weight: bold; position: absolute; right: 10px; bottom: 10px; }
.post_box .more span{ display: inline-block; vertical-align: bottom; margin-left: 5px; }
.post_box .more span img{ width: inherit; }

/*----- video -----*/
.video{ position: relative; overflow: hidden; padding-bottom: 250px; margin-top: -260px;}
.video_c{ margin: 40px 140px 0; background: #fff; border-radius: 30px; padding-bottom: 60px; }
.youtube_title{ border-top-left-radius: 30px; border-top-right-radius: 30px; background: #f0ab94; font-size: 1.625rem; color: #fff; font-weight: bold; padding: 25px 0; text-align: center;}
.youtube_c{ width: 70%; margin:40px auto 20px; }
.youtube{ position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; margin-top: 40px;}
.youtube iframe{ position: absolute; top: 0;left: 0; width: 100%; height: 100%;}
.p5{ width: 255px; position: absolute; top: 170px; right: -80px; z-index: 2;}
.p6{ width: 211px; position: absolute; top: 580px; left: -40px; z-index: 2;}
.owl-video .owl-next{ background: url(../images/next2.png) no-repeat !important; background-size: 100% !important; top: 45%; }
.owl-video .owl-prev{ background: url(../images/prev2.png) no-repeat !important; background-size: 100% !important;  top: 45%;}

/*----- reserve -----*/
.reserve{ background: #3cb6bb;padding: 0 0 100px; position: relative;}
.reserve_l{ position: absolute; left: 0;top: 100px; }
.reserve_r{ position: absolute; right: 0;top: 300px; }
.reserve_c{ padding: 0 140px; }
.p4{ width: 223px; position: absolute; left: 170px; top: -190px;}
.r_more{ width: 205px; position: absolute; right: -180px; top: -30px; }
.form{ background: #fff; border-radius: 20px; padding: 60px; margin: -40px auto 0; position: relative; }
.care{ width: 450px; display: block; margin-bottom: 30px;}
.r_title{ display: flex; padding: 0 35px; }
.r_txt{ font-size: 1.125rem; color: #fff; margin: -50px 200px 80px 380px;}
.r_txt span{ font-size: 1.625rem; font-weight: bold; }

/*----- link -----*/
.link{ background: #c7e0de; padding: 80px 0; position: relative; }
.link_c{ display: flex; width: 1000px ; margin: 0 auto;}
.link_box{ width: 50%; text-align: center; font-size: 1.625rem; font-weight: bold; margin: 0 40px; }
.link_logo{ margin:20px 0 40px; }




/*----- article -----*/
.article{ background: #fef2f3; padding: 90px 0; font-size: 1.125rem; line-height: 1.8; overflow: hidden;}
.a_title{ color: #f07c90; font-size: 2.625rem; font-weight: bold; }
.a_titlesub{ width: 340px; margin:0 auto;}
.a_main{ background: #fff; border-radius: 30px; margin: 60px 40px; position: relative;-moz-box-shadow:0 0 13px #f8d3d9; -webkit-box-shadow:0 0 13px #f8d3d9; box-shadow:0 0 13px #f8d3d9; }
.a1{ width: 265px; position: absolute; right: 60px; top: -125px; }
.a2{ width: 258px; position: absolute; right: -140px; top: 380px; z-index: 1; }
.a3{ width: 192px; position: absolute; left: -120px; top: 960px; z-index: 1; }
.a4{ width: 171px; position: absolute; right: -90px; top: 1530px; z-index: 1; }
.a_t{ background: #3cb6bb;border-top-left-radius: 30px; border-top-right-radius: 30px; color: #fff; text-align: center; font-size: 1.625rem; font-weight: bold; padding: 45px 0; position: relative; }
.a_body{ padding: 30px 120px 100px; text-align: left; }
.a_body span.strong{ font-weight: bold;background: #cde3e2; padding: 0 5px; }
.a_body section{ border-bottom: 1px solid #929292; padding: 50px 0; }
.a_intro{ display: flex; }
.a_intro .pic{ width: 50%; margin-right: 60px; }
.a_intro p{ width: 50%;}
.a_sub{ font-weight: bold; color: #3cb6bb; font-size: 1.625rem; margin-bottom: 20px; }
.others{ margin-top: 50px; }
.others span{ font-weight: bold; margin-right: 10px;}
.others a{ color: #4d5056; text-decoration: underline; }
.others a:hover{ color: #3cb6bb;}
.bg{ background:#fef2f3; background-image: url(../images/bg_dot.png); background-repeat: repeat;  position: absolute; top: 0; height: 25%; width: 100%; }
.step{ color: #fff; display: flex; justify-content: center; margin-top: 30px; }
.step dl{ background: #3cb6bb; border-radius: 30px; padding: 30px 15px; margin: 0 25px; width: 20%; }
.step dt{ font-size: 1.375rem; text-align: center; font-weight: bold; margin-bottom: 10px; }
.step dd{ line-height: 1.5; }
.sub_t{ background: #3cb6bb; border-radius: 999px; color: #fff; font-weight: bold; font-size: 1.125rem; padding: 5px; text-align: center; width: 230px; margin-top: 30px; }
.a_body section ul{ margin: 20px 0 30px; }
.a_body section ul li{ padding-left: 20px; }
.a_body section ul li:before{ content: ""; display: inline-block; width: 7px; height: 7px; background: #3cb6bb; border-radius: 50%; margin: 0 8px 4px 0;}
.a_body section .btn{ border-radius: 999px; padding: 10px 30px; font-size: 1.375rem; border: 2px solid #3cb6bb; color: #3cb6bb; margin-left: 20px;}
.a_body section .btn span{ width: 28px; display: inline-block; vertical-align: middle; margin: 4px 0 0 10px;}
.a_body section ol{ background: #f4f4f4; border-radius: 30px; padding: 20px 30px 30px; margin-top: 30px; }
.a_body section ol li{ list-style: decimal; color: #3cb6bb; font-weight: bold; margin: 20px 0 10px 20px;}
.a_body section ol li p{ color: #4d5056; font-weight: normal; line-height: 1.5; }
.table{ margin: 30px auto 0; border-spacing: inherit; text-align: center; font-size: 1rem; }
.table .left{ text-align: left; }
.table tbody tr:nth-child(even) { background: #f4f4f4; }
.table th{ background: #cde3e2; }
.table th, .table td{ padding: 8px 30px;}

/*----- Responsive -----*/
@media screen and (max-width: 1439px){
.navigation li{ padding: 9px 0; }
.navigation li a{ font-size: 1rem; }	
.contain{ width: 100%; padding: 0 40px; }
.k1{ left: 50px; }
.k2{ right: 0; }
.intro{ width: 70%; }
.quiz_answer{ width: 45%; }
.quiz_answer.wrong:after{ right: -290px; }
.diabox{ width: 40.2%; }
.p2{ left: -30px; }
.p_info{ width: 80%; }
.quiz_answer{ padding-top: 60px; }
.a2{ width: 200px; right: -80px; }
.a3{ width: 150px; left: -60px; }
.a4{ width: 130px; right: -40px; }
}


@media screen and (max-width: 1279px){
.navigation li{ margin: 0 4px; }
.navigation li a{ font-size: 0.93rem; }
.logo{ width: 280px; }
.contain{ padding: 0 30px; }
.k1{ left: 100px; z-index: 1; }
.k2{ width: 80%; top: 27px; }
.title{ top: 50px; right: 70px; width: 660px; }
.sub{ width: 339px; right: 260px; top: 470px; }
.k_mom{ width: 350px; left: 100px; top: 200px; z-index: 2; }
.k6{ width: 48px; left: 340px; top: 460px; }
.k5{ width: 41px; left: 157px; top: 415px; }
.k3{ right: 78px; top: 440px; }
.k4{ display: none; }
.k7{ right: 580px; top: 445px; }
.k8{ right: 320px; top: 565px; }
.quiz_box{ min-height: 600px; }
.quiz_select{ padding: 30px; }
.quiz_select a{ margin: 40px 20px; }
.quiz_answer{ padding-top: 40px; width: 55%;  }
.quiz_answer:after{ width: 150px; height: 252px;  left: -160px;}
.quiz_answer .q1:before, .quiz_answer .q2:before, .quiz_answer .q3:before, .quiz_answer .q4:before, .quiz_answer .q5:before{ left: -162px;  top: 268px;}
.quiz_answer.wrong:after{ width: 170px; height: 251px; right: -170px; top: 230px; }
.quiz_answer.wrong .q1:before, .quiz_answer.wrong .q2:before, .quiz_answer.wrong .q3:before, .quiz_answer.wrong .q4:before, .quiz_answer.wrong .q5:before{ right: -180px; top: 230px; }
.dialogue{ padding: 0 70px; }
.p1{ width: 140px; left: 85px; top: -50px; }
.p2{ width: 142px; top: 150px;}
.p3{ width: 192px; }
.post_box p{ min-height: 99px; }
.reserve_c{ padding: 0 60px; }
.video_c{ margin: 40px 60px 0; }
.p5{ width: 200px; top: 170px; right: -10px; }
.p6{ width: 160px; left: 20px; }
.bg5{ margin-top: -170px; }
.p4{ width: 140px; left: 100px; top: -80px; }
.r_title{ padding:0; }
.r_txt{ margin: -60px 0 80px 360px; }
.article{ padding: 60px 0; }
.a_t{ padding: 20px 30px; }
.a1{ width: 205px; top: -95px; }
.step dl{ width: 30%; }
.a_body section .btn{ display: block; width: 300px; text-align: center; margin-top: 20px; }

}

@media screen and (max-width: 1023px){
.wrap{ padding-top: 60px; }
.header ul, .k1, .k3, .pc{ display: none; }
.m{display: block;}
span.logo{ width: 285px; display: block; margin: 8px 0 5px;}
.navigation{ float: none; }
.navigation li{ display: block; text-align: center; margin: 10px 7px; }
.navigation li a{ font-size: 1.25rem; }
.header {padding: 5px 0;}
.toggle-nav { padding:45px 12px 7px 15px; text-align: left; font-size:1.2rem; transition:color linear 0.15s; color: #fff;display: block;}
.c-hamburger{position: relative; overflow: hidden;}
.c-hamburger__line{ width: 25px; height: 4px;position: absolute;right: 15px;background-color: #f07c90;transition: transform 0.3s ease, top 0.3s ease 0.4s;
border-radius: 4px;}
.c-hamburger__line:nth-child(1){top: 17px;}
.c-hamburger__line:nth-child(2){top: 25px;}
.c-hamburger__line:nth-child(3){top: 33px;}
.is-open .c-hamburger__line{transition: top 0.3s ease, transform 0.3s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(1) ,.is-open .c-hamburger__line:nth-child(2){top: 23px;transform: rotate(135deg);
transition: top 0.3s ease, transform 0.4s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(3){top: 23px;transform: rotate(225deg);}
.video_c{ margin: 40px 40px 0; padding-bottom: 30px;}
.youtube_c{ width: 80%; }
.p5{ width: 160px; right: -30px; }
.p6{ width: 140px; left: -10px; }
.youtube_title{ font-size: 1.5rem; }
.owl-prev{ left: 0; }
.owl-next{ right: 0; }
.owl-prev, .owl-next{ display: none !important; }
.title, .k2, .ktxt{ left: 0; right: 0; margin: auto; }
.k2{ top: -20px; }
.title{ top: 30px; }
.sub{ right: 70px; width: 290px; top: 440px;}
.k6{ width: 48px; left: 300px; top: 530px; }
.k5{ width: 41px; left: 177px; top: 505px; }
.k_mom{ width: 200px; left: 160px; top: 390px; }
.k7{ right: 380px; top: 425px; }
.k8{ right: 220px; top: 585px; }
.ktxt{ top: 630px; }
.intro{ width: 80%; }
.dialogue{ padding: 0; }
.diabox{ width: 38.6%; margin: 10px 40px; }
.p1{ width: 120px; left: 65px; }
.p2{ width: 122px; }
.p3{ width: 162px; top: -30px; right: 20px; }
.post_c{ padding:0 }
.post_box{ margin: 0 15px; }
.post_box p{ font-size: 1.25rem; }
.quiz_title{ font-size: 1.75rem; padding: 20px 0; }
.quiz_select a{ font-size: 1.5rem; padding: 20px 70px; margin: 40px 20px; }
.quiz_box{ min-height: 770px; }
.quiz_answer{ padding-top: 290px; width: 90%; }
.quiz_answer:after{ width: 150px; height: 252px;  left: 200px; top: 26px;}
.quiz_answer .q1:before, .quiz_answer .q2:before, .quiz_answer .q3:before, .quiz_answer .q4:before, .quiz_answer .q5:before{ left:220px;  top: 69px;}
.quiz_answer.wrong:after{ width: 170px; height: 251px; right: 190px; top: 20px; }
.quiz_answer.wrong .q1:before, .quiz_answer.wrong .q2:before, .quiz_answer.wrong .q3:before, .quiz_answer.wrong .q4:before, .quiz_answer.wrong .q5:before{ right: 160px; top: 30px; }
.p4{ width: 150px; left: 70px; top: -113px; }
.r_more{ width: 160px; right: -130px; top: -80px; }
.reserve_c{ padding: 0 20px; }
.r_txt{ margin:-50px 0 70px 220px; }
.r_txt span{ font-size: 1.25rem; }
.a_main{ margin: 60px 20px; }
.a1{ width: 175px; right: 30px; top: -75px; }
.a_body{ padding: 30px 40px 60px; }
.a_body section{ padding: 30px 0; }
.a_sub{ font-size: 1.25rem; margin-bottom: 10px; }
.a_intro .pic{ margin-right: 40px; }
.a2{ width: 140px; }
.a3{ width: 90px; }
.a4{ width: 90px;  }
.step dl{ margin: 0 15px; }
.step dt{ font-size: 1.125rem; }
.link{ padding: 80px 50px; }
.link_c{ width: 100%; }
.link_box{ margin: 0 20px; font-size: 1.25rem; }
.link_logo{ margin: 20px 0; }
}

@media screen and (max-width: 767px){
.m_kv, .a_intro{ display: block; }
.m_kv .m_txt{ padding: 0 40px 40px; margin-top: -30px; }
.down{ margin: 0 auto; }
.kv .contain li, .p1, .p2, .p3, .p5, .p6, .p4, .reserve_r, .reserve_l, .a2, .a3, .a4{ display: none;}
.title{ width: 500px; }
.owl-prev, .owl-next{ background-size: 70% !important; top: 45%; }
.k_mom{ width: 180px; top: 310px; left: 80px;}
.sub{ width: 270px; top: 340px; right: 50px; }
.k6{ width: 38px; left: 210px; top: 450px; }
.k5{ width: 31px; left: 97px; top: 410px; }
.k7{ right: 310px; top: 315px; }
.k8{ right: 140px; top: 455px; }
.ktxt{ top: 530px; }
.kv{ min-height: inherit; }
.intro{ width: 100%; }
.subt{ width: 80%; }
.diabox{ width: 100%; margin: 30px auto; }
.diabox:nth-child(even){ margin: 50px auto; }
.intro{ margin:40px auto 20px;}
.info{ padding: 80px 0 170px;}
.p_info{ display: flex; justify-content: center; bottom: -170px; }
.p_info img{ max-width: 170%; }
.post_c{ margin-top: 40px; padding: 0; }
.post{ padding: 80px 0 100px; }
.quiz{ padding:80px 0 110px; }
.quiz_box{ margin: 0; }
.quiz_select a{ font-size: 1.5rem; margin: 20px 0; padding: 15px 50px; }
.quiz_title{ padding: 20px; font-size: 1.5rem; }
.quiz_answer{ padding-top: 240px; line-height: 1.6; font-size: 1rem; text-align: left;}
.quiz_select p{ font-size: 1.125rem; }
.quiz_box{ min-height: 820px; }
.quiz_answer:after{ width: 130px; height: 218px; top: 10px; right: 0; left: 0; margin: auto;}
.quiz_answer .q1:before, .quiz_answer .q2:before, .quiz_answer .q3:before, .quiz_answer .q4:before, .quiz_answer .q5:before{ left:95px;  top: 49px;}
.quiz_answer.wrong:after{ width: 150px; height: 222px ;top: 10px; right: 0; left: 0; margin: auto; }
.quiz_answer.wrong .q1:before, .quiz_answer.wrong .q2:before, .quiz_answer.wrong .q3:before, .quiz_answer.wrong .q4:before, .quiz_answer.wrong .q5:before{ right: 80px; top: 20px; width: 50%; }
.quiz_answer .btn{ margin: 30px auto 0; }
.video{ padding-bottom: 60px; margin-top: -280px; }
.video_c{ margin: 30px 0 0; }
.youtube_c{ width: 100%; margin: 0; padding: 20px; }
.youtube_title{ padding: 20px; }
.youtube{ margin-top: 20px; }
.care{ width: 90%; margin: 0 auto 20px;}
.r_txt{ margin: 0 auto; }
.bg5{ margin-top: 0;height: 80px; background-position: top; }
.form{ padding: 30px; margin: 40px auto 0; }
.reserve_c{ padding: 0; }
.a_title{ font-size: 2.25rem; }
.article{ padding: 40px 0 60px; }
.a_main{ margin: 90px 0 50px; }
.a1{ width: 175px; top: -80px; }
.a_t{ font-size: 1.5rem; }
.a_intro .pic, .a_intro p{ width: 100%; }
.a_body{ padding: 0 40px 60px; }
.a_intro .pic{ margin: 0 0 20px 0; }
.step{ display: block; }
.step dl{ margin: 20px auto; padding: 20px; width: 70%; }
.step dd{ text-align: center; }
.a_body section .btn{ width: 90%; margin: 20px auto 0; font-size: 1.25rem; padding: 5px 0; }
.table th, .table td{ padding: 5px 15px; vertical-align: top; }
.link{ padding: 30px; }
.link_c{ display: block; }
.link_box{ width: 100%; margin: 50px 0; }
.float{ right: 10px; width: 100px; height: 153px; }
}

@media screen and (max-width: 550px){
.contain{ padding: 0 30px; }
.owl-prev, .owl-next{ background-size: 50% !important;}
.owl-prev{ background-position: left !important;}
.owl-next{ background-position: right !important;}
}

@media screen and (max-width: 414px){
.c-hamburger__line{ right: 0; }
span.logo{ width: 250px; margin: 10px 0 5px; }
.contain{ padding: 0 30px; }
.subt{ width: 100%; }
.video_c, .a_titlesub{ width: 100%; }
.owl-theme .owl-dots{ padding-top: 20px; }
.form{ padding: 0; width: 95%;}
.a_t{ font-size: 1.25rem; }
.a_title{ font-size: 1.875rem; line-height: 1.5; }
.a_body{ padding:0 20px 60px; }
.step dl{ width: 90%; }
.a_body section ol{ padding: 20px 20px 30px; } 
.r_txt{ font-size: 1rem; }
}


/*----- animation -----*/
.animated {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}
@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
.fadeIn, .fadeIn-1, .fadeIn-2, .fadeIn-3{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
}
.fadeIn {
	animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
.fadeIn-1 {
	animation-delay: .8s;
	-webkit-animation-delay: .8s;
}
.fadeIn-2 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.fadeIn-3 {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}

@keyframes UpDown {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 20%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 20%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-1, .UpDown-2{
	animation-name: UpDown;
 	-webkit-animation-name: UpDown;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.UpDown-1{
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.UpDown-2{
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
}

@keyframes UpDown2 {
  0% { transform: translate3d(0, 20%, 0);}
  50% { transform: translate3d(0, 10%, 0);}
  100% { transform: translate3d(0, 20%, 0);}
}
@-webkit-keyframes UpDown2 {
  0% { transform: translate3d(0, 20%, 0);}
  50% { transform: translate3d(0, 10%, 0);}
  100% { transform: translate3d(0, 20%, 0);}
}
.UpDown-3{
	animation-name: UpDown2;
 	-webkit-animation-name: UpDown2;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

@keyframes UpDown3 {
  0% { transform: translate3d(0, 14%, 0);}
  50% { transform: translate3d(0, 10%, 0);}
  100% { transform: translate3d(0, 14%, 0);}
}
@-webkit-keyframes UpDown3 {
  0% { transform: translate3d(0, 14%, 0);}
  50% { transform: translate3d(0, 10%, 0);}
  100% { transform: translate3d(0, 14%, 0);}
}
.UpDown-4{
	animation-name: UpDown3;
 	-webkit-animation-name: UpDown3;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

@keyframes UpDown4 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 14%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown4 {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 14%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-5{
	animation-name: UpDown4;
 	-webkit-animation-name: UpDown4;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-duration: 4s;
	-webkit-animation-duration: 4s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

@keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-8%);}
  100% { opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-8%);}
  100% { opacity: 1;transform: translateY(0);}
}
.fadeIndown, .fadeIndown-2, .fadeIndown-3, .fadeIndown-4{
	animation-name: fadeIndown;
	-webkit-animation-name: fadeIndown;
	visibility: visible !important;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
}
.fadeIndown-2 {
	animation-delay: .5s;
	-webkit-animation-delay: .5s;
}
.fadeIndown-3 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.fadeIndown-4 {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translate3d(0, -5%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; transform: translate3d(0, -5%, 0);}
  100% { opacity: 1; transform: none;}
}
.fadeInDown-1 {
	animation-name: fadeInDown;
 	-webkit-animation-name: fadeInDown;
 	animation-delay: .8s;
	-webkit-animation-delay: .8s;
	visibility:visible !important;
}

@keyframes fadeIndown2 {
  0% { opacity: 0;transform: translateY(-2%);}
  100% { opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeIndown2{
  0% { opacity: 0;transform: translateY(-2%);}
  100% { opacity: 1;transform: translateY(0);}
}
.fadeIndown-5 {
	animation-name: fadeIndown2;
	-webkit-animation-name: fadeIndown2;
	visibility: visible !important;
	animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-delay: .5s;
	-webkit-animation-delay: .5s;
}

/*----- footer -----*/
.footer{ background: #fff; position: relative; }

#commonhealth_footer {
  text-align: center;
  background: #fff;
  padding: 25px 0;
}
.commonhealth_footer-channel {
  width: 100%;
  font-size: 0.9375rem;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
}
.commonhealth_footer-channel ul {
  margin: 0;
  padding: 0;
}
.commonhealth_footer-channel li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.commonhealth_footer-channel li a {
  color: #333;
  text-decoration: none;
  position: relative;
}
.commonhealth_footer-channel li a:after {
  content: "";
  background-color: #094;
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -3px;
  display: inline-block;
  transition: .3s;
}
.commonhealth_footer-channel li a:hover:after {
  width: 100%;
  left: 0;
}
.commonhealth_footer-channel li:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
.commonhealth_footer-channel a:hover {
  color: #000;
}
.commonhealth_footer-copyright {
  color: #555;
  font-size: 0.875rem;
  font-size: 14px;
  text-align: center;
}
.commonhealth_footer-copyright a {
  display:inline-block;
  border-bottom:1px dotted #555;
  padding-bottom:1px;
}
.commonhealth_footer-channel br, .commonhealth_footer-copyright br {
  display: none;
}
.uiGuideline-boxs {
  min-height: 80vh;
}
@media (max-width: 768px) {
  .commonhealth_footer-channel {
    font-size: 0.875rem;
    font-size: 14px;
  }
  .commonhealth_footer-channel li {
    padding-right: 5px;
    margin-right: 3px;
  }
  .commonhealth_footer-channel li:nth-child(5) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
  .commonhealth_footer-copyright {
    font-size: 0.8125rem;
    font-size: 13px;
    line-height: 1.5;
  }
  .commonhealth_footer-channel br, .commonhealth_footer-copyright br {
    display: inline-block;
  }
  /*Lite*/
  .commonhealth_footer-channel.lite li:nth-child(4) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .commonhealth_footer-channel, .commonhealth_footer-copyright {
    font-size: 0.75rem;
    font-size: 12px;
  }
}
                      



