<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>流感疫言堂｜秋冬防流感，一起守護家人的健康 - 康健雜誌</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="telephone=no" name="format-detection">
<meta name="keywords" content="流感,流感疫苗,預防流感,流感高風險族群" />
<meta name="description" content="每年秋冬是流感病毒盛行的季節，該如何預防流感？流感和感冒、新冠肺炎有什麼差異？讓我們一起來了解，保護自己也保護家人！">
<meta property="og:title" content="流感疫言堂｜秋冬防流感，一起守護家人的健康 - 康健雜誌">
<meta property="og:description" content="每年秋冬是流感病毒盛行的季節，該如何預防流感？流感和感冒、新冠肺炎有什麼差異？讓我們一起來了解，保護自己也保護家人！">
<meta property="og:image" content="images/fb.jpg">
<link rel="image_src" href="images/fb.jpg">
<link rel="shortcut icon" href="https://www.commonhealth.com.tw/assets/images/favicon.ico" />
<link rel="bookmark" href="https://www.commonhealth.com.tw/assets/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Google Tag Manager --> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
})(window,document,'script','dataLayer','GTM-MCMN77');</script> 
<!-- End Google Tag Manager --> 
<script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>
</head>

<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0" nonce="fZqs7CVg"></script>
<h1>流感疫言堂，一起守護家人的健康!</h1>
<div class="wrap">
	<div class="btn_float">
		<a class="fb gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-share-fb" href="https://www.facebook.com/sharer/sharer.php?u=https://event.commonhealth.com.tw/2021flu/index.html&amp;src=sdkpreparse" target="_blank"><img src="images/fb_share.png" alt=""></a>
		<a class="line gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-share-line" href="https://social-plugins.line.me/lineit/share?url=https://event.commonhealth.com.tw/2021flu/index.html" target="_blank"><img src="images/line_share.png" alt=""></a>
	</div>
	<!--header-->
	<div class="header">
		<span class="logo"><a id="bts-kv"><img src="images/logo.png" alt="康健xTIVS台灣疫苗推動協會"></a></span>
		<div class="c-hamburger toggle-nav">
			<span class="c-hamburger__line"></span>
			<span class="c-hamburger__line"></span>
			<span class="c-hamburger__line"></span>
			
		</div>
		<div class="logo"><a id="bt-kv"><img src="images/logo.png" alt="康健xTIVS台灣疫苗推動協會"></a></div>
		<div class="navigation">
			<ul>
				<li><a id="bt-quiz">流感知多少</a></li>
				<li><a id="bt-school">流感小學堂</a></li>
				<li><a id="bt-info">流感疫苗懶人包</a></li>
				<li><a id="bt-more">關於流感你還需要知道</a></li>
				<li><a class="blue gtm-event" href="https://www.tivs.com.tw/" target="blanc" data-category="web_event" data-action="2021fluvaccine" data-label="click-link-website-tivs">台灣疫苗推動協會</a></li>
				<li><a class="blue gtm-event" href="https://www.facebook.com/Vaccinevillage/" target="blanc" data-category="web_event" data-action="2021fluvaccine" data-label="click-link-fbpage-vaccinevillage">疫苗村</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!--kv-->
	<div class="kv maincheck" id="kvc">
		<div data-stellar-ratio="0.5" class="k1"><img src="images/k_1.png" alt=""></div>
		<div data-stellar-ratio="0.5" class="k2"><img src="images/k_2.png" alt=""></div>
		<div class="title animated fadeIndown">
			<div class="sub">秋冬防流感 ! 流感疫苗知多少？</div>
			<div><img src="images/title.png" alt="流感疫言堂，一起守護家人的健康"></div>
		</div>
		<div class="people">
			<div class="p_contain">
				<div class="p animated fadeInUp"><img src="images/people.png" alt=""></div>
				<div class="t1 animated fadeIn-1"><img src="images/t_1.png" alt="為什麼要接種流感疫苗？"></div>
				<div class="t2 animated fadeIn-2"><img src="images/t_2.png" alt="流感會致死嗎？"></div>
				<div class="t3 animated fadeIn-3"><img src="images/t_3.png" alt="流感疫苗和COVID-19疫苗有什麼差異呢？"></div>
				<div class="vaccine animated fadeIn-4"><img class="animated UpDown-1" src="images/vaccine.png" alt=""></div>
				<div class="syringe animated fadeIn-5"><img class="animated UpDown-2" src="images/syringe.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="quiz maincheck" id="quiz">
		<div class="bgdot"></div>
		<section id="qa" class="">
		    <div class="contain">
		    	<div class="stitle"><img src="images/subtitle_1.png" alt="流感知多少"></div>
		    	<div class="quiz_c">
			    	<p>隨著天氣轉涼，又來到了流感病毒又開始蠢蠢欲動的季節。每年秋冬，我們都會看到流感疫情相關的新聞，但是對於流感你足夠瞭解嗎？讓我們一起來測測看！</p>
			        <div id="qa-start" v-if="total_length >= question_index">
				        <div class="progress">
				          	<div class="progress-bar" role="progressbar" :style="'width: ' + progress +'%;'" aria-valuenow="0"
				            aria-valuemin="0" aria-valuemax="100"></div>
				        </div>
				        <div class="question">
					        <div class="text questionTitle">
								<!-- 現在題目的圖片 -->
								<div class="quiz_pic">
					            	<img v-bind:src="now_question.img">
					            </div>
								<!-- 現在題目的內容(尚未作答) -->
					            <div v-if="!showAnswer">
						            <!-- 題目問題與作答按鈕 -->
					                <span v-html="'Q'+(question_index+1)+'. '+now_question.title"></span>

					                <!-- 按鈕YES OR NO -->
					                <div class="quiz_option">
						                <a class="gtm-event" data-category="web_event" data-action="2021fluvaccine" v-bind:data-label="'click-quiz-'+(question_index+1)+'-'+item.label" v-for="(item, key) in now_question.answers" @click="answerQA(item)">
						                	<span>{{item.title}}</span>
						                </a>
					                </div>
						        </div>
					          	<!-- 現在題目的內容(已經作答) -->
					            <div class="answer" v-else>
					              <h3 class="a_title" v-html="answerResult.head"></h3>
					                <p class="text-left" v-html="answerResult.msg"></p>
					                <div class="a_bt">
					                	<a class="gtm-event" data-category="web_event" data-action="2021fluvaccine" v-bind:data-label="'click-quiz-'+(question_index+1)+'-next'" @click="next_qa()">{{modal_btn}}</a>
					            	</div>
								</div>
					        </div>
				        </div>
				    </div>
				    <div v-bind:id="result.id" class="result" v-else>
					    <div class="text-center">
					        <h3>{{result.title}}</h3>
					        <p class="result_txt"> {{question_items.length}} 題中你答對了<span>{{answer_count}}題</span></p>
					        <div class="result_pic"><img :src="result.image"></div>
					        <div class="info_share result_share">
								分享測驗結果：
								<a class="info_share gtm-event"  data-category="web_event" data-action="2021fluvaccine" v-bind:data-label="result.shareLabel.facebook" v-bind:href="result.shareLink.facebook" target="_blank"><img src="images/fb_share.png" alt=""></a>
								<a class="info_share gtm-event" data-category="web_event" data-action="2021fluvaccine" v-bind:data-label="result.shareLabel.line" v-bind:href="result.shareLink.line" target="_blank"><img src="images/line_share.png" alt=""></a>
							</div>
					        <p>{{result.info}}</p>
					        <div class="a_bt">
					            <a id="bt-scroll">GO</a>
					        </div>
						</div>
					</div>
				</div>
			</div>
	    </section>
	</div>
	<div class="school maincheck" id="school">
		<div class="contain">
		    <div class="stitle"><img src="images/subtitle_2.png" alt="流感小學堂"></div>
		    <!--什麼是流感？-->
		    <div class="school_box animated">
		    	<div class="school_d1 animated"><img src="images/school_1.png" alt=""></div>
		    	<div class="school_d2 animated"><img src="images/school_2.png" alt=""></div>
		    	<div class="school_d3 animated"><img src="images/school_3.png" alt=""></div>
		    	<div class="school_d4 animated"><img src="images/school_4.png" alt=""></div>
		    	<div class="school_d5 animated"><img src="images/school_5.png" alt=""></div>

		    	<div class="title title1">什麼是流感？</div>
		    	<p>流感是流行性感冒的簡稱，是由流感病毒引起的急性呼吸道傳染病。<br />每年從11月下旬至隔年3月是台灣流感疫情的好發季節。<br />
流感的傳染途徑以「飛沫傳染」為主，由於病毒可以在寒冷低溼度的環境中存活數小時，也有可能經由「間接接觸傳染」，尤其是在空氣不流通的密閉空間中，最容易感染流感！</p>
				<div class="influenza_c">
					<div class="influenza"><img src="images/influenza_1.png" alt="飛沫傳染"></div>
					<div class="influenza"><img src="images/influenza_2.png" alt="間接接觸傳染"></div>
				</div>
			</div>
			<!--流感和感冒、新冠肺炎有什麼差異？-->
		    <div class="school_box animated">
		    	<div class="title title2">流感和感冒、新冠肺炎有什麼差異？</div>
		    	<p>流感和感冒、新冠肺炎症狀類似，但是流感來勢兇猛，典型症狀是突然連續高燒2-3日、頭痛、全身痠痛，只能臥床休息。流感和新冠肺炎都具備高傳染性，出現相關症狀，請戴上口罩儘速就醫！</p>
		    	<table class="rwd_table">
					<thead>
						<tr>
						    <th>比較</th>
						    <th>新冠肺炎</th>
						    <th>流感</th>
						    <th>感冒</th>
						</tr>
					</thead>
					<!--1-->
					<tbody>
						<tr><th class="no_show compare">比較</th><td class="compare">感染源</td></tr>
					    <tr><th>新冠肺炎</th><td>冠狀病毒</td></tr>
					    <tr><th>流感</th><td>流感病毒</td></tr>
					    <tr><th>感冒</th><td>其他許多病毒(鼻病毒、呼吸 道融合病毒、腺病毒等)</td></tr>
					</tbody>
					<!--2-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">潛伏期</td></tr>
					    <tr><th>新冠肺炎</th><td>1-14天<span class="long">最長</span></td></tr>
					    <tr><th>流感</th><td>1-4天</td></tr>
					    <tr><th>感冒</th><td>1-3天</td></tr>
					</tbody>
					<!--3-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">流行期間</td></tr>
					    <tr><th>新冠肺炎</th><td>全年</td></tr>
					    <tr><th>流感</th><td><span>秋季&冬季</span></td></tr>
					    <tr><th>感冒</th><td>全年</td></tr>
					</tbody>
					<!--4-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">病程</td></tr>
					    <tr><th>新冠肺炎</th><td><span>發病初期身體僅輕微不適</span>，部分患者在發病一週後惡化，也有部分無症狀感染者</td></tr>
					    <tr><th>流感</th><td><span>症狀惡化速度非常快</span>，發病到痊癒約需1～3週</td></tr>
					    <tr><th>感冒</th><td>一般可以在一週內痊癒</td></tr>
					</tbody>
					<!--5-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">發燒</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>較少</span></td></tr>
					</tbody>
					<!--6-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">咳嗽/喉嚨痛</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					</tbody>
					<!--7-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">鼻塞/流鼻涕</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>較少</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					</tbody>
					<!--8-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">頭痛</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>較少</span></td></tr>
					</tbody>
					<!--9-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">呼吸困難</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_yes.png" alt=""></span><span>重症時出現，發生率較高</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_less.png" alt=""></span>重症時出現</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_no.png" alt=""></span>沒有</td></tr>
					</tbody>
					<!--10-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">腹瀉</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_yes.png" alt=""></span><span>較多</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_less.png" alt=""></span>較少</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_less.png" alt=""></span>較少</td></tr>
					</tbody>
					<!--11-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">肌肉痠痛</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_no.png" alt=""></span><span>沒有</span></td></tr>
					</tbody>
					<!--12-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">全身無力</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>少見</span></td></tr>
					</tbody>
					<!--13-->
					<tbody>
						<tr><th class="no_show">比較</th><td class="compare">嗅/味覺喪失</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_yes.png" alt=""></span><span>常見</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_no.png" alt=""></span>沒有</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_no.png" alt=""></span>沒有</td></tr>
					</tbody>
				</table>
		    </div>
		    <!--該如何預防流感病毒？-->
		    <div class="school_box animated">
		    	<div class="title title3">該如何預防流感病毒？</div>
		    	<p>每到流感季節，就會收到各種預防流感的小偏方，例如：吃維他命、室內擺洋蔥等等，但這些缺乏科學證實的網路謠言是無法有效預防流感的，正確預防流感四步驟：</p>
		    	<div class="box_c">
		    		<div class="prevent">
		    			<div class="number"><img src="images/num1.png" alt=""></div>
		    			<img src="images/prevent_1.jpg" alt="">
		    			<dl>
		    				<dt>施打流感疫苗是有效預流感的方式！</dt>
		    				<dd>接種疫苗有助於減輕感染症狀、降低嚴重併發症與死亡風險，高風險族群務必每年都要接種疫苗</dd>
		    			</dl>
		    		</div>
					<div class="prevent">
						<div class="number"><img src="images/num2.png" alt=""></div>
		    			<img src="images/prevent_2.jpg" alt="">
		    			<dl>
		    				<dt>勤洗手</dt>
		    				<dd>雙手避免觸碰眼口鼻，減少接觸感染的機率</dd>
		    			</dl>
		    		</div>
					<div class="prevent">
						<div class="number"><img src="images/num3.png" alt=""></div>
		    			<img src="images/prevent_3.jpg" alt="">
		    			<dl>
		    				<dt>戴口罩</dt>
		    				<dd>減少出入人多的場所或密閉空間，並戴好口罩避免飛沫感染</dd>
		    			</dl>
		    		</div>
					<div class="prevent">
						<div class="number"><img src="images/num4.png" alt=""></div>
		    			<img src="images/prevent_4.jpg" alt="">
		    			<dl>
		    				<dt>增強免疫力</dt>
		    				<dd>保持良好作息、多運動、均衡飲食，增加自身防護力</dd>
		    			</dl>
		    		</div>
		    	</div>
		    </div>
		    <!--哪些人是流感的高風險族群？-->
		    <div class="school_box risk_box animated">
		    	<div class="title title4">哪些人是流感的高風險族群？</div>
		    	<p>即便是健康的成人，也有感染流感的風險，流感除了一般感冒的症狀外，部分病患還會出現肺炎、腦炎、心肌炎等嚴重併發症，甚至死亡。免疫力較差的族群，是最容易出現併發症的高風險族群。</p>
		    	<div class="risk_c">
		    		<div>
			    		<div class="risk">
			    			<dl>
			    				<dt><img src="images/risk_1.png" alt=""></dt>
			    				<dd><span>1</span>50歲以上成人</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_2.png" alt=""></dt>
			    				<dd><span>2</span>孕婦</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_3.png" alt=""></dt>
			    				<dd><span>3</span>未滿五歲嬰幼兒</dd>
			    			</dl>
			    		</div>
						<div class="risk">
			    			<dl>
			    				<dt><img src="images/risk_4.png" alt=""></dt>
			    				<dd>
			    					<span>4</span>肥胖者
			    					<p>（BMI>=30）</p>
			    				</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_5.png" alt=""></dt>
			    				<dd>
			    					<span>5</span>慢性病或罕見疾病患者
			    					<p>(如：氣喘、糖尿病、心血管疾病、肝硬化、腎臟病等)</p>
			    				</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_6.png" alt=""></dt>
			    				<dd><span>6</span>免疫功能不全者</dd>
			    			</dl>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="strong">
	    			依據疾管署統計資料，歷年流感重症及死亡個案，約有7至9成具慢性病史，且感染流感後，容易加重慢性病症狀，增加嚴重併發症發生機率與死亡風險。高風險族群建議於流感季節來臨前完成疫苗接種，對疫苗接種有任何疑慮，都可以跟醫師作諮詢。
	    			<p><span>不要輕易聽信網路傳言</span>而拒絕施打疫苗，保護自己也保護家人！</p>
	    		</div>
		    </div>
		</div>
	</div>
	<div class="info maincheck" id="info">
		<div class="bgdot"></div>
		<div class="info_r"><img src="images/info_r.png" alt=""></div>
		<div class="info_l"><img src="images/info_l.png" alt=""></div>
		<div class="contain">
			<div class="info_v1 animated"><img class="UpDown-3" src="images/vaccine_2.png" alt=""></div>
			<div class="info_v2 animated"><img class=" UpDown-3" src="images/vaccine_3.png" alt=""></div>
			<div class="stitle pc"><img src="images/subtitle_3.png" alt="流感疫苗懶人包"></div>
			<div class="stitle m"><img src="images/subtitle_3_m.png" alt="流感疫苗懶人包"></div>
			<p>2021年度公費流感疫苗於10月開打，符合公費接種的對象，可至全國各鄉鎮市區衛生所、合約院所進行疫苗接種，接種地點不受戶籍地限制，前往接種疫苗時，也別忘了攜帶健保卡及身分證件。<br /><br />
			合約院所名單，可以上<a class="gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-link-cdc-https://antiflu.cdc.gov.tw/" href="https://antiflu.cdc.gov.tw/" target="_blank">流感防治一網通</a>查詢或詢問縣市衛生局、<a class="gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-tel-1922" href="tel:1922">1922防疫諮詢專線</a>。對於流感疫苗，是否還有很多疑惑呢？讓我們來為您解答！</p>
			<div class="info_box info_box_1 animated">
				<div class="order"><img src="images/num1.png" alt=""></div>
				<div class="info_pic"><img src="images/info_1.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						流感疫苗多久要打幾次？多久會產生保護力？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						建議每年都要接種1次流感疫苗！<br />
						完成流感疫苗接種（未滿9歲首次接種幼兒為接種第2劑），至少約2週後產生保護力。<br />
						由於流感病毒極易產生變異，幾乎每年流行的病毒株都會稍有不同，原施打疫苗對不同抗原型之病毒保護效果減低，即使病毒未發生變異，疫苗成分相同，接種4-6個月後保護效果即可能下降，保護力一般不超過1年，因此建議每年均須接種1次，是全球一致性的作法。<br /><br />
						每年接種流感疫苗之保護效果於6個月後會逐漸下降，且每年流感疫苗組成病毒株有所差異，為能於新來臨之流感流行期可獲得足夠保護力，建議仍需接種當季流感疫苗。
					</div>
				</div>
			</div>
			<div class="info_box info_box_2 animated">
				<div class="order"><img src="images/num2.png" alt=""></div>
				<div class="info_pic"><img src="images/info_2.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						打流感疫苗可以預防新冠肺炎嗎？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						流感疫苗不能直接預防新冠肺炎，但是施打流感疫苗可以增加保護力，降低嚴重併發症的風險，對於對抗新冠肺炎來說是有正向效果的。<br />
						流感疫苗是不活化疫苗，可以和其他疫苗同時接種於不同部位，或間隔任何時間接種。為避免一旦發生不良事件時無法釐清歸因，接種流感疫苗應與COVID-19疫苗間隔至少7天。
					</div>
				</div>
			</div>
			<div class="clear"></div>

			<div class="info_box info_box_1 animated">
				<div class="order"><img src="images/num3.png" alt=""></div>
				<div class="info_pic"><img src="images/info_3.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						誰不適合施打流感疫苗？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						1.已知對疫苗的成分有過敏者，不予接種。<br />
						2.過去注射曾經發生嚴重不良反應者，不予接種。<br />
						3.發燒或正患有急性中重疾病者，宜待病情穩定後再接種。<br />
						4.出生未滿6個月嬰兒，因無使用效益及安全性等臨床資料，故不予接種。<br />
						5.先前接種本疫苗6週內曾發生Guillain-Barré 症候群(GBS)者，宜請醫師評估。<br />
						6.已知對「蛋」之蛋白質有嚴重過敏者，可在門/住診由熟悉處理過敏症狀之醫事人員提供接種，並於接種後觀察30分鐘，無不適症狀再離開。<br />
						7.其他經醫師評估不適合接種者，不予接種。
					</div>
				</div>
			</div>
			<div class="info_box info_box_2 animated">
				<div class="order"><img src="images/num4.png" alt=""></div>
				<div class="info_pic"><img src="images/info_4.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						應該如何保護新生兒避免感染流感？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						建議於懷孕時接種流感疫苗，如來不及於懷孕期接種流感疫苗，則建議母親於生產後儘速接種疫苗，並於寶寶出生後哺育母乳。研究顯示，懷孕期間接種流感疫苗以及出生後哺育母乳，可以減輕出生後6個月內嬰兒感染流感的嚴重症狀以及減少感染風險。<br />
						此外因為出生後6個月以內的寶寶還不適合接種流感疫苗，6個月內嬰兒之父母已列為公費疫苗接種對象，除此，也建議家中其他成員以及照顧者，可以自費接種流感疫苗，避免疾病傳播。
					</div>
				</div>
			</div>
			<div class="clear"></div>

			<div class="info_box info_box_1 animated">
				<div class="order"><img src="images/num5.png" alt=""></div>
				<div class="info_pic"><img src="images/info_5.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						身邊的人都打過疫苗了，我就可以不用打了嗎？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						流感是藉由飛沫或接觸傳染，當接種率提升使群體免疫達到一定程度時，可以阻斷或減緩疾病的傳播；惟群體免疫是需要時間累積，接種率達到一定程度才會產生之效益，且主要是減緩疾病傳播，並非表示不會傳染流感，故針對流感高風險族群者，建議自身接種疫苗。
					</div>
				</div>
			</div>
			<div class="info_box info_box_2 animated mb_10">
				<div class="order"><img src="images/num6.png" alt=""></div>
				<div class="info_pic"><img src="images/info_6.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						接種流感疫苗有很多副作用？甚至會致死？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						疫苗與其他任何藥品一樣有可能造成副作用，包括接種後可能會有注射部位疼痛、紅腫，少數的人則會有全身性的輕微反應，如：發燒、頭痛、肌肉酸痛、噁心、皮膚搔癢、蕁麻疹或紅疹等，一般會在發生後1-2天內自然恢復。<br />
						嚴重的副作用，如立即型過敏反應，甚至過敏性休克等不適情況（臨床表現包括呼吸困難、聲音沙啞、氣喘、眼睛或嘴唇腫脹、頭昏、心跳加速等），發生機率非常低，若不幸發生，通常於接種後幾分鐘至幾小時內即出現症狀。
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<span class="source">資料來源：<a class="gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-link-cdc-https://www.cdc.gov.tw/Category/List/uu68c_niZ3SPoViEMp72Mg" href="https://www.cdc.gov.tw/Category/List/uu68c_niZ3SPoViEMp72Mg" target="_blank">衛生福利部疾病管制署</a></span>
			<div class="info_share">
				分享懶人包：
				<a class="info_share gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-share-fb-vaccineqa" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fevent.commonhealth.com.tw%2F2021flu%2F%23info&amp;src=sdkpreparse" target="_blank"><img src="images/fb_share.png" alt=""></a>
				<a class="info_share gtm-event" data-category="web_event" data-action="2021fluvaccine" data-label="click-share-line-vaccineqa" href="https://social-plugins.line.me/lineit/share?url=https://event.commonhealth.com.tw/2021flu/index.html#info" target="_blank"><img src="images/line_share.png" alt=""></a>
			</div>
		</div>
	</div>
	<div class="more maincheck" id="more">
		<div class="contain">
			<div class="stitle"><img src="images/subtitle_4.png" alt="關於流感，你還需要知道..."></div>
			<div class="more_c owl-carousel owl-theme animated">
				<div class="more_box">
	            	<div class="more_pic"><img src="images/more_1.png" alt=""></div>
	            	<div class="more_txt">
		            	<dl>
	            			<dt>10月1日起公費流感疫苗分階段開打<br />請符合資格民眾儘速預約接種</dt>
	            			<dd>中央流行疫情指揮中心今(26)日表示，今(110)年度公費流感疫苗分2階段開打，第1階段於10月1日起開打，第2階段自11月15日開始，除50至64歲無高風險慢性病...</dd>
	            		</dl>
	            		<a class="more_btn gtm-event" href="https://www.cdc.gov.tw/Bulletin/Detail/9qRdGeYrYjzJ2XlzBGPxkA?typeid=9" data-category="web_event" data-action="2021fluvaccine" data-label="click-article-https://www.cdc.gov.tw/Bulletin/Detail/9qRdGeYrYjzJ2XlzBGPxkA?typeid=9" target="_blank">了解更多</a>
            		</div>
	            </div>
	        </div>
		</div>
	</div>
	<!--link-->
	<div class="link">
		
		<div class="link_c">
			
			<div class="link_box">
				<p class="tit">指導單位</p>
				<div class="link_logo">
					<a class="gtm-event" href="https://www.tivs.com.tw/" target="_blank" data-category="web_event" data-action="2021fluvaccine" data-label="click-link-website-tivs"><img src="images/logo_tivs.png" alt="TIVS台灣疫苗推動協會"></a>
				</div>
			</div>
			<div class="link_box">
				<p class="tit">友站連結</p>
				<div class="fb-page" data-href="https://www.facebook.com/Vaccinevillage/" data-tabs="" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Vaccinevillage/" class="fb-xfbml-parse-ignore"><a class="gtm-event" href="https://www.facebook.com/Vaccinevillage/" data-category="web_event" data-action="2021fluvaccine" data-label="click-link-fbpage-vaccinevillage">疫苗村 Vaccine Village</a></blockquote></div>
			</div>
		</div>
		<p><span class="left"></span>本網站內容由賽諾菲股份有限公司協助提供<span class="right"></span></p>
	</div>
</div>	
	
	
<!--footer-->
<div class="footer">
	
	<div id="commonhealth_footer">
		<div class="commonhealth_footer-channel">
			<ul>
			    <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健官網</a></li>
			    <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健雜誌</a></li>
			    <li><a href="https://www.commonhealth.com.tw/book/index.action" target="_blank">康健出版</a></li>
			    <li><a href="https://www.youtube.com/user/CommonHealthTV" target="_blank">康健影音</a></li>
			    <li><a href="https://line.me/ti/p/@commonhealth" target="_blank">康健LINE</a></li>
			    <br>
			    <li><a href="https://www.facebook.com/commonhealth/" target="_blank">康健FB</a></li>
			    <li><a href="https://kb.commonhealth.com.tw/" target="_blank">康健知識庫</a></li>
			    <li><a href="https://club.commonhealth.com.tw/" target="_blank">大人社團</a></li>
			    <li><a href="https://lohas.commonhealth.com.tw/" target="_blank">樂活島</a></li>
			</ul>
		</div>
		<div class="commonhealth_footer-copyright">
		  Copyright © 2021 康健雜誌整合傳播部. All rights reserved. <br>本網站內容受著作權保護，詳細請閱讀<a href="https://www.commonhealth.com.tw/copyright " target="_blank">著作權聲明</a>
		</div>
	</div>
</div>
<!--footer end-->
<script src="js/jquery-2.0.2.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/action.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/vue2.6.12.js"></script>
<script src="js/qa.js"></script>
<script>
	$(document).ready(function(){
		$(".c-hamburger").click(function(){
			$(this).toggleClass("is-open");
		});
	});
	$(document).ready(function(){
		$(".navigation li a, .logo a").click(function(){
			$(".c-hamburger").removeClass("is-open");
		});
	});

	$(document).ready(function() {
	    $('.more_c').owlCarousel({
		    responsiveClass: true,
		    nav: true,
		    slideBy: 3,
		    smartSpeed: 700,
		        responsive: {
		        0: {
		          	nav: false,
		            items: 1,
		          },
		          414: {
		            items: 1,
		          },
		          768: {
		            items: 1,
		          },
		    }
	    })
    })

	$(document).ready(function () {
		$.stellar({
		  horizontalScrolling:false,
		  responsive: true,
		  hideDistantElements:false
		});
	});
	$(document).bind('scroll',function(e){
	    var AtTOP =$("#kvc").offset().top;

	    $('div.maincheck').each(function(){
	        if (
	           $(this).offset().top < window.pageYOffset + 80
				//begins before top
	        && $(this).offset().top + $(this).height() > window.pageYOffset + 700
				//but ends in visible area
				//+ 10 allows you to change hash before it hits the top border
	        ) {
	        	var hashId = '#'+$(this).attr('id');
      if( location.hash !== hashId){
       if(history.pushState) {
         history.pushState(null, null, hashId);
       }
       else {
         location.hash = hashId;
       }
      }
          return false;
	        }
	    });
	});
</script>
<!--animation-->
<script>
	$(window).scroll(function() {
		$('.info_box').each(function(){
			var imagePos = $(this).offset().top;

			var topOfWindow = $(window).scrollTop() + $(window).height() * 0.8
			if (imagePos < topOfWindow) {
			$(this).addClass("fadeInDown-2");
			}
			
		});
	});
	$(window).scroll(function() {
		$('.info_v1, .info_v2, .school_d1, .school_d2, .school_d3, .school_d4, .school_d5').each(function(){
			var imagePos = $(this).offset().top;

			var topOfWindow = $(window).scrollTop() + $(window).height() * 0.8
			if (imagePos < topOfWindow) {
			$(this).addClass("fadeIn-6");
			}
			
		});
	});
</script>
</body>
</html>