<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>流感疫言堂，一起守護家人的健康! - 康健雜誌</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content="telephone=no" name="format-detection">
<meta name="description" content="" />
<meta name="keywords" content="">
<meta property="og:title" content="流感疫言堂，一起守護家人的健康! - 康健雜誌">
<meta property="og:description" content=""/>
<meta property="og:image" content="images/fb.jpg">
<link rel="image_src" href="images/fb.jpg">
<link rel="shortcut icon" href="https://www.commonhealth.com.tw/assets/images/favicon.ico" />
<link rel="bookmark" href="https://www.commonhealth.com.tw/assets/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!-- Google Tag Manager --> 
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': 
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); 
})(window,document,'script','dataLayer','GTM-MCMN77');</script> 
<!-- End Google Tag Manager -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '153319238642910');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=153319238642910&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<script type='text/javascript'>var _sf_startpt=(new Date()).getTime()</script>
</head>

<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0" nonce="fZqs7CVg"></script>
<h1>流感疫言堂，一起守護家人的健康!</h1>
<div class="wrap">
	<div class="btn_float">
		<a class="fb" href="https://www.facebook.com/sharer/sharer.php?u=https://cathchou.github.io/test/0910/index.html&amp;src=sdkpreparse" target="_blank"><img src="images/fb_share.png" alt=""></a>
		<a class="line" href="https://line.me/R/msg/text/?https://cathchou.github.io/test/0910/index.html" target="_blank"><img src="images/line_share.png" alt=""></a>
	</div>
	<!--header-->
	<div class="header">
		<span class="logo"><a id="bts-kv"><img src="images/logo.png" alt="康健xTIVS台灣疫苗推動協會"></a></span>
		<div class="c-hamburger toggle-nav">
			<span class="c-hamburger__line"></span>
			<span class="c-hamburger__line"></span>
			<span class="c-hamburger__line"></span>
			
		</div>
		<div class="logo"><a id="bt-kv"><img src="images/logo.png" alt="康健xTIVS台灣疫苗推動協會"></a></div>
		<div class="navigation">
			<ul>
				<li><a id="bt-quiz">流感知多少</a></li>
				<li><a id="bt-school">流感小學堂</a></li>
				<li><a id="bt-info">流感疫苗懶人包</a></li>
				<li><a id="bt-more">關於流感你還需要知道</a></li>
				<li><a class="blue" href="https://www.tivs.com.tw/" target="blanc">台灣疫苗推動協會</a></li>
				<li><a class="blue" href="https://www.facebook.com/Vaccinevillage/" target="blanc">疫苗村</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	<!--kv-->
	<div class="kv maincheck" id="kvc" >
		<div data-stellar-ratio="0.5" class="k1"><img src="images/k_1.png" alt=""></div>
		<div data-stellar-ratio="0.5" class="k2"><img src="images/k_2.png" alt=""></div>
		<div class="title animated fadeIndown">
			<div class="sub">秋冬防流感 ! 流感疫苗知多少？</div>
			<div><img src="images/title.png" alt="流感疫言堂，一起守護家人的健康"></div>
		</div>
		<div class="people">
			<div class="p_contain">
				<div class="p animated fadeInUp"><img src="images/people.png" alt=""></div>
				<div class="t1 animated fadeIn-1"><img src="images/t_1.png" alt="為什麼要接種流感疫苗？"></div>
				<div class="t2 animated fadeIn-2"><img src="images/t_2.png" alt="流感會致死嗎？"></div>
				<div class="t3 animated fadeIn-3"><img src="images/t_3.png" alt="流感疫苗和COVID-19疫苗有什麼差異呢？"></div>
				<div class="vaccine animated fadeIn-4"><img class="animated UpDown-1" src="images/vaccine.png" alt=""></div>
				<div class="syringe animated fadeIn-5"><img class="animated UpDown-2" src="images/syringe.png" alt=""></div>
			</div>
		</div>
	</div>
	<div class="quiz maincheck" id="quiz">
		<div class="bgdot"></div>
		<section id="qa" class="">
		    <div class="contain">
		    	<div class="stitle"><img src="images/subtitle_1.png" alt="流感知多少"></div>
		    	<div class="quiz_c">
			    	<p>隨著天氣轉涼，又來到了流感病毒又開始蠢蠢欲動的季節。每年秋冬，我們都會看到流感疫情相關的新聞，但是對於流感你足夠瞭解嗎？讓我們一起來測測看！</p>
			        <div id="qa-start" v-if="total_length >= question_index">
				        <div class="progress">
				          	<div class="progress-bar" role="progressbar" :style="'width: ' + progress +'%;'" aria-valuenow="0"
				            aria-valuemin="0" aria-valuemax="100"></div>
				        </div>
				        <div class="question">
					        <div class="text questionTitle">
								<!-- 現在題目的圖片 -->
								<div class="quiz_pic">
					            	<img v-bind:src="now_question.img">
					            </div>
								<!-- 現在題目的內容(尚未作答) -->
					            <div v-if="!showAnswer">
						            <!-- 題目問題與作答按鈕 -->
					                <span>Q{{question_index + 1}}. {{now_question.title}}</span>

					                <!-- 按鈕YES OR NO -->
					                <div class="quiz_option">
						                <a v-for="(item, key) in now_question.answers" @click="answerQA(item)">
						                	<span>{{item.title}}</span>
						                </a>
					                </div>
						        </div>
					          	<!-- 現在題目的內容(已經作答) -->
					            <div class="answer" v-else>
					              <h3 class="a_title">{{answerResult.head}}</h3>
					                <p class="text-left">{{answerResult.msg}}</p>
					                <div class="a_bt">
					                	<a @click="next_qa()">{{modal_btn}}</a>
					            	</div>
								</div>
					        </div>
				        </div>
				    </div>
				    <div class="result" v-else>
					    <div class="text-center">
					        <h3>{{result.title}}</h3>
					        <p class="result_txt"> {{question_items.length}} 題中你答對了<span>{{answer_count}}題</span></p>
					        <div class="result_pic"><img :src="result.image"></div>
					        <div class="info_share result_share">
								分享測驗結果：
								<a class="info_share" v-bind:href="result.shareLink.facebook" target="_blank"><img src="images/fb_share.png" alt=""></a>
								<a class="info_share" v-bind:href="result.shareLink.line" target="_blank"><img src="images/line_share.png" alt=""></a>
							</div>
					        <p>{{result.info}}</p>
					        <div class="a_bt">
					            <a id="bt-scroll" href="#school">GO</a>
					        </div>
						</div>
					</div>
				</div>
			</div>
	    </section>
	</div>
	<div class="school maincheck" id="school">
		<div class="contain">
		    <div class="stitle"><img src="images/subtitle_2.png" alt="流感小學堂"></div>
		    <!--什麼是流感？-->
		    <div class="school_box animated">
		    	<div class="school_d1 animated"><img src="images/school_1.png" alt=""></div>
		    	<div class="school_d2 animated"><img src="images/school_2.png" alt=""></div>
		    	<div class="school_d3 animated"><img src="images/school_3.png" alt=""></div>
		    	<div class="school_d4 animated"><img src="images/school_4.png" alt=""></div>
		    	<div class="school_d5 animated"><img src="images/school_5.png" alt=""></div>

		    	<div class="title title1">什麼是流感？</div>
		    	<p>流感是流行性感冒的簡稱，是由流感病毒引起的急性呼吸道傳染病。<br />每年從11月下旬至隔年3月是台灣流感疫情的好發季節。<br />
流感的傳染途徑以「飛沫傳染」為主，由於病毒可以在寒冷低溼度的環境中存活數小時，也有可能經由「間接接觸傳染」，尤其是在空氣不流通的密閉空間中，最容易感染流感！</p>
				<div class="influenza_c">
					<div class="influenza"><img src="images/influenza_1.png" alt="飛沫傳染"></div>
					<div class="influenza"><img src="images/influenza_2.png" alt="間接接觸傳染"></div>
				</div>
			</div>
			<!--流感和感冒、新冠肺炎有什麼差異？-->
		    <div class="school_box animated">
		    	<div class="title title2">流感和感冒、新冠肺炎有什麼差異？</div>
		    	<p>流感和感冒、新冠肺炎症狀類似，但是流感來勢兇猛，典型症狀是突然連續高燒2-3日、頭痛、全身痠痛，只能臥床休息。流感和新冠肺炎都具備高傳染性，出現相關症狀，請戴上口罩儘速就醫！</p>
		    	<table class="rwd_table">
					<thead>
						<tr>
						    <th>比較</th>
						    <th>新冠肺炎</th>
						    <th>流感</th>
						    <th>感冒</th>
						</tr>
					</thead>
					<!--1-->
					<tbody>
						<tr><th class="no_show">比較</th><td>感染源</td></tr>
					    <tr><th>新冠肺炎</th><td>冠狀病毒</td></tr>
					    <tr><th>流感</th><td>流感病毒</td></tr>
					    <tr><th>感冒</th><td>其他許多病毒(鼻病毒、呼吸 道融合病毒、腺病毒等)</td></tr>
					</tbody>
					<!--2-->
					<tbody>
						<tr><th class="no_show">比較</th><td>潛伏期</td></tr>
					    <tr><th>新冠肺炎</th><td>1-14天<span class="long">最長</span></td></tr>
					    <tr><th>流感</th><td>1-4天</td></tr>
					    <tr><th>感冒</th><td>1-3天</td></tr>
					</tbody>
					<!--3-->
					<tbody>
						<tr><th class="no_show">比較</th><td>流行期間</td></tr>
					    <tr><th>新冠肺炎</th><td>全年</td></tr>
					    <tr><th>流感</th><td><span>秋季&冬季</span></td></tr>
					    <tr><th>感冒</th><td>全年</td></tr>
					</tbody>
					<!--4-->
					<tbody>
						<tr><th class="no_show">比較</th><td>病程</td></tr>
					    <tr><th>新冠肺炎</th><td><span>發病初期身體僅輕微不適</span>，部分患者在發病一週後惡化，也有部分無症狀感染者</td></tr>
					    <tr><th>流感</th><td><span>症狀惡化速度非常快</span>，發病到痊癒約需1～3週</td></tr>
					    <tr><th>感冒</th><td>一般可以在一週內痊癒</td></tr>
					</tbody>
					<!--5-->
					<tbody>
						<tr><th class="no_show">比較</th><td>發燒</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>較少</span></td></tr>
					</tbody>
					<!--6-->
					<tbody>
						<tr><th class="no_show">比較</th><td>咳嗽/喉嚨痛</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					</tbody>
					<!--7-->
					<tbody>
						<tr><th class="no_show">比較</th><td>鼻塞/流鼻涕</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>較少</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					</tbody>
					<!--8-->
					<tbody>
						<tr><th class="no_show">比較</th><td>頭痛</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>較少</span></td></tr>
					</tbody>
					<!--9-->
					<tbody>
						<tr><th class="no_show">比較</th><td>呼吸困難</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_yes.png" alt=""></span><span>重症時出現，發生率較高</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_less.png" alt=""></span>重症時出現</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_no.png" alt=""></span>沒有</td></tr>
					</tbody>
					<!--10-->
					<tbody>
						<tr><th class="no_show">比較</th><td>腹瀉</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_yes.png" alt=""></span><span>較多</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_less.png" alt=""></span>較少</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_less.png" alt=""></span>較少</td></tr>
					</tbody>
					<!--11-->
					<tbody>
						<tr><th class="no_show">比較</th><td>肌肉痠痛</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_no.png" alt=""></span><span>沒有</span></td></tr>
					</tbody>
					<!--12-->
					<tbody>
						<tr><th class="no_show">比較</th><td>全身無力</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_yes.png" alt=""></span>常見</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/r_less.png" alt=""></span><span>少見</span></td></tr>
					</tbody>
					<!--13-->
					<tbody>
						<tr><th class="no_show">比較</th><td>嗅/味覺喪失</td></tr>
					    <tr><th>新冠肺炎</th><td><span class="icon"><img src="images/r_yes.png" alt=""></span><span>常見</span></td></tr>
					    <tr><th>流感</th><td><span class="icon"><img src="images/b_no.png" alt=""></span>沒有</td></tr>
					    <tr><th>感冒</th><td><span class="icon"><img src="images/b_no.png" alt=""></span>沒有</td></tr>
					</tbody>
				</table>
		    </div>
		    <!--該如何預防流感病毒？-->
		    <div class="school_box animated">
		    	<div class="title title3">該如何預防流感病毒？</div>
		    	<p>每到流感季節，就會收到各種預防流感的小偏方，例如：吃維他命、室內擺洋蔥等等，但這些缺乏科學證實的網路謠言是無法有效預防流感的，正確預防流感四步驟：</p>
		    	<div class="box_c">
		    		<div class="prevent">
		    			<div class="number"><img src="images/num1.png" alt=""></div>
		    			<img src="images/prevent_1.jpg" alt="">
		    			<dl>
		    				<dt>施打流感疫苗是有效預流感的方式！</dt>
		    				<dd>接種疫苗有助於減輕感染症狀、降低嚴重併發症與死亡風險，高風險族群務必每年都要接種疫苗</dd>
		    			</dl>
		    		</div>
					<div class="prevent">
						<div class="number"><img src="images/num2.png" alt=""></div>
		    			<img src="images/prevent_2.jpg" alt="">
		    			<dl>
		    				<dt>勤洗手</dt>
		    				<dd>雙手避免觸碰眼口鼻，減少接觸感染的機率</dd>
		    			</dl>
		    		</div>
					<div class="prevent">
						<div class="number"><img src="images/num3.png" alt=""></div>
		    			<img src="images/prevent_3.jpg" alt="">
		    			<dl>
		    				<dt>戴口罩</dt>
		    				<dd>減少出入人多的場所或密閉空間，並戴好口罩避免飛沫感染</dd>
		    			</dl>
		    		</div>
					<div class="prevent">
						<div class="number"><img src="images/num4.png" alt=""></div>
		    			<img src="images/prevent_4.jpg" alt="">
		    			<dl>
		    				<dt>增強免疫力</dt>
		    				<dd>保持良好作息、多運動、均衡飲食，增加自身防護力</dd>
		    			</dl>
		    		</div>
		    	</div>
		    </div>
		    <!--哪些人是流感的高風險族群？-->
		    <div class="school_box risk_box animated">
		    	<div class="title title4">哪些人是流感的高風險族群？</div>
		    	<p>即便是健康的成人，也有感染流感的風險，流感除了一般感冒的症狀外，部分病患還會出現肺炎、腦炎、心肌炎等嚴重併發症，甚至死亡。免疫力較差的族群，是最容易出現併發症的高風險族群。</p>
		    	<div class="risk_c">
		    		<div>
			    		<div class="risk">
			    			<dl>
			    				<dt><img src="images/risk_1.png" alt=""></dt>
			    				<dd><span>1</span>50歲以上成人</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_2.png" alt=""></dt>
			    				<dd><span>2</span>孕婦</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_3.png" alt=""></dt>
			    				<dd><span>3</span>未滿五歲嬰幼兒</dd>
			    			</dl>
			    		</div>
						<div class="risk">
			    			<dl>
			    				<dt><img src="images/risk_4.png" alt=""></dt>
			    				<dd>
			    					<span>4</span>肥胖者
			    					<p>（BMI>=30）</p>
			    				</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_5.png" alt=""></dt>
			    				<dd>
			    					<span>5</span>慢性病或罕見疾病患者
			    					<p>(如：氣喘、糖尿病、心血管疾病、肝硬化、腎臟病等)</p>
			    				</dd>
			    			</dl>
			    		</div>
						<div class="risk">
							<dl>
			    				<dt><img src="images/risk_6.png" alt=""></dt>
			    				<dd><span>6</span>免疫功能不全者</dd>
			    			</dl>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="strong">
	    			依據疾管署統計資料，歷年流感重症及死亡個案，約有7至9成具慢性病史，且感染流感後，容易加重慢性病症狀，增加嚴重併發症發生機率與死亡風險。高風險族群建議於流感季節來臨前完成疫苗接種，對疫苗接種有任何疑慮，都可以跟醫師作諮詢。
	    			<p><span>不要輕易聽信網路傳言</span>而拒絕施打疫苗，保護自己也保護家人！</p>
	    		</div>
		    </div>
		</div>
	</div>
	<div class="info maincheck" id="info">
		<div class="bgdot"></div>
		<div class="info_r"><img src="images/info_r.png" alt=""></div>
		<div class="info_l"><img src="images/info_l.png" alt=""></div>
		<div class="contain">
			<div class="info_v1 animated"><img class="UpDown-3" src="images/vaccine_2.png" alt=""></div>
			<div class="info_v2 animated"><img class=" UpDown-3" src="images/vaccine_3.png" alt=""></div>
			<div class="stitle pc"><img src="images/subtitle_3.png" alt="流感疫苗懶人包"></div>
			<div class="stitle m"><img src="images/subtitle_3_m.png" alt="流感疫苗懶人包"></div>
			<p>2021年度公費流感疫苗即將開打，符合公費接種的對象，可至全國各鄉鎮市區衛生所、合約院所進行疫苗接種，接種地點不受戶籍地限制，前往接種疫苗時，也別忘了攜帶健保卡及身分證件。<br /><br />合約院所名單，可以上流感防治一網通查詢或詢問縣市衛生局、疾管署1922疫情通報及諮詢專線。對於流感疫苗，是否還有很多疑惑呢？讓我們來為您解答！</p>
			<div class="info_box info_box_1 animated">
				<div class="order"><img src="images/num1.png" alt=""></div>
				<div class="info_pic"><img src="images/info_1.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						流感疫苗多久要打幾次？多久會產生保護力？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						建議每年都要接種1次流感疫苗！<br />完成流感疫苗接種約2週後疫苗會產生保護力。<br />流感疫苗的保護效力有時限，而且流感疫苗容易變異，每年流行的病毒株不同，因此每年都要定期施打流感疫苗。
					</div>
				</div>
			</div>
			<div class="info_box info_box_2 animated">
				<div class="order"><img src="images/num2.png" alt=""></div>
				<div class="info_pic"><img src="images/info_2.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						打流感疫苗可以預防新冠肺炎嗎？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						流感疫苗不能直接預防新冠肺炎，但是施打流感疫苗可以增加保護力，降低嚴重併發症的風險，對於對抗新冠肺炎來說是有正向效果的。<br />流感疫苗是非活性疫苗，接種流感疫苗建議要與接種新冠肺炎疫苗間隔7天以上！
					</div>
				</div>
			</div>
			<div class="clear"></div>

			<div class="info_box info_box_1 animated">
				<div class="order"><img src="images/num3.png" alt=""></div>
				<div class="info_pic"><img src="images/info_3.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						誰不適合施打流感疫苗？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						1.未滿6個月嬰兒。<br />2.對疫苗成份過敏或曾發生嚴重不良反應者。<br />3.有過敏體質者，接種前可先經由醫師評估。<br />4.發燒中或患有急性中重疾病者，建議等病情穩定後再接種。
					</div>
				</div>
			</div>
			<div class="info_box info_box_2 animated">
				<div class="order"><img src="images/num4.png" alt=""></div>
				<div class="info_pic"><img src="images/info_4.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						應該如何保護新生兒避免感染流感？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						由於出生未滿6個月的新生兒還不適合接種流感疫苗，懷孕期間接種流感疫苗、或哺乳中的媽媽接種疫苗，都可以保護寶寶。<br />嬰兒父母與家中其他成員、照護者也建議可以接種流感疫苗，降低寶寶被感染的機率！
					</div>
				</div>
			</div>
			<div class="clear"></div>

			<div class="info_box info_box_1 animated">
				<div class="order"><img src="images/num5.png" alt=""></div>
				<div class="info_pic"><img src="images/info_5.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						身邊的人都打過疫苗了，我就可以不用打了嗎？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						不行！<br />流感疫苗最重要的功能是「避免造成死亡的重症與併發症發生」，雖然身邊的人都有施打疫苗可以降低被感染的風險，免疫力比較差的高風險族群還是建議都要施打疫苗，提高自身保護力。
					</div>
				</div>
			</div>
			<div class="info_box info_box_2 animated">
				<div class="order"><img src="images/num6.png" alt=""></div>
				<div class="info_pic"><img src="images/info_6.jpg" alt=""></div>
				<div class="info_txt">
					<div class="info_title">
						<div class="q"><img src="images/q.jpg" alt=""></div>
						接種流感疫苗有很多副作用？甚至會致死？
					</div>
					<div class="info_content">
						<div class="a"><img src="images/a.jpg" alt=""></div>
						流感疫苗常見副作用有注射部位紅腫和注射部位痠痛，少數人會出現發燒、頭痛、肌肉痠痛、噁心等症狀，但一般再發生後1-2天內會自然恢復。<br />嚴重副作用發生機率非常低，如有不適，應儘速就醫，並告知醫師疫苗接種時間。
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="info_share">
				分享懶人包：
				<a class="info_share" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcathchou.github.io%2Ftest%2F0910%2F%23info&amp;src=sdkpreparse" target="_blank"><img src="images/fb_share.png" alt=""></a>
				<a class="info_share" href="https://line.me/R/msg/text/?https://cathchou.github.io/test/0910/index.html#info" target="_blank"><img src="images/line_share.png" alt=""></a>
			</div>
		</div>
	</div>
	<div class="more maincheck" id="more">
		<div class="contain">
			<div class="stitle"><img src="images/subtitle_4.png" alt="關於流感，你還需要知道..."></div>
			<div class="more_c owl-carousel owl-theme animated">
				<div class="more_box" href="#" target="_blank" >
	            	<div class="more_pic"><img src="images/more_1.png" alt=""></div>
	            	<div class="more_txt">
		            	<dl>
	            			<dt>流感疫苗10/1全民接種<br />8大高危險群注意</dt>
	            			<dd>今年的公費流感疫苗自10月1日開打，疾管署統計資料指出，截至目前為止，流感併發重症確定病例共160例、死亡病例共16例。為提升防護力，疾管署宣布...</dd>
	            		</dl>
	            		<a class="more_btn" href="#">了解更多</a>
            		</div>
	            </div>
	        </div>
		</div>
	</div>
	<!--link-->
	<div class="link">
		
		<div class="link_c">
			
			<div class="link_box">
				<p class="tit">指導單位</p>
				<div class="link_logo">
					<a href="https://www.tivs.com.tw/" target="_blank"><img src="images/logo_tivs.png" alt="TIVS台灣疫苗推動協會"></a>
				</div>
			</div>
			<div class="link_box">
				<p class="tit">友站連結</p>
				<div class="fb-page" data-href="https://www.facebook.com/Vaccinevillage/" data-tabs="" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Vaccinevillage/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Vaccinevillage/">疫苗村 Vaccine Village</a></blockquote></div>
			</div>
		</div>
		<p><span class="left"></span>本網站內容由賽諾菲股份有限公司協助提供<span class="right"></span></p>
	</div>
</div>	
	
	
<!--footer-->
<div class="footer">
	
	<div id="commonhealth_footer">
		<div class="commonhealth_footer-channel">
			<ul>
			    <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健官網</a></li>
			    <li><a href="https://www.commonhealth.com.tw/" target="_blank">康健雜誌</a></li>
			    <li><a href="https://www.commonhealth.com.tw/book/index.action" target="_blank">康健出版</a></li>
			    <li><a href="https://www.youtube.com/user/CommonHealthTV" target="_blank">康健影音</a></li>
			    <li><a href="https://line.me/ti/p/@commonhealth" target="_blank">康健LINE</a></li>
			    <br>
			    <li><a href="https://www.facebook.com/commonhealth/" target="_blank">康健FB</a></li>
			    <li><a href="https://kb.commonhealth.com.tw/" target="_blank">康健知識庫</a></li>
			    <li><a href="https://club.commonhealth.com.tw/" target="_blank">大人社團</a></li>
			    <li><a href="https://lohas.commonhealth.com.tw/" target="_blank">樂活島</a></li>
			</ul>
		</div>
		<div class="commonhealth_footer-copyright">
		  Copyright © 2021 康健雜誌整合傳播部. All rights reserved. <br>本網站內容受著作權保護，詳細請閱讀<a href="https://www.commonhealth.com.tw/copyright " target="_blank">著作權聲明</a>
		</div>
	</div>
</div>
<!--footer end-->
<script src="js/jquery-2.0.2.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/action.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/vue2.6.12.js"></script>
<script src="js/qa.js"></script>
<script>
	$(document).ready(function(){
		$(".c-hamburger").click(function(){
			$(this).toggleClass("is-open");
		});
	});
	$(document).ready(function(){
		$(".navigation li a, .logo a").click(function(){
			$(".c-hamburger").removeClass("is-open");
		});
	});

	$(document).ready(function() {
	    $('.more_c').owlCarousel({
		    responsiveClass: true,
		    nav: true,
		    slideBy: 3,
		    smartSpeed: 700,
		        responsive: {
		        0: {
		          	nav: false,
		            items: 1,
		          },
		          414: {
		            items: 1,
		          },
		          768: {
		            items: 1,
		          },
		    }
	    })
    })

	$(document).ready(function () {
		$.stellar({
		  horizontalScrolling:false,
		  responsive: true,
		  hideDistantElements:false
		});
	});
	$(document).bind('scroll',function(e){
	    var AtTOP =$("#kvc").offset().top;

	    $('div.maincheck').each(function(){
	        if (
	           $(this).offset().top < window.pageYOffset + 80
				//begins before top
	        && $(this).offset().top + $(this).height() > window.pageYOffset + 700
				//but ends in visible area
				//+ 10 allows you to change hash before it hits the top border
	        ) {
	        	var hashId = '#'+$(this).attr('id');
      if( location.hash !== hashId){
       if(history.pushState) {
         history.pushState(null, null, hashId);
       }
       else {
         location.hash = hashId;
       }
      }
          return false;
	        }
	    });
	});
</script>
<!--animation-->
<script>
	$(window).scroll(function() {
		$('.info_box').each(function(){
			var imagePos = $(this).offset().top;

			var topOfWindow = $(window).scrollTop();
			if (imagePos < topOfWindow+750) {
			$(this).addClass("fadeInDown-2");
			}
			var ww = $(window).width();
			if (ww < 767) {
		    $(this).removeClass("fadeInDown-2");
		    }
		});
	});
	$(window).scroll(function() {
		$('.info_v1, .info_v2, .school_d1, .school_d2, .school_d3, .school_d4, .school_d5').each(function(){
			var imagePos = $(this).offset().top;

			var topOfWindow = $(window).scrollTop();
			if (imagePos < topOfWindow+750) {
			$(this).addClass("fadeIn-6");
			}
			var ww = $(window).width();
			if (ww < 767) {
		    $(this).removeClass("fadeIn-6");
		    }
		});
	});
</script>
</body>
</html>