/* CSS Reset */
*{ margin: 0; padding: 0; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
ul, li { margin: 0; padding: 0;}
img, div, iframe{ border: 0;}
body, html { width: 100%; height: 100%;}
ol,ul {list-style: none;margin:0;padding:0;}
a{ text-decoration:none; transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
-moz-transition:all .5s ease;}
a:link, a:visited ,a:hover ,a:active {text-decoration: none;}
body, html {height: 100%;width: 100%; -webkit-text-size-adjust: 100%; background: #fff;
text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;
font-family: 'Noto Sans',Helvetica,Arial,儷黑 Pro,LiHei Pro,微軟正黑體,sans-serif; color: #666;} 
button{ transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease;
-moz-transition: all .5s ease;}

/*----- fonts -----*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jaq9rf');
  src:  url('../fonts/icomoon.eot?jaq9rf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?jaq9rf') format('truetype'),
  url('../fonts/icomoon.woff?jaq9rf') format('woff'),
  url('../fonts/icomoon.svg?jaq9rf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-location .path:before { content: "\e901";}
.myicon{ font-size: 1.7rem; color: #00a5a2; overflow: initial !important;transform: translateY(0px);}
.myicon:hover{ color: #056b63;transform: translateY(-5px); }


/*----- custom -----*/
#header, #footer{position:fixed;display:block;width: 100%;z-index:9;text-align:center;color: #f2f2f2;}
#header{top:0px; padding: 60px 80px 0;}
#footer{bottom:0px; color: #009e94; padding: 0 80px 60px;}
#footer .copyright{ position: absolute; font-size: 0.85rem;}
#footer li{ display: inline-block; }
#footer_svg > a, #menu_svg > a{ display: inline-block;width: 30px;margin: 0 8px; }
#menu-m, .m-content, .contact-m{ display: none; }
h1.logo, .logo-menu{ max-width: 187px; float: left; width: 100%;}
h1.logo img, .logo-menu img{ max-width: 100%; height: auto; display: block;}
p{ font-size:1rem;letter-spacing: 1px;}
.letter-2{letter-spacing: 2px;}
.letter-10{letter-spacing: 10px;}
.container{ width: 1340px; margin: 0 auto; }
.hide{display: none !important;}

#menu li { display:inline-block; font-size: 1rem;}
#menu li.active{ color: #fff;}
#menu li a{ text-decoration:none; color: #666565; font-weight: 500;}
#menu li.active a ,#menu li a:hover{ color: #00a5a2;}
#menu li a,#menu li.active a{ padding: 9px 18px; display:block; font-weight: 500;}
#menu{ float: right;}

.section{ text-align:center; padding: 6em;}
#section0, #section1, #section2, #section3, #section4{ background-size: cover; background-attachment: fixed; background-position: center;}
#section0{ background-image: url(../images/bg_1.jpg);}
#section1{ background-image: url(../images/bg_2.jpg);}
#section2{ background-image: url(../images/bg_3.jpg);}
#section4{ background-image: url(../images/bg_4.jpg);}

/*----- Menu -----*/
#navigation-menu{ text-align: center; background:url(../images/bg_menu.png) no-repeat top; position: absolute; top: 485px; width: 925px; left: 50%; margin-left: -462px; height: 205px;}
#navigation-menu ul{ display:inline-block; padding: 20px 0;}
#navigation-menu li{ position: absolute; width: 100px;}
#navigation-menu li p{ font-size: 1.5rem; color: #ffe400; font-weight: bold; line-height: 1.3; margin-top: 20px;}
#navigation-menu li p.mt-1{ display: block; }
#navigation-menu li p.mt-2{ display: none; }
#navigation-menu li.m1 { left: 0; bottom: 30px; }
#navigation-menu li.m2 { top: -30px; left: 100px;}
#navigation-menu li.m3 { bottom: 20px; left: 220px;}
#navigation-menu li.m4 { top: -50px; right: 160px;}
#navigation-menu li.m5 { bottom: 25px; right: 25px;}
#navigation-menu li.m5 a p { color: #fff;}
#navigation-menu li a{ display: block; margin:0 auto; cursor: pointer;}
#navigation-menu li a:hover span { animation-play-state:paused;-webkit-animation-play-state:paused;}
#navigation-menu li.m1 span{ width: 65px; display: block; margin: 0 auto;}
#navigation-menu li.m2 span{ width: 88px; display: block; margin: 0 auto;}
#navigation-menu li.m3 span{ width: 65px; display: block; margin: 0 auto;}
#navigation-menu li.m4 span{ width: 91px; display: block; margin: 0 auto;}
#navigation-menu li.m5 span{ width: 65px; display: block; margin: 0 auto;}
#navigation-menu a:hover{ color: #5e5e5e; transition: color 0.5s; -webkit-transition: color 0.5s;}
#navigation-menu{ display: block; }

/*----- about & concept -----*/
.contain{ float: right; width: 40%;text-align: left; margin-top: 130px;}
.contain p{ line-height: 1.7rem; }
.title{float: left; width: 50%;text-align: left; font-weight: 300; font-size: 5.5rem; color: #00a4a2;}
.sub{ font-size: 1.25rem; margin-bottom: 50px; font-weight: 500;}

/*----- contact -----*/
.contact{ display: block; position: relative; margin: 0 30px 0 0; }
.lg-2 {left: 0; right: inherit;position: absolute; }
.lg-2 .lg:after{ content: ""; background: #fff; display: block; width: 100%; opacity: 0.9; height: 100%; position: absolute; top: 0; z-index: -1; }
.lg-2 .lg{ top:0 !important;  position: absolute; border: none; background: none;}
.lg .box{ width: 100%; height: 100%; padding: 40px 100px;}
.lg-2 .lg .box{ height: 85%; width: 50%; position: relative; margin: 0 auto; padding: 0 !important;}
.lg-2 .lg .lg-sub-html, .lg-2 .lg-inner{ width: 100%; }
.lg-2 .lg .lg-sub-html{ top: 8%; width: 95%; margin: auto; left: 0; right: 0; padding: 0;}
.lg-2 .lg .lg-sub-html h4, .contact-m{ padding:  60px 0 40px; margin: 0; }
.lg-2 .lg-inner{ height: 50%; bottom: 0; top: initial;}
.lg-2 .lg .lg-toolbar .lg-icon{  margin: 30px 30px 0 0;}
.lg-2 .lg .lg-actions .lg-next { right: 30px;}
.lg-2 .lg .lg-actions .lg-prev { left: 30px;}
.lg-2 .lg-backdrop.in{ width: 100%; height: 100%; position: absolute; }
.in-2{ width: 50% !important; }
.demo-gallery  ul { margin-bottom: 0;}
.demo-gallery  ul li { float: left; margin-bottom: 15px; padding: 0 20px;}
.demo-gallery  ul li a { display: block; overflow: hidden; position: relative;float: left;}
.demo-gallery  ul li a img { -webkit-transition: -webkit-transform 0.5s ease 0s; -moz-transition: -moz-transform 0.5s ease 0s; -o-transition: -o-transform 0.5s ease 0s;
transition: transform 0.5s ease 0s; -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); height: 100%; width: 100%;}
.demo-gallery  ul li a:hover img { -webkit-transform: scale3d(1.1, 1.1, 1.1); transform: scale3d(1.1, 1.1, 1.1);}
.demo-gallery  ul li a .mask{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0;background-color: rgba(0,157,149, 0.5);
-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.demo-gallery  ul li a:hover .mask{ -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;}
.demo-gallery  ul li a p { position: absolute; top: 45%;z-index: 1; left: 0; right: 0; margin: auto;}
.demo-gallery  ul li a p span{ letter-spacing: 4px; font-weight: 500; font-size: 1.7rem; color: #fff;}

/*----- services -----*/
.lg:after{ content: ""; background: #fff; display: block; width: 100%; opacity: 1; height: 100%; position: absolute; top: 0; z-index: -1; }
 
/*----- Responsive -----*/
@media screen and (min-width: 1680px){
.lg-2 .lg .lg-sub-html h4, .contact-m{ padding: 130px 0 40px; }
}

@media screen and (max-width: 1500px){
.container{ width: 100%; }
}

@media screen and (max-width: 1366px){
.title{ font-size: 4.5rem; }
.contain{ width: 45%; margin-top: 70px;}
.lg-2 .lg .lg-sub-html h4, .contact-m{ font-size: 1.5rem; padding: 80px 0 40px; }
.demo-gallery ul li a p span{ font-size: 1.5rem; }
}

@media screen and (max-width: 1279px){
.title{ font-size: 3.5rem; }
.contain{ width: 50%; margin-top: 50px; }
.sub{ margin-bottom: 30px; }
p{ font-size: 0.875rem; }
#header{ padding: 30px 30px 0; }
#footer{ padding: 0 30px 30px; }
}
@media screen and (max-width: 1024px){
.lg-2 .lg .lg-actions .lg-prev{ left: 20px; }
.lg-2 .lg .lg-actions .lg-next{ right: 20px; }	
.lg-2 .lg .box{ width: 60%; }
.lg-2 .lg .lg-sub-html h4, .contact-m{ padding: 50px 0 30px; }
.owl-carousel, .demo-gallery ul li{ padding: 0; }
.demo-gallery ul li a p span{ letter-spacing: 2px; font-size: 1.25rem; }
.lg-outer .lg-inner{ width: 60%; }
.lg-sub-html{ padding: 10px; width: 45%;}
.lg-sub-html a{ margin-top: 40px; }
.lg-outer .lg{ width: 100% !important; height: 100% !important; top: 0; }
.lg-sub-html{ float: none; width: 50%; position: absolute; top: 60%; left: 0; padding: 20px; right: 0; margin: auto; text-align: center; }
.lg-sub-html h4{ margin:0 0 20px 0; }
.lg-outer .lg-inner{ width: 100%; top: 60px; height: 50%; bottom: inherit; }
.lg .box{ width: 100%; height: 100%; padding: 60px 30px 30px; }
.lg-2 .lg{ width: 50% !important;}
.lg-2 .lg-inner{ bottom: 0 !important; top: initial; }
.lg-2 .lg .lg-sub-html{ text-align: left; }
}

@media screen and (max-width: 1023px){
#menu, .contact{ display: none;}
#menu-m, .m-content{ display: block; }
#header{ padding: 30px 30px 0; }
.logo-menu{ position: absolute; top: 30px;left: 30px;}
h1.logo a, .logo-menu a{ display: block; width: 80%; }
#footer{padding: 0 30px 30px;}
#menu_svg{ position: absolute; right: 0; left: 0; text-align: center; bottom: 10%; }
#menu_svg .en{ position: absolute; font-weight: bold; font-size: 1.25rem; color: #00a4a1; right: 30px; top: 0; margin: 0; }
#menu_svg > a{ margin: 0 15px; }
#menu-m { text-align: center; max-width: 100%; position: fixed; z-index: 9999; right: 0;}
.m-content { background:url(../images/bg_menu_m.jpg) center no-repeat; position: fixed; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; visibility: hidden;
transition: all .5s ease; z-index: 10000; background-size: 100%;}
.open { opacity: 1; visibility: visible;}
nav { text-align: center; height: 90vh; display: flex; flex-direction: column; justify-content: center;}
nav	ul { margin: 0; padding: 0; list-style: none;}
nav	ul li { align-items: center; flex: 1; line-height: 12vh;}
nav	ul li a { font-size: 1.5em; transition: all 0.5s ease; display: block; text-decoration: none; color: #666666;}
nav	ul li a:before { content: ""; position: absolute; width: 50%; height: 2px; bottom: 0; left: 25%; background: white; visibility: hidden; transform: scaleX(0);
transition: all 0.3s ease-in-out 0s;}
.toggle-overlay { transition: all .5s ease;}
.close {}
.outer-close { position: absolute; right: 0; top: 0; width: 35px; height: 30px; cursor: pointer; outline: none;}
.toggle-nav { padding:15px 0 15px 20px; text-align: left; transition:color linear 0.15s;display: block;}
.toggle-nav span{ margin-left: 10px;}
.toggle-nav span.menu{ margin-left: 25px;}
.c-hamburger{position: absolute; top: 30px; width: 100%; outline: none; cursor: pointer; right: 30px; background: none; border:none; width: 35px; height: 30px;}
.c-hamburger__line{ width: 35px; height: 3px;position: absolute;right: 0;background-color: #00a4a1;transition: transform 0.3s ease, top 0.3s ease 0.4s;}
.c-hamburger__line:nth-child(1){top: 0px;}
.c-hamburger__line:nth-child(2){top: 10px;}
.c-hamburger__line:nth-child(3){top: 20px;}
.open .c-hamburger__line{transition: top 0.3s ease, transform 0.3s ease 0.4s;}
.open .c-hamburger__line:nth-child(1) ,.open .c-hamburger__line:nth-child(2){top: 10px;transform: rotate(135deg);
transition: top 0.3s ease, transform 0.4s ease 0.4s;}
.open .c-hamburger__line:nth-child(3){top: 10px;transform: rotate(225deg);}
.contact-m, .owl-carousel-m{ display: block; }
.contact-m h4{ color: #009d95; font-size:2rem; font-weight: 500; }
#section3{ background-image: url(../images/bg_contact_m.jpg);}
.iScrollIndicator{display: none !important;}
.owl-carousel-m .mm{ width: 65%; margin: 0 auto; }
.owl-carousel-m .mm p{ text-align: left; margin: 20px 0 50px; }
}

@media screen and (max-width: 801px){
.fp-scrollable{ display:block; }
.fp-scroller{ height: 100%; }
#section4 .fp-scrollable .fp-scroller{ height: initial; }
.section{ padding: 60px; }
.container{ height: 100%; position: relative; }
.title{ float: none; position: absolute; top: 80px; width: 100%; }
.contain{ float: none; position: absolute; bottom: 30px; width: 100%; }
#fp-nav, #footer{ display: none; }
.demo-gallery ul li{ float: none; margin: 15px 0;}
.demo-gallery ul li a{ float: none; width: 70%; margin: 10px auto;}
.demo-gallery ul{ padding: 15% 0; }
.demo-gallery  ul li a .mask, .lg-actions{ display: none !important; }
.demo-gallery ul li a p{ position: relative; z-index: 1; margin-top: -21rem; padding-bottom: 6rem; top: inherit; }
.demo-gallery  ul li a:hover img { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1);}
.lg-sub-html{ width: 80%; }
.owl-carousel-m .mm{ width: 75%;}
}

@media screen and (max-width: 650px){
.demo-gallery ul li a p{  margin-top: -14rem; padding-bottom: 4rem;}
.lg-sub-html{ width: 90%; }
.lg-sub-html p{ text-align: left; }
}


@media screen and (max-width: 480px){
h1.logo a, .logo-menu a{ width: 65%; }
.section{ padding: 30px; }
.title{ font-size: 2.5rem; letter-spacing: 5px; }
.contain{ margin: 0; bottom: 10px; }
.sub{ font-size: 1rem; margin-bottom: 20px; }
.contain p{ line-height: 1.5rem; }
#menu_svg > a{ margin:0 10px; }
.demo-gallery ul li a{ width: 80%; }
.lg-sub-html h4{ font-size: 1.25rem; margin: 0 0 20px; }
.lg-sub-html a{ margin-top: 20px; }
.owl-carousel-m{ padding: 0 30px; }
.owl-carousel-m .mm{ width: 95%; padding: 30px 0;}
.contact-m h4{ font-size: 1.5rem; }
.owl-carousel-m .owl-nav button.owl-prev, .owl-carousel-m .owl-nav button.owl-next{
width: 20px; height: 36px; top: 40%;}
.owl-carousel-m .owl-nav button.owl-prev{ left: -5px; }
.owl-carousel-m .owl-nav button.owl-next{ right: -5px; }
.c-hamburger{ width: 30px; }
.c-hamburger__line{ width: 30px; height: 2px; }
.c-hamburger__line:nth-child(2){ top: 7px; }
.c-hamburger__line:nth-child(3){ top: 14px; }

}

@media screen and (max-width: 375px){
h1.logo a, .logo-menu a{ width: 50%; }
.demo-gallery ul li a p{  margin-top: -12rem;  }	
.lg-sub-html{ width: 100%; }
}

@media screen and (max-width: 360px){
.title{ font-size: 2rem; top: 60px; }
.section{ padding: 20px; }
#header{ padding: 20px 20px 0 }
.c-hamburger{ top: 20px; right: 20px; }
}

/*----- animation -----*/
body.fp-viewing-about .title1, body.fp-viewing-concept .title2{
    visibility: visible;
    animation-name: fadeInDown;
 	-webkit-animation-name: fadeInDown;
 	animation-delay: .7s;
	-webkit-animation-delay: .7s;
}
body.fp-viewing-about .contain1, body.fp-viewing-concept .contain2{
    visibility: visible;
    animation-name: fadeInDow-2;
 	-webkit-animation-name: fadeInDown-2;
 	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
body.fp-viewing-contact .contact, body.fp-viewing-services .services, body.fp-viewing-contact .contact-m{
    visibility: visible;
    animation-name: fadeIn;
 	-webkit-animation-name: fadeIn;
 	animation-delay: .7s;
	-webkit-animation-delay: .7s;
}
.animated {
	animation-duration: .7s;
	-webkit-animation-duration: .7s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translate3d(0, -20%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; transform: translate3d(0, -20%, 0);}
  100% { opacity: 1; transform: none;}
}

@keyframes fadeInDown-2 {
  0% { opacity: 0; transform: translate3d(0, -10%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInDown-2 {
  0% { opacity: 0; transform: translate3d(0, -10%, 0);}
  100% { opacity: 1; transform: none;}
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
.fadeIn {
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
  	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}



