/* CSS Reset */
*{ margin: 0; padding: 0; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
ul, li { margin: 0; padding: 0; list-style: none;}
img, div, iframe{ border: 0;}
body, html { width: 100%; height: 100%;}
h1{ display: none;}
p{ font-size: 1.125rem; color: #2a2a2a; line-height: 1.8;}
a{ text-decoration:none; transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
-moz-transition:all .5s ease; cursor: pointer;}
a:link, a:visited ,a:hover ,a:active {text-decoration: none;}
body, html {height: 100%;width: 100%; -webkit-text-size-adjust: 100%; background: #fbf0ef;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
font-family: Helvetica,Arial,Hiragino Sans GB,WenQuanYi Zen Hei,儷黑 Pro,LiHei Pro,微軟正黑體,sans-serif;}
h1{ display: none;}
button{ transition: all .5s ease; -webkit-transition: all .5s ease; -o-transition: all .5s ease;
-moz-transition: all .5s ease;}

/*----- custom -----*/
.wrap{}
#navigation-menu img, .header img, .kv img, .video img, .map img, .expand img, .qa img, .cancer img, .toggle-nav img, .social-line img, .quiz_pic img, .influenza img
, .prevent img, .risk img, .info img, .more img, .icon img, .link img, .result img, .school_box img, .btn_float a img
{ max-width: 100%; height: auto; display: block;
image-rendering: -moz-crisp-edges; /*Firefox*/
image-rendering: -o-crisp-edges; /*Opera*/
image-rendering: -webkit-optimize-contrast; /*Webkit*/
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor; /*IE*/
vertical-align: bottom;
}
.clear{ clear: both; }
.center{ text-align: center;}
.contain{ width: 1400px; margin: 0 auto; position: relative;}
.flex{ display: flex;}
.blockTitle{ font-size: 2.25rem; color:#2a2a2a; margin-bottom: 60px; position: relative; letter-spacing: 2px;}
.sTitle{ font-size: 1.5rem; font-weight: bold; color: #006835; margin-bottom: 40px;}
.toggle-nav, span.logo{ display: none;}
.info_box, .info_v1, .info_v2, .school_d1, .school_d2, .school_d3, .school_d4, .school_d5{ visibility: hidden; }
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {width: 100% !important;}
.btn_float{ display:flex; background: url(../images/btn_float.png) no-repeat; width: 100px; height:118px; position: fixed; background-size: 100%; bottom: 40px; right: 40px; z-index: 99; }
.btn_float a{ cursor: pointer; display: block; width: 100%;}
.pc{ display: block; }
.m{ display: none; }
.mb_10{ margin-bottom: 10px !important;}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
   display: none;
}
#second{
	background: url(../images/secondBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}




/*----- header -----*/
.header{ background: #ffffff; padding: 4px 60px; width: 100%; margin: auto;position: fixed; z-index: 100; left: 0; right: 0; box-shadow: 0px 0px 14px 2px rgb(0 0 0 / 25%); }
.logo{ float: left; width: 80px; margin-top: 7px; }
#bt-kv{ display: block; }
.navigation{ float: right; }
.navigation li{ display: inline-block; padding: 12px 0; margin: 0 15px; }
.navigation li a{ font-size: 1.25rem; font-weight: bold; color: #2a2a2a;}
.navigation li a:hover{ color: #d84444; }

/*----- kv -----*/
.kv{ width: 100%; margin: 0 auto ; overflow: hidden; background: url(../images/bg_kv.jpg) center bottom no-repeat; background-attachment: fixed; position: relative; min-height: 820px; padding-top: 70px;}
.k1{ width: 279px;position: absolute; top: 145px; left: 55px; }
.k2{ width: 358px; position: absolute; top: 55px; right: 0;}
.title_content{width: 1000px; margin: 0 auto; position: relative; color: #fff; text-align: center;}
.title{ width: 850px; margin: -70px auto 0;}
.slogan{ width: 320px; position: absolute; top:130px; left:-30px;}
.sub{ font-size: 2.75rem; font-weight: bold;text-shadow: black 0.1em 0.1em 0.2em; letter-spacing: 3px; }
.sub_line{ display: inline-block; height: 1px; background: #fff; width: 50px; margin: 0 5px;}
.butterfly_1{ width: 35px; position: absolute; right: 40px; top: 170px;}
.butterfly_2{ width: 51px; position: absolute; right: -30px; top: 200px;}

/*----- about -----*/
.about{ background: #fff; padding-top: 120px; position: relative;}
.about .contain{ position: relative; z-index: 1;}
.aboutPic{ width: 720px; margin-right: 80px;}
.aboutTxt{ padding: 110px 40px 0 0;}
.title_about{ width: 738px; position: absolute; top: -80px; left: -80px;}
.aboutBG{ background:url(../images/bg.jpg) repeat ; position: absolute; height: 47%; width: 100%; bottom: 0;}

/*----- video -----*/
.video{ background: url(../images/bg.jpg) repeat; padding-top: 120px;}
.v_box{ width: 100%; background:linear-gradient(90deg, #ebeded 0%,transparent 0%, #ebeded 30%, #ffffff 50%, #ffffff 100%); margin-bottom: 40px; }
.v_box:last-child{ margin-bottom: 0;}
.videoPic{ width: 45%;}
.videoPic img{ width: 100%;}
.videoTxt{ padding: 50px 0 50px 60px; width: 50%;}
.v_title{ font-size: 1.5rem; color: #ed6c00; font-weight: bold; margin-bottom:20px ; letter-spacing: 1px;}
.v_title span{ background: #ed6c00; border-radius: 999px; color: #fff; padding: 5px 20px; margin-right: 10px;}
.title_video{ width: 738px; position: absolute; top: -65px; right: 20px;}
.host{ font-weight: bold; color: #006835; display: inline-block; }
.host span{ display: inline-block; margin-top: -5px; vertical-align: middle; margin-right: 5px;}
.intro{ margin-top: 30px;}
.videoTxt ul{ font-size: 1.125rem; margin-top: 30px;}
.videoTxt ul span.arrow_1, .mapTxt ul span.arrow_1, .chr .tick{ width: 20px; float: left; margin-right: 5px; height: 20px; display: inline-block; margin-top: 5px;}
.videoTxt ul li p, .mapTxt ul li p, .chr ul li p{ float: left; width: 90%;}

/*----- quiz -----*/
.quiz{ background: url(../images/bg.jpg) repeat; padding-top: 120px; position: relative;}
.quiz_c{ margin: 0 200px; }
.bgdot{ background: url(../images/bg_quiz_2.jpg) repeat; position: absolute; top: 0; width: 100%; height: 262px;}
.progress { height: 11px; border-radius: 999px; background-color: #fff9e1; display:-ms-flexbox; display:flex; overflow:hidden; font-size:.75rem; border: 2px #56412c solid; margin: 40px 0 20px;}
.progress .progress-bar { background: #d84444; display:-ms-flexbox; display:flex; -ms-flex-direction:column; flex-direction:column; -ms-flex-pack:center; justify-content:center; color:#fff; text-align:center; white-space:nowrap; transition:width .6s ease;}
@media screen and (prefers-reduced-motion:reduce){
  .progress-bar{ transition:none;}
}
.progress-bar-striped{ background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);background-size:1rem 1rem;}
.progress-bar-animated{ -webkit-animation:progress-bar-stripes 1s linear infinite; animation:progress-bar-stripes 1s linear infinite;}
#qa #qa-start .question { width: 100%; color: #493824; font-size: 1.5rem; padding: 15px 0 0; font-weight: bold;}
.quiz_pic{ width: 440px; margin: 0 auto 20px;}
.quiz_option{ margin-top: 20px; }
.quiz_option a{ background: #493824; width: 46%; display: inline-block; color: #fff3df; font-size: 1.125rem; text-align: center; padding: 10px 0; border-radius: 999px; margin: 7px 13px;}
.quiz_option a:hover{ background: #d84444; }
.result_pic{ width: 721px; margin:0 auto;}

.result .title { text-align: center; font-size: 1.75rem; color: #eb6d81; margin: 40px 0 30px 0;}
.result .img { width: 100%; min-height: 280px; position: relative;}
.answer .a_title{ text-align: center; color: #d84444; font-size: 1.75rem;  margin-bottom: 20px;}
.answer .a_bt, .result .a_bt{ width: 40%;  margin: 0 auto; text-align: center; margin-top: 30px; }
.answer .a_bt a, .result .a_bt a{ background: #493824;display: block;color: #fff3df;padding: 12px 0; border-radius: 999px; font-size: 1.375rem; font-weight: bold; }
.answer .a_bt a:hover, .result .a_bt a:hover{ background: #d84444; }
.result_share{ text-align: center !important; margin: 20px 0 40px; }
.result_txt{ margin-top: 20px; }
.result_txt span{ color: #d84444; font-size: 1.5rem; font-weight: bold;}

/*----- map -----*/
.map{ background: url(../images/bg_map.jpg) repeat;; padding-top: 120px; position: relative; color: #fff; text-align: center; padding: 100px 0; overflow: hidden;}
.mapTitle{font-size: 2.25rem; }
.mapTitle span{ background: -webkit-linear-gradient(-90deg, rgb(255,255,255) 20%, rgb(255,248,163) 100% );-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.mapTitle p{ width: 800px; color: #fff; margin: 0 auto; margin-top: 40px;}
.map_content{ padding: 0 40px 0 70px; margin-top: 50px;}
.mapPic{ margin:0 80px 0 40px; position: relative; }
.mapPic img{ width: 410px;;}
.mapPic p{ font-size: 1.875rem; color: #fff;position: absolute;text-align: left; line-height: 1.3; top: 70px; left: -80px; }
.mapTxt{ width: 55%;}
.mapTxt p{ color: #fff; text-align: left;}
.mapTxt ul li{ border-bottom: 1px solid #5c7c6c; padding: 20px 0;}
.mapTxt ul li:last-child{ border-bottom: none;}
.smoke, .smoke2, .smoke3{ position: absolute; top: 0; left: 0; width: 200%;}
.smoke{animation: 35s move1 infinite linear ;-webkit-animation: 35s move1 infinite linear ;}
.smoke2{ animation: 40s move2 infinite linear ;-webkit-animation: 40s move2 infinite linear ;}
.smoke3{ animation: 40s move3 infinite linear ;-webkit-animation: 40s move3 infinite linear ;}
@keyframes move1 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}
@-webkit-keyframes move1 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}

@keyframes move2 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}
@-webkit-keyframes move2 {
    0% {
      left: 100%; }
    100% {
      left: -200%; } 
}

@keyframes move3 {
    0% {
      left: 0%; }
    100% {
      left: -200%;} 
}
@-webkit-keyframes move3 {
    0% {
      left: 0%; }
    100% {
      left: -200%; } 
}

/*----- expand -----*/
.expand{ background: #fff; padding: 40px 0;}
.expand_content{ padding: 0 130px;}
.accordion > input[type="checkbox"] { position: absolute; left: -100vw;}
.accordion .content { overflow-y: hidden; max-height: 0; transition: max-height 0.3s ease-out; padding: 0 140px 0; background: #fff; position: relative; z-index: 1;}
.accordion .content .padding{ padding: 40px 0 0;}
.accordion .content .padding .expandPic{ width: 334px;}
.accordion .content .padding .expandTxt{ width: 55%; margin-left: 60px;}
.accordion .content .padding .expandTxt .tit{ color: #006835; font-size: 1.5rem; font-weight: bold; margin-bottom: 20px;}
.accordion > input[type="checkbox"]:checked ~ .content { max-height: 1000px; overflow: visible;}
.accordion label { display: block;}
.accordion { border-bottom: 1px solid #a7a7a7; padding: 60px 0;}
.accordion:last-child{ border-bottom: none;}
.accordion > input[type="checkbox"]:checked ~ .content { padding: 0 140px 0; border-top: 0;}
.accordion .handle { font-size: 2.25em;}
.accordion .handle span{ color: #ed6c00;}
.accordion label { color: #2a2a2a; cursor: pointer; font-weight: normal; position: relative;}
.accordion label:hover,
.accordion label:focus {}
.accordion .handle label:before { font-family: 'fontawesome'; content: "\f055  看更多"; display: inline-block; margin-right: 10px; font-size: 1.125rem; vertical-align: middle; position: absolute; right: 0; color: #006835; font-weight: bold;}
.accordion > input[type="checkbox"]:checked ~ .handle label:before { content: "\f056  收合";}

/*----- action -----*/
.action{ background-image: url(../images/bg_action.jpg); background-repeat: no-repeat; background-position: center; height: 680px; text-align: center; padding: 140px 0; color: #fff; letter-spacing: 1px;}
.action dt{ font-size: 3.75rem; line-height: 1.2;}
.action dt span{ color: #ed6c00;}
.action dd{ background: #ed6c00; font-size: 2.25rem; width: 35%; margin: 30px auto 50px; padding: 5px 0;}
.action dd span{ margin: 0 8px;}
.action p{ color: #fff; width: 30%; margin: 0 auto;}

/*----- books -----*/
.books{ background: #fff; padding: 120px 0 40px; position: relative; }
.title_books{ width: 699px; position: absolute; top: -40px; right: 120px;}
.boos_content{ width: 850px; margin: 0 auto; position: relative;}
.boos_content a{ cursor: pointer;}
.boos_content a .books_box img{transition: all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;
  -moz-transition:all .5s ease;}
.boos_content a:hover .books_box img{-webkit-box-shadow: 10px 3px 30px rgba(127, 127, 127, 0.4); -moz-box-shadow: 10px 3px 30px rgba(127, 127, 127, 0.4); box-shadow: 10px 3px 30px rgba(127, 127, 127, 0.4);}
.books_box{ float: left; padding: 0 60px; width: 50%; margin-bottom: 80px;}
.boos_content a:nth-child(even) .books_box{margin-top: 60px;}
.books_box dl dt{ font-size: 1.5rem; color: #006835; text-decoration: underline; font-weight: bold; letter-spacing: 2px; margin: 30px 0 20px;}
.books_box dl dd{ font-size: 1.125rem; line-height: 1.5; color: #2a2a2a;}
.d_box a{ display: block; border-radius: 20px;}
.d_box a:hover{ -webkit-box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3); -moz-box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3); box-shadow: 10px 3px 30px rgba(82, 123, 123, 0.3);}
.book_leaf1{ position: absolute; right: 0; top: -30px;}
.book_leaf2{ position: absolute; left: 0; bottom: -160px; z-index: 2;}

/*----- petition -----*/
.petition{ background: url(../images/bg_petition.jpg)50% 0 no-repeat fixed; text-align: center; padding: 140px 0; color: #fff; letter-spacing: 1px;}
.petition dt{ font-size: 2.75rem;}
.petition dt span{ display: inline-block; vertical-align: middle; margin: 0 10px;}
.petition dd, .join{ font-size: 1.5rem;}
.join{ background: #ed6c00; border-radius: 999px; color: #fff; padding: 15px 60px; font-weight: bold; margin-top: 50px; display: inline-block;}
.chr{ background: url(../images/bg_chr.jpg) center no-repeat; height: 500px; }
.chr_content{ padding: 120px 70px;}
.chr_tit{ font-size: 2.25rem; line-height: 1.5; margin-bottom: 50px;}

/*----- group -----*/





.page_result_c{ padding:100px 0 60px;background: url(../images/bg_quiz.jpg) repeat; }
.page_result a{ width: 29%; }

/*----- Responsive -----*/
@media screen and (max-width: 1500px){
.header{ padding: 7px 40px; }
.navigation li{ padding: 9px 0; }
.navigation li a{ font-size: 1rem; }	
.kv{ min-height: 880px;}
.title{ width: 700px; }

}

@media screen and (max-width: 1280px){
.header{ padding: 7px 30px;}
.navigation li{ margin: 0 5px; }
.logo{ width: 280px; }
.navigation li a{ font-size: 0.93rem; }
.kv{ min-height: 810px; padding-top: 50px;}
.contain{ width: 100%; padding: 0 40px; }
.sub{ font-size: 1.75rem; }
.quiz_c{ margin: 0 140px; }
.prevent{ margin-right: 42px; }
.page_result a{ width: 28%; }
}

@media screen and (max-width: 1023px){
.header ul, .k1, .k2, .logo{ display: none; }
span.logo{ width: 290px; display: block !important; margin:5px 0 5px 30px;}
.navigation{ float: none; }
.navigation li{ display: block; text-align: center; margin: 10px 7px; }
.navigation li a{ font-size: 1.25rem; }
.header {padding: 5px 0;}
.toggle-nav { padding:45px 12px 7px 15px; text-align: left; font-size:1.2rem; transition:color linear 0.15s; color: #fff;display: block;}
.c-hamburger{position: relative; overflow: hidden;}
.c-hamburger__line{ width: 25px; height: 4px;position: absolute;right: 30px;background-color: #493824;transition: transform 0.3s ease, top 0.3s ease 0.4s;
border-radius: 4px;}
.c-hamburger__line:nth-child(1){top: 17px;}
.c-hamburger__line:nth-child(2){top: 25px;}
.c-hamburger__line:nth-child(3){top: 33px;}
.is-open .c-hamburger__line{transition: top 0.3s ease, transform 0.3s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(1) ,.is-open .c-hamburger__line:nth-child(2){top: 23px;transform: rotate(135deg);
transition: top 0.3s ease, transform 0.4s ease 0.4s;}
.is-open .c-hamburger__line:nth-child(3){top: 23px;transform: rotate(225deg);}
.kv{ min-height: 870px; padding-top: 80px; background-attachment: inherit;}
.title{ width: 630px; }
.quiz_c{ margin: 0 10px; }
.prevent{ width: 42%; margin: 0 22px; }
.prevent:nth-child(2){ margin-top: 40px; }
.prevent:nth-child(3){ margin-top: 60px; }
.prevent:nth-child(4){ margin-top: 100px; margin-right: 0; }
.result_pic{ width: 90%; }
.UpDown-1, .UpDown-2, .UpDown-3{ animation-name: none !important;}
.quiz_option a:hover, .result .a_bt a:hover{ background: #493824; }
}

@media screen and (max-width: 767px){
.k1, .k2, .owl-theme .owl-nav, .pc{ display: none !important;}
.link_c, .m{ display: block; }
.kv{ min-height: 745px; padding-top: 60px; }
.stitle{ width: 330px; }
.title{ width: 85%; }
.sub{ margin-bottom: 10px; }
.p_contain{ width: 550px; }
.sub{ font-size: 1.5rem; }
.quiz, .info{ padding: 60px 0; }
.quiz_pic{ width: 80%; }
.quiz_option a, .link_box{ width: 100%; }
.progress{ margin: 40px 0; }
.prevent{ width: 44%; margin: 0 10px; }
.prevent:nth-child(2), .prevent:nth-child(3), .prevent:nth-child(4){ margin-top:20px; }
.prevent{ margin: 20px 10px; }
.prevent dt{ font-size: 1.25rem; margin: 20px 0 10px; }
.quiz_option a{ margin: 10px 0; }
.page_result_c p, .result_txt{ text-align: center !important; }
.result_pic{ width: 100%;}
}

@media screen and (max-width: 550px){
.kv{ min-height: 680px; padding-top: 80px; }
.contain{ padding: 0 30px; }
.title{ width: 90%; margin: 0 auto; }
.p_contain{ width: 100%; }
.sub{ letter-spacing: 0; }
.prevent{ width: 100%; margin: 20px 0; }
}

@media screen and (max-width: 414px){
span.logo{ width: 230px; margin: 10px 0 5px 20px; }
.kv{ padding-top: 90px; min-height: 590px;  }
.c-hamburger__line{ right: 20px; }
.contain{ padding: 0 30px; }
.title{ width: 95%; }
.progress{ margin: 30px 0 20px; }
.quiz_pic{ width: 80%; }
.quiz_option a{ margin: 5px 0; font-size: 1rem; }
.quiz_c{ margin: 0; }
.quiz, .info, .school, .link, .more, .page_result_c{ padding: 40px 0; }
.btn_float{ width: 100px; height: 167px; right: 10px; }
.btn_float a.fb{  left: 12px; top: 52px; width: 35px;}
.btn_float a.line{  right: 12px; top:52px; width: 35px;}
.quiz_option{ margin-top: 10px; }
.owl-carousel .owl-stage-outer{ padding-bottom: 0; }
.owl-theme .owl-dots{ margin: 10px 0 20px 0; }
}

@media screen and (max-width: 320px){
.kv{ padding-top: 20px; min-height: 450px; }
.sub{ font-size: 1.25rem;}
.quiz_option a{ font-size: 0.97rem; }
}


/*----- animation -----*/
.animated {
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
}

@keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-8%);}
  100% { opacity: 1;transform: translateY(0);}
}
@-webkit-keyframes fadeIndown {
  0% { opacity: 0;transform: translateY(-8%);}
  100% { opacity: 1;transform: translateY(0);}
}
.fadeIndown{
	animation-name: fadeIndown;
	-webkit-animation-name: fadeIndown;
	visibility: visible !important;
	animation-duration: 1;
	-webkit-animation-duration: 1s;
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translate3d(0, 10%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInUp {
  0% { opacity: 0; transform: translate3d(0, 10%, 0);}
  100% { opacity: 1; transform: none;}
}

.fadeInUp {
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 1;
  -webkit-animation-duration: 1s;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
.fadeIn-1, .fadeIn-2, .fadeIn-3, .fadeIn-4, .fadeIn-5, .fadeIn-6{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;
}
.fadeIn-1 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	visibility:visible !important;
}
.fadeIn-2 {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
.fadeIn-3 {
	animation-delay: 1.4s;
	-webkit-animation-delay: 1.4s;
}
.fadeIn-4 {
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
}
.fadeIn-5 {
	animation-delay: 1.8s;
	-webkit-animation-delay: 1.8s;
}
.fadeIn-6 {
	visibility:visible !important;
}

@keyframes UpDown {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
@-webkit-keyframes UpDown {
  0% { transform: translate3d(0, 10%, 0);}
  50% { transform: translate3d(0, 40%, 0);}
  100% { transform: translate3d(0, 10%, 0);}
}
.UpDown-1, .UpDown-2{
	animation-name: UpDown;
 	-webkit-animation-name: UpDown;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
.UpDown-1{
	animation-duration: 3.5s;
	-webkit-animation-duration: 3.5s;
}
.UpDown-2{
	animation-duration: 4s;
	-webkit-animation-duration: 4s;
}

@keyframes UpDown-3 {
  0% { transform: translate3d(0, 5%, 0);}
  50% { transform: translate3d(0, 15%, 0);}
  100% { transform: translate3d(0, 5%, 0);}
}
@-webkit-keyframes UpDown-3 {
  0% { transform: translate3d(0, 5%, 0);}
  50% { transform: translate3d(0, 15%, 0);}
  100% { transform: translate3d(0, 5%, 0);}
}
.UpDown-3{
	animation-name: UpDown-3;
 	-webkit-animation-name: UpDown-3;
 	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-duration: 3.5s;
	-webkit-animation-duration: 3.5s;
}

@keyframes fadeInDown-2 {
  0% { opacity: 0; transform: translate3d(0, -3%, 0);}
  100% { opacity: 1; transform: none;}
}
@-webkit-keyframes fadeInDown-2 {
  0% { opacity: 0; transform: translate3d(0, -3%, 0);}
  100% { opacity: 1; transform: none;}
}
.fadeInDown-2 {
	animation-name: fadeInDown-2;
 	-webkit-animation-name: fadeInDown-2;
 	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
 	visibility:visible !important;
}



/*----- footer -----*/
.footer{ padding: 30px 0; background: #b9a389;border-top: 1px #8d7c69 solid; }
#commonhealth_footer {}
.commonhealth_footer-channel {
  width: 100%;
  font-size: 0.9375rem;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
}
.commonhealth_footer-channel ul {
  margin: 0;
  padding: 0;
}
.commonhealth_footer-channel li {
  display: inline-block;
  border-right: 1px solid #493824;
  padding-right: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.commonhealth_footer-channel li a {
  color: #493824;
  text-decoration: none;
  position: relative;
}
.commonhealth_footer-channel li a:after {
  content: "";
  background-color: #493824;
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -3px;
  display: inline-block;
  transition: .3s;
}
.commonhealth_footer-channel li a:hover:after {
  width: 100%;
  left: 0;
}
.commonhealth_footer-channel li:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0;
}
.commonhealth_footer-channel a:hover {
  color: #000;
}
.commonhealth_footer-copyright {
  color: #493824;
  font-size: 0.875rem;
  font-size: 14px;
  text-align: center;
}
.commonhealth_footer-copyright a{
	color: #493824;
	text-decoration: underline;
}
.commonhealth_footer-copyright a:hover{
	color: #0f0901;
}
.commonhealth_footer-channel br, .commonhealth_footer-copyright br {
  display: none;
}
@media (max-width: 768px) {
  .commonhealth_footer-channel {
    font-size: 0.875rem;
    font-size: 14px;
  }
  .commonhealth_footer-channel li {
    padding-right: 5px;
    margin-right: 3px;
  }
  .commonhealth_footer-copyright {
    font-size: 0.8125rem;
    font-size: 13px;
    line-height: 1.5;
  }
  .commonhealth_footer-channel br, .commonhealth_footer-copyright br {
    display: inline-block;
  }
  .commonhealth_footer-channel li:nth-child(4) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}
@media (max-width: 320px) {
  .commonhealth_footer-channel, .commonhealth_footer-copyright {
    font-size: 0.75rem;
    font-size: 12px;
  }
}



